doc2/backup-.json
{
  "createdAt": "2025-07-10T16:46:30.107Z",
  "updatedAt": "2025-07-10T16:49:19.296Z",
  "id": "fqtni2Z15HvjXtEq",
  "name": "Backup",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        980,
        920
      ],
      "id": "806baf72-d642-4b8e-b514-8785bf22f6e2",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "name"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1600,
        920
      ],
      "id": "db6f24bb-eb79-4358-a1a7-b30bfe13c0db",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "operation": "toJson",
        "mode": "each",
        "options": {
          "format": true
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        2140,
        920
      ],
      "id": "4492c063-a7dc-4105-acdb-a8d7ce936a3a",
      "name": "Convert to File"
    },
    {
      "parameters": {
        "filters": {},
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.n8n",
      "typeVersion": 1,
      "position": [
        1880,
        920
      ],
      "id": "31774139-f2bd-4a0e-9224-b9ced1f45df2",
      "name": "Retrieve workflows",
      "credentials": {
        "n8nApi": {
          "id": "gq1jYLAHNyJIBleV",
          "name": "n8n account"
        }
      }
    },
    {
      "parameters": {
        "operation": "binaryToPropery",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        2440,
        920
      ],
      "id": "f948d227-d1de-43dd-875e-665ecd2c96cf",
      "name": "To base64"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $('Aggregate').item.json.name }}",
              "operation": "contains",
              "value2": "={{ $('Retrieve workflows').item.json.name.replace(/\\s+/g, '-').toLowerCase() }}-{{ $('Retrieve workflows').item.json.tags[0].name }}.json"
            }
          ]
        }
      },
      "id": "b8defa15-476f-4c51-a0a8-489c947f1908",
      "name": "Check if file exists",
      "type": "n8n-nodes-base.if",
      "position": [
        3080,
        920
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "517102d7-3348-49c3-b468-0e405c61acec",
              "name": "commitDate",
              "value": "={{ $now.format('dd-MM-yyyy/H:mm') }}",
              "type": "string"
            },
            {
              "id": "13fb6b5d-3230-47b9-8332-f9c600a96abc",
              "name": "fileName",
              "value": "={{ $('Retrieve workflows').item.json.name.replace(/\\s+/g, '-').toLowerCase() }}-{{ $('Retrieve workflows').item.json.tags[0].name }}.json",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2800,
        920
      ],
      "id": "b6761f13-b0df-45d0-b22d-834682959052",
      "name": "Commit date & file name"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "file",
        "operation": "edit",
        "owner": {
          "__rl": true,
          "value": "Ndt-git",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "N8N",
          "mode": "list",
          "cachedResultName": "N8N",
          "cachedResultUrl": "https://github.com/Ndt-git/N8N"
        },
        "filePath": "=doc2/{{ $('Retrieve workflows').item.json.name.replace(/\\s+/g, '-').toLowerCase() }}-{{ $('Retrieve workflows').item.json.tags[0].name }}.json",
        "fileContent": "={{ $('To base64').item.json.data }}",
        "commitMessage": "=backup-{{ $('Commit date & file name').item.json.commitDate }}"
      },
      "id": "8b921d83-b62c-4c95-bdb5-62da1283c6a0",
      "name": "Update file",
      "type": "n8n-nodes-base.github",
      "position": [
        3520,
        320
      ],
      "webhookId": "27218087-8df7-474d-a39f-70cfa9c34ec8",
      "typeVersion": 1,
      "credentials": {
        "githubOAuth2Api": {
          "id": "JvteWRnEaAahgk5E",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "file",
        "owner": {
          "__rl": true,
          "value": "Ndt-git",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "N8N",
          "mode": "list",
          "cachedResultName": "N8N",
          "cachedResultUrl": "https://github.com/Ndt-git/N8N"
        },
        "filePath": "=doc2/{{ $('Retrieve workflows').item.json.name.replace(/\\s+/g, '-').toLowerCase() }}-{{ $('Retrieve workflows').item.json.tags[0].name }}.json",
        "fileContent": "={{ $('To base64').item.json.data }}",
        "commitMessage": "=backup-{{ $node['Commit date & file name'].json.commitDate }}"
      },
      "id": "5f59c5c3-5997-4d85-a860-8fc8e77a1187",
      "name": "Upload file",
      "type": "n8n-nodes-base.github",
      "position": [
        3560,
        900
      ],
      "webhookId": "ce4b561b-acb9-4cd8-b76f-4928dada9674",
      "typeVersion": 1,
      "credentials": {
        "githubOAuth2Api": {
          "id": "JvteWRnEaAahgk5E",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "content": "## 2. GitHub - List repository files\n\n### Lista todos os arquivos existentes no repositorio GitHub\nObjetivo: Verificar quais workflows ja possuem backup\nConfiguracao:\n\nRepository: \nOwner: \nBranch: ",
        "height": 480,
        "width": 260,
        "color": 4
      },
      "id": "e09e3ad4-d11b-4e00-b9c6-3210e58bad21",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1220,
        600
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## 1. Schedule Trigger\n\n### Inicia o workflow automaticamente em horarios programados\nObjetivo: Executar backup diario sem intervencao manual\nConfiguracao: Diario as 00:00",
        "height": 480,
        "width": 260
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        920,
        600
      ],
      "id": "761cb532-4911-4cda-8a6a-20efe5504ce1",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## 3. Aggregate\n\n### Consolida a lista de nomes de arquivos em um unico item\nObjetivo: Simplificar consultas posteriores para verificacao de existencia\nConfiguracao:\n\nField: name\nMode: Individual Fields",
        "height": 480,
        "color": 3
      },
      "id": "8a5242d7-7fe1-4886-be8d-963363ad0b7b",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1520,
        600
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## 4. Retrieve workflows\n\n### Busca todos os workflows ativos da instancia n8n\nObjetivo: Coletar dados completos de cada workflow para backup\nConfiguracao:\n\nResource: Workflow\nOperation: Get Many\nReturn All: Ativado",
        "height": 480,
        "width": 260,
        "color": 6
      },
      "id": "5c7f2d86-8de8-41f4-908d-d53e177ee2f2",
      "name": "Sticky Note5",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1800,
        600
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## 5. Convert to File\n\n### Transforma dados JSON em arquivos estruturados\nObjetivo: Preparar cada workflow como arquivo individual\nConfiguracao:\n\nOperation: Convert to JSON\nMode: Each Item to Separate File\nFormat: Ativado",
        "height": 480,
        "width": 260,
        "color": 5
      },
      "id": "8d1e34a4-7cb1-4842-abdb-ea40760c4b47",
      "name": "Sticky Note6",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2080,
        600
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## 6. To base64\n\n### Codifica arquivo em base64\nObjetivo: Formato exigido pela API do GitHub para upload\nConfiguracao:\n\nOperation: Move File to Base64 String\nInput Field: data",
        "height": 480,
        "width": 260,
        "color": 2
      },
      "id": "197d4ff0-4d20-4bab-bd61-6f2ad7316790",
      "name": "Sticky Note7",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2400,
        600
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## 7. Commit date & file name\n\n### Gera timestamp e nome padronizado do arquivo\nObjetivo: Criar metadados para organizacao e rastreabilidade\nConfiguracao:\n\ncommitDate: {{ $now.format('dd-MM-yyyy/HH:mm') }}\nfileName: {{ workflow.name + tag }}.json",
        "height": 480,
        "width": 260,
        "color": 4
      },
      "id": "fe916d18-3032-41a0-951e-5df5c9fe4cf4",
      "name": "Sticky Note8",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2700,
        600
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## 8. Check if file exists\n\n### Verifica se arquivo ja existe no repositorio\nObjetivo: Decidir entre criar novo arquivo ou atualizar existente\nConfiguracao:\n\nCondition: Contains\nValue 1: Lista agregada de arquivos\nValue 2: Nome do arquivo atual",
        "height": 480,
        "width": 260,
        "color": 5
      },
      "id": "b352a3ba-b0c6-46f8-99da-a42eae5bf1dc",
      "name": "Sticky Note9",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3000,
        600
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## 9. Update file (Branch TRUE)\n\n### Atualiza arquivo existente no GitHub\nObjetivo: Sobrescrever backup com versao mais recente\nConfiguracao:\n\nOperation: Edit\nFile Path: doc2/{{ fileName }}\nContent: Base64 data\nCommit Message: backup-{{ commitDate }}",
        "height": 480,
        "width": 360,
        "color": 3
      },
      "id": "c44fe67f-1cb7-4dd3-a9cf-84906fba5b3d",
      "name": "Sticky Note10",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3420,
        0
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## 10. Upload file (Branch FALSE)\n\n### Cria novo arquivo no GitHub\nObjetivo: Fazer primeiro backup de workflow novo\nConfiguracao:\n\nOperation: Create\nFile Path: doc2/{{ fileName }}\nContent: Base64 data\nCommit Message: backup-{{ commitDate }}",
        "height": 480,
        "width": 360,
        "color": 6
      },
      "id": "aeddd244-7d28-4665-bd7c-5d72d5f6da51",
      "name": "Sticky Note11",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3440,
        600
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "# Resumo do Fluxo {N8N Backup GitHub}\n# Schedule → List Files → Aggregate → Get Workflows → Convert → Base64 → Set Metadata → IF Exists → Update/Create\n# Resultado: Sistema automatizado que faz backup diario de todos os workflows n8n no GitHub com controle de versao completo.\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n# Criador Digital",
        "height": 480,
        "width": 2220,
        "color": 6
      },
      "id": "7cc6feac-6c83-4f99-9f1b-3fce14d993ab",
      "name": "Sticky Note12",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        900,
        0
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "# Requisitos - Fluxo de Backup n8n para GitHub\n\n## 1. Instancia n8n\n- n8n ativo (self-hosted ou cloud)\n- API habilitada\n- Pelo menos 1 workflow ativo\n\n## 2. Conta GitHub\n- Conta ativa\n- Repositorio criado\n- Acesso de escrita ao repositorio\n\n## 3. Personal Access Token GitHub\n- Token com permissao **repo**\n- Acesso de leitura/escrita ao repositorio\n- Token valido e nao expirado\n\n## 4. API Key n8n\n- Chave gerada em Settings > API Keys\n- Permissao de leitura de workflows\n- Conectividade com a instancia\n\n## 5. Conectividade\n- Internet estavel\n- Acesso a api.github.com\n- Acesso a instancia n8n\n\n## 6. Informacoes de Configuracao\n- Owner do repositorio GitHub\n- Nome do repositorio\n- Branch (main/master)\n- URL da instancia n8n\n\n## Checklist Rapido\n- [ ] n8n funcionando\n- [ ] Repositorio GitHub criado  \n- [ ] Personal Access Token gerado\n- [ ] API Key n8n criada\n- [ ] Credenciais testadas\n- [ ] Conectividade OK",
        "height": 1080,
        "width": 860,
        "color": 2
      },
      "id": "105e880e-d10b-4d90-8ba9-63d13261855c",
      "name": "Sticky Note13",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        0
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "file",
        "operation": "list",
        "owner": {
          "__rl": true,
          "value": "https://github.com/Ndt-git",
          "mode": "url"
        },
        "repository": {
          "__rl": true,
          "value": "N8N",
          "mode": "list",
          "cachedResultName": "N8N",
          "cachedResultUrl": "https://github.com/Ndt-git/N8N"
        }
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        1300,
        920
      ],
      "id": "20993ce2-07e9-4887-b6f9-8052458f80bf",
      "name": "List files",
      "webhookId": "915b3908-14fe-4a55-88b5-b8748cc20b73",
      "credentials": {
        "githubOAuth2Api": {
          "id": "JvteWRnEaAahgk5E",
          "name": "GitHub account"
        }
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "List files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Retrieve workflows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "To base64",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retrieve workflows": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "To base64": {
      "main": [
        [
          {
            "node": "Commit date & file name",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check if file exists": {
      "main": [
        [
          {
            "node": "Update file",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Upload file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Commit date & file name": {
      "main": [
        [
          {
            "node": "Check if file exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List files": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "1c059e19-b997-40b9-a54e-0dccb0b565d2",
  "triggerCount": 0,
  "tags": []
}