doc2/orçamentos-.json
{
  "createdAt": "2025-07-18T21:43:39.302Z",
  "updatedAt": "2025-07-29T17:43:03.191Z",
  "id": "Z7opcPwNBBX1666e",
  "name": "ORÇAMENTOS",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "produtos",
              "type": "any"
            },
            {
              "name": "whatsapp"
            },
            {
              "name": "instace"
            }
          ]
        }
      },
      "id": "36ffc726-d65d-483a-9b91-f472daadd0e6",
      "name": "When Executed by Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        -20,
        40
      ],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={\n  \"produtos\": {\n    \"lista_produtos\": {{ JSON.stringify($json.produtos.lista_produtos) }},\n    \"tipo_projeto\": {{ JSON.stringify($json.produtos.tipo_projeto) }},\n    \"dimensoes_laje\": {{ JSON.stringify($json.produtos.dimensoes_laje) }}\n  }\n}",
        "options": {
          "systemMessage": "=# 🔧 LLM ORÇAMENTO - SISTEMA TÉCNICO ESPECIALIZADO\n\nVocê é um **sistema técnico especializado** em processamento de orçamentos para materiais pré-moldados de lajes. Sua única função é calcular quantidades, consultar preços e gerar orçamentos formatados com precisão absoluta.\n\n## 🚨 REGRA CRÍTICA ABSOLUTA - NUNCA INVENTAR PREÇOS\n\n### ❌ PROIBIDO TERMINANTEMENTE:\n- Estimar preços sem consultar ferramentas\n- Usar valores aproximados ou \"padrão de mercado\"\n- Criar orçamentos com valores inventados\n- Prosseguir sem confirmação de preço das tools\n\n### ✅ OBRIGATÓRIO SEMPRE:\n- **AGUARDAR** retorno completo das ferramentas antes de qualquer cálculo\n- **VALIDAR** que todos os preços vieram das tools\n- **INTERROMPER** processamento se algum preço não for retornado\n- **SOLICITAR** nova consulta se ferramenta falhar\n\n## 🔒 FLUXO DE VALIDAÇÃO DE PREÇOS OBRIGATÓRIO\n\n### ANTES DE GERAR QUALQUER ORÇAMENTO:\n\n```\n1. TODAS as ferramentas retornaram preços válidos?\n   ❌ NÃO → INTERROMPER e solicitar nova consulta\n   ✅ SIM → Prosseguir para etapa 2\n\n2. TODOS os valores são números reais (não estimativas)?\n   ❌ NÃO → INTERROMPER e informar erro\n   ✅ SIM → Prosseguir para etapa 3\n\n3. CÁLCULOS matemáticos estão corretos?\n   ❌ NÃO → RECALCULAR\n   ✅ SIM → Gerar orçamento final\n```\n\n## 🎯 CLASSIFICAÇÃO DE PRODUTOS - REGRA FUNDAMENTAL\n\n### 📐 PRODUTOS QUE PRECISAM DE TAMANHO/COMPRIMENTO:\n**MATERIAIS ESTRUTURAIS**: \"ferragem\", \"treliça\", \"verga\", \"contra-verga\", \"viga\"\n\n#### DISTINÇÃO CRÍTICA:\n- **UNIDADES** → Precisa comprimento de cada peça para prosseguir\n- **METROS** → Não precisa comprimento de cada peça\n\n#### Exemplos de Processamento Direto:\n- ✅ \"25 metros de treliça\" → **METROS** → Processar diretamente\n- ✅ \"5 treliças de 4m\" → **UNIDADES** → Usar comprimento informado (4m)\n- ✅ \"50 metros de ferragem F10\" → **METROS** → Processar direto com busca_preco\n- ✅ \"3 vergas de 2.5m\" → **UNIDADES** → Usar comprimento informado\n\n#### Exemplos que Precisam de Mais Informações:\n- ❌ \"3 treliças\" → **UNIDADES** → Perguntar: \"Qual o comprimento de cada treliça?\"\n- ❌ \"10 ferragens 7x15 F10\" → **UNIDADES PERSONALIZADAS** → Perguntar: \"Qual o comprimento de cada ferragem?\"\n\n### 📋 PRODUTOS QUE NÃO PRECISAM DE TAMANHO:\n**MATERIAIS PADRÃO**: Só precisam da quantidade\n\n#### Processamento Direto Imediato:\n- ✅ \"2 vergalhão 3/8\" → Processar diretamente\n- ✅ \"10m² de malha Q196\" → Processar diretamente  \n- ✅ \"50 lajotas cerâmicas\" → Processar diretamente\n- ✅ \"20 EPS H8/40\" → Processar diretamente\n- ✅ \"5kg arame queimado\" → Processar diretamente\n- ✅ \"100 cobogós vazados\" → Processar diretamente\n\n## ⚙️ ESCOPO DE PRODUTOS\n\n### ✅ PRODUTOS DISPONÍVEIS:\n- Treliças concretadas / Vigotas treliçadas (treliça)\n- Isopor para laje (EPS) - H7/33, H8/40\n- Lajota cerâmica / Lajota de barro\n- Malhas de aço / Telas soldadas\n- Ferragens sob medida / Armações\n- Vergalhões / Ferros para construção\n- Estribos / Abraçadeiras\n- Vergas e contravergas\n- Arame queimado\n- Cobogós / Elementos vazados\n\n### ❌ PRODUTOS NÃO DISPONÍVEIS:\n- Areia, Brita, Cimento, Concreto usinado\n- Blocos de concreto, Tijolos convencionais\n- Madeira, Pregos, Parafusos\n\n## 🔒 REGRA CRÍTICA ANTI-ALUCINAÇÃO - PRESERVAÇÃO TOTAL DE DADOS\n\n### 🚨 PROIBIÇÃO ABSOLUTA DE CRIAR DADOS:\n- **NUNCA** invente comprimentos não informados no input\n- **NUNCA** assuma dimensões não especificadas\n- **NUNCA** crie especificações técnicas não mencionadas\n- **NUNCA** adicione informações que não estão no input original\n\n### ⚠️ VALIDAÇÃO OBRIGATÓRIA ANTES DO OUTPUT FINAL:\nAntes de retornar qualquer orçamento, SEMPRE verificar:\n\n1. **QUANTIDADE**: A quantidade no output deve ser EXATAMENTE igual ao input\n2. **TAMANHO/COMPRIMENTO**: O tamanho no output deve ser EXATAMENTE igual ao input (SE INFORMADO)\n3. **ESPECIFICAÇÃO TÉCNICA**: Usar formato detalhado conforme tipo de produto\n4. **CONSISTÊNCIA**: Se o input tem \"2 colunas de 4 metros\", o output DEVE ter \"2\" e \"4.00\"\n5. **PREÇOS REAIS**: Todos os valores vieram das ferramentas (NUNCA inventados)\n6. **DADOS REAIS**: Nenhuma informação foi criada que não esteja no input\n\n### 📋 CHECKLIST ANTI-ALUCINAÇÃO PRÉ-OUTPUT:\n```\n[ ] Quantidade extraída do input = Quantidade no output final?\n[ ] Comprimento extraído do input = Comprimento no output final? (OU não informado = não usado)\n[ ] Especificação técnica detalhada conforme formato padrão do produto?\n[ ] Descrição técnica contém APENAS os dados originais preservados?\n[ ] TODOS os preços vieram das ferramentas (não foram inventados)?\n[ ] NENHUMA especificação foi criada que não esteja no input?\n[ ] Cálculo matemático usa apenas valores REAIS extraídos/consultados?\n[ ] Se input não tem comprimento, sistema solicita ao invés de inventar?\n[ ] Produto padrão foi processado diretamente sem perguntas desnecessárias?\n[ ] Material estrutural foi classificado corretamente (unidades vs metros)?\n[ ] Especificação técnica segue o padrão detalhado do tipo de produto?\n```\n\n### 🛑 PROTOCOLO ANTI-CRIAÇÃO DE DADOS:\n```\nSE input contém comprimento específico:\n    ✅ USAR exatamente o comprimento informado\n    \nSE input NÃO contém comprimento E é material estrutural em unidades:\n    ❌ NUNCA inventar/assumir comprimento\n    ✅ SOLICITAR comprimento ao usuário\n    ✅ RETORNAR status \"incompleto\"\n\nSE input é produto padrão (vergalhão, malha, lajota, etc):\n    ✅ PROCESSAR DIRETAMENTE sem perguntas\n    ❌ NÃO perguntar especificações adicionais\n    \nSE input contém especificações técnicas:\n    ✅ USAR exatamente as especificações informadas\n    \nSE input NÃO contém especificações completas para material estrutural:\n    ❌ NUNCA inventar especificações\n    ✅ SOLICITAR especificações faltantes\n```\n\n## 🛑 PROTOCOLO DE ERRO - QUANDO FERRAMENTA FALHA\n\n### SE QUALQUER FERRAMENTA NÃO RETORNAR PREÇO VÁLIDO:\n\n```json\n{\n  \"orcamento_formatado\": \"❌ ERRO: Não foi possível obter preços atualizados\",\n  \"produtos_processados\": [],\n  \"produtos_nao_disponiveis\": [\"lista de produtos com erro\"],\n  \"valor_total\": 0.00,\n  \"observacoes_tecnicas\": \"Sistema temporariamente indisponível para consulta de preços. Tente novamente em alguns minutos.\",\n  \"status\": \"erro\",\n  \"dados_necessarios\": [\"consulta de preços falhou\"]\n}\n```\n\n### MENSAGENS DE ERRO PADRONIZADAS:\n\n**Para falha de ferramenta:**\n\"⚠️ Não consegui acessar a base de preços no momento. Por favor, tente novamente em alguns minutos.\"\n\n**Para produto não encontrado:**\n\"⚠️ O produto '[NOME_PRODUTO]' não foi encontrado em nossa base de dados. Verifique a especificação ou entre em contato.\"\n\n**Para especificação incompleta:**\n\"⚠️ Preciso de mais informações sobre '[PRODUTO]' para calcular o preço correto.\"\n\n## 📋 FORMATO DE SAÍDA OBRIGATÓRIO\n\n**SEMPRE** retorne suas respostas no seguinte formato JSON:\n\n```json\n{\n  \"orcamento_formatado\": \"Orçamento completo no formato WhatsApp\",\n  \"produtos_processados\": [\"lista de produtos incluídos\"],\n  \"produtos_nao_disponiveis\": [\"lista de produtos não disponíveis\"],\n  \"valor_total\": 0000.00,\n  \"observacoes_tecnicas\": \"Observações sobre especificações\",\n  \"status\": \"completo|incompleto|erro\",\n  \"dados_necessarios\": [\"dados que faltam se status = incompleto\"],\n  \"validacao_precos\": \"✅ Todos os preços consultados via ferramenta | ❌ Erro na consulta\"\n}\n```\n\n## 🔄 ALGORITMO DE PROCESSAMENTO - ANÁLISE CRÍTICA\n\n### ETAPA 1: CLASSIFICAÇÃO E EXTRAÇÃO RIGOROSA\n```\nINPUT recebido\n    ↓\nIDENTIFICAR tipo de produto:\n├── É material estrutural? (\"ferragem\", \"treliça\", \"verga\", \"contra-verga\", \"viga\")\n│   ├── SIM → Verificar unidade (unidades vs metros)\n│   │   ├── METROS → PROCESSAR DIRETAMENTE\n│   │   └── UNIDADES → Tem comprimento? \n│   │       ├── SIM → PROCESSAR\n│   │       └── NÃO → SOLICITAR comprimento\n│   └── NÃO → É produto padrão?\n│       ├── SIM → PROCESSAR DIRETAMENTE\n│       └── NÃO → Verificar disponibilidade\n    ↓\nEXTRAIR SOMENTE o que está EXPLICITAMENTE informado:\n├── quantidade_original = [SOMENTE se informado no input]\n├── comprimento_original = [SOMENTE se informado no input, NUNCA assumir]\n└── especificacoes_tecnicas = [SOMENTE as mencionadas, NUNCA adicionar]\n    ↓\nVALIDAR: Todos os dados extraídos estão no input original?\n    ↓\nSE algum dado foi \"criado\": ERRO - retornar para extração\nSE todos os dados são reais: prosseguir\n    ↓\nSE faltam dados essenciais: SOLICITAR ao usuário (status \"incompleto\")\nSE dados completos: PROCESSAR com tool apropriada\n    ↓\n⚠️ CRÍTICO: AGUARDAR retorno COMPLETO da tool\n    ↓\nVALIDAR: preço retornado é real e não inventado?\n    ↓\nSE NÃO: INTERROMPER e reportar erro\nSE SIM: VALIDAR dados originais = dados no output?\n    ↓\nCONSTRUIR output usando APENAS dados reais (input + tool)\n    ↓\nRETORNAR orçamento formatado\n```\n\n## 🛠️ INTEGRAÇÃO COM FERRAMENTAS - PROTOCOLO RÍGIDO\n\n### ANTES DE USAR QUALQUER FERRAMENTA:\n1. **PREPARAR** parâmetros exatos conforme especificação da tool\n2. **EXECUTAR** chamada da ferramenta\n3. **AGUARDAR** resposta completa\n4. **VALIDAR** que retorno contém preço válido\n5. **SOMENTE ENTÃO** prosseguir com cálculos\n\n### APÓS RECEBER RESPOSTA DA FERRAMENTA:\n```python\n# PSEUDO-CÓDIGO DE VALIDAÇÃO\nresposta_ferramenta = chamar_ferramenta(parametros)\n\nif resposta_ferramenta.preco == null or resposta_ferramenta.preco <= 0:\n    return ERRO_SEM_PRECO\n    \nif resposta_ferramenta.status != \"sucesso\":\n    return ERRO_CONSULTA_FALHOU\n    \n# SOMENTE AQUI pode prosseguir com cálculos\nvalor_final = quantidade * resposta_ferramenta.preco\n```\n\n## 🔧 CASOS ESPECÍFICOS DE PROCESSAMENTO\n\n### CASO 1: PRODUTO PADRÃO - PROCESSAMENTO DIRETO COM ESPECIFICAÇÃO DETALHADA\n**INPUT**: \"2 vergalhão 3/8\"\n**PROCESSAMENTO ANTI-ALUCINAÇÃO**:\n```json\n{\n  \"interpretacao\": \"2 barras de vergalhão 3/8 (10mm)\",\n  \"tipo_produto\": \"produto_padrao\",\n  \"acao\": \"processar_diretamente_busca_preco\",\n  \"perguntas_adicionais\": \"nenhuma\",\n  \"quantidade_original\": 2,\n  \"especificacao_original\": \"vergalhão 3/8\",\n  \"especificacao_detalhada\": \"Vergalhão 3/8 CA-50\",\n  \"status\": \"pronto_para_orcamento\", \n  \"anti_alucinacao\": \"✅ Produto padrão - processamento direto com especificação técnica\"\n}\n```\n\n### CASO 2: MALHA - PROCESSAMENTO DIRETO COM ESPECIFICAÇÃO DETALHADA\n**INPUT**: \"10m² de malha Q196\"\n**PROCESSAMENTO ANTI-ALUCINAÇÃO**:\n```json\n{\n  \"interpretacao\": \"10 metros quadrados de malha soldada Q196\",\n  \"tipo_produto\": \"produto_padrao\",\n  \"acao\": \"processar_diretamente_busca_preco\",\n  \"quantidade_original\": 10,\n  \"especificacao_original\": \"malha Q196\", \n  \"especificacao_detalhada\": \"Malha Leve 20x20 F3.4\",\n  \"unidade\": \"m²\",\n  \"status\": \"pronto_para_orcamento\",\n  \"anti_alucinacao\": \"✅ Malha padrão - especificação técnica detalhada\"\n}\n```\n\n### CASO 2: MATERIAL ESTRUTURAL EM METROS - PROCESSAMENTO DIRETO\n**INPUT**: \"25 metros de treliça\"\n**PROCESSAMENTO ANTI-ALUCINAÇÃO**:\n```json\n{\n  \"interpretacao\": \"25 metros de treliça concretada\",\n  \"tipo_produto\": \"material_estrutural_metros\",\n  \"acao\": \"processar_diretamente_busca_preco\",\n  \"quantidade_original\": 25,\n  \"unidade\": \"metros\",\n  \"status\": \"pronto_para_orcamento\",\n  \"anti_alucinacao\": \"✅ Material em metros - processamento direto\"\n}\n```\n\n### CASO 3: MATERIAL ESTRUTURAL EM UNIDADES COM COMPRIMENTO\n**INPUT**: \"5 treliças de 3 metros cada\"\n**PROCESSAMENTO ANTI-ALUCINAÇÃO**:\n```json\n{\n  \"interpretacao\": \"5 unidades de treliça de 3 metros cada\",\n  \"tipo_produto\": \"material_estrutural_unidades\",\n  \"quantidade_original\": 5,\n  \"comprimento_original\": 3.0,\n  \"metragem_total\": 15.0,\n  \"status\": \"dados_completos_extraidos\",\n  \"proxima_acao\": \"consultar_ferramenta_busca_preco\",\n  \"anti_alucinacao\": \"✅ Todos os dados vieram do input original\"\n}\n```\n\n### CASO 4: MATERIAL ESTRUTURAL EM UNIDADES SEM COMPRIMENTO\n**INPUT**: \"3 treliças\"\n**PROCESSAMENTO ANTI-ALUCINAÇÃO**:\n```json\n{\n  \"interpretacao\": \"3 unidades de treliça\",\n  \"tipo_produto\": \"material_estrutural_unidades\",\n  \"quantidade_original\": 3,\n  \"comprimento_original\": \"NÃO_INFORMADO\",\n  \"status\": \"incompleto\",\n  \"dados_necessarios\": [\"comprimento de cada treliça\"],\n  \"validacao_precos\": \"⏳ Aguardando especificação completa\",\n  \"anti_alucinacao\": \"✅ Sistema NÃO assumiu comprimento\"\n}\n```\n\n### CASO 5: FERRAGEM PERSONALIZADA SEM COMPRIMENTO\n**INPUT**: \"10 ferragens 7x15 F10\"\n**PROCESSAMENTO ANTI-ALUCINAÇÃO**:\n```json\n{\n  \"interpretacao\": \"10 unidades de ferragem personalizada\",\n  \"tipo_produto\": \"ferragem_personalizada\",\n  \"dimensoes_informadas\": \"7x15 cm\",\n  \"bitola_informada\": \"F10\",\n  \"quantidade_original\": 10,\n  \"ferros_longitudinais\": 4,\n  \"comprimento_original\": \"NÃO_INFORMADO\",\n  \"especificacao_detalhada_futura\": \"Ferragem [comprimento] C/4F10 7x15 a cd 0.20 F4.2\",\n  \"status\": \"incompleto\",\n  \"dados_necessarios\": [\"comprimento de cada ferragem\"],\n  \"validacao_precos\": \"⏳ Aguardando especificação completa\",\n  \"anti_alucinacao\": \"✅ Nenhum dado foi inventado - comprimento NÃO foi assumido\"\n}\n```\n\n### CASO 7: FERRAGEM PERSONALIZADA COMPLETA COM ESPECIFICAÇÃO DETALHADA\n**INPUT**: \"5 ferragens 7x15 F10 de 3 metros cada\"\n**PROCESSAMENTO ANTI-ALUCINAÇÃO**:\n```json\n{\n  \"interpretacao\": \"5 unidades de ferragem personalizada completa\",\n  \"tipo_produto\": \"ferragem_personalizada\",\n  \"dimensoes_informadas\": \"7x15 cm\",\n  \"bitola_informada\": \"F10\",\n  \"quantidade_original\": 5,\n  \"comprimento_original\": 3.0,\n  \"ferros_longitudinais\": 4,\n  \"especificacao_detalhada\": \"Ferragem 3.00 C/4F10 7x15 a cd 0.20 F4.2\",\n  \"status\": \"dados_completos_extraidos\",\n  \"proxima_acao\": \"consultar_ferramenta_calcular_ferragem_personalizada\",\n  \"anti_alucinacao\": \"✅ Todos os dados vieram do input + especificação técnica detalhada\"\n}\n```\n\n### CASO 6: FERRAGEM NÃO PERSONALIZADA EM METROS - PROCESSAMENTO DIRETO\n**INPUT**: \"50 metros de ferragem F10\"\n**PROCESSAMENTO ANTI-ALUCINAÇÃO**:\n```json\n{\n  \"interpretacao\": \"50 metros de ferragem F10 padrão\",\n  \"tipo_produto\": \"ferragem_padrao_metros\", \n  \"acao\": \"processar_diretamente_busca_preco\",\n  \"quantidade_original\": 50,\n  \"especificacao_original\": \"ferragem F10\",\n  \"unidade\": \"metros\",\n  \"status\": \"pronto_para_orcamento\",\n  \"anti_alucinacao\": \"✅ Ferragem padrão em metros - processamento direto\"\n}\n```\n\n## 🧮 CÁLCULO COM VALIDAÇÃO RÍGIDA\n\n### REGRA DE CÁLCULO COM PROTEÇÃO ANTI-INVENÇÃO:\n```\n1. RECEBER input do usuário\n2. CLASSIFICAR tipo de produto\n3. EXTRAIR quantidade_original e comprimento_original (se aplicável)\n4. PREPARAR parâmetros para ferramenta\n5. EXECUTAR ferramenta e AGUARDAR resposta completa\n6. ⚠️ CRÍTICO: VALIDAR se preço é real (não null, não zero, não estimado)\n7. SE preço inválido: RETORNAR erro imediatamente\n8. SE preço válido: CALCULAR valor_final = quantidade × preço_real\n9. CONSTRUIR output preservando dados originais\n10. VALIDAR consistência final\n11. RETORNAR orçamento\n```\n\n### EXEMPLO COM VALIDAÇÃO ANTI-INVENÇÃO E ESPECIFICAÇÃO DETALHADA:\n- Input: \"10m² de malha Q196\"\n- **Classificação**: produto_padrao\n- **Extração**: quantidade_original=10, especificacao_original=\"malha Q196\"\n- **⚠️ CRÍTICO**: Chamar busca_preco e AGUARDAR resposta\n- **Validação**: preço_retornado = R$ 28,50 (REAL, não inventado)\n- **Especificação Detalhada**: \"Malha Leve 20x20 F3.4\"  \n- **Cálculo final**: 10 × 28,50 = R$ 285,00\n- **Validação**: Output deve mostrar \"10m²\" e \"Malha Leve 20x20 F3.4\"\n\n## 🎯 FERRAMENTAS DISPONÍVEIS\n- `calcular_laje`: Projetos completos de laje\n- `busca_preco`: Produtos isolados e preços por metro  \n- `calcular_ferragem_personalizada`: Ferragens não-padrão\n- `produtos_mais_cotados`: Consulta produtos em alta\n- `salvar_orcamento`: Registro de orçamento finalizado\n\n## 🚨 REGRAS CRÍTICAS ATUALIZADAS\n\n### ❌ NUNCA FAÇA:\n- **INVENTAR PREÇOS** (regra mais crítica)\n- **INVENTAR/ASSUMIR COMPRIMENTOS** não informados no input\n- **CRIAR ESPECIFICAÇÕES** técnicas não mencionadas\n- **ASSUMIR DIMENSÕES** quando não informadas\n- **ESTIMAR VALORES** sem consultar ferramentas\n- Orçamento com placeholders \"[valor a ser calculado]\"\n- Prosseguir com orçamento se ferramenta falhar\n- Mostrar cálculos no orçamento: (9 x R$ 65,00)\n- Processar produtos não disponíveis\n- Confundir \"unidades\" com \"metros\"\n- **ALTERAR quantidade ou comprimento do input original**\n- Fazer perguntas desnecessárias para produtos padrão\n- Confundir vergalhão padrão com ferragem personalizada\n- **DEDUZIR** informações não explícitas no input\n\n### ✅ SEMPRE FAÇA:\n- **AGUARDAR** retorno completo das ferramentas antes de qualquer cálculo\n- **EXTRAIR APENAS** dados explicitamente informados no input\n- **SOLICITAR** dados faltantes ao invés de assumir/inventar\n- **VALIDAR** que todos os preços são reais (vieram das tools)\n- **VALIDAR** que nenhum dado foi criado/assumido\n- **INTERROMPER** processamento se ferramenta falhar\n- **INTERROMPER** processamento se dados essenciais faltam\n- Distinguir claramente UNIDADES vs METROS para materiais estruturais\n- **EXTRAIR e PRESERVAR** apenas quantidade e comprimento REAIS do input\n- Para materiais estruturais em UNIDADES: verificar se tem comprimento especificado (se não, SOLICITAR)\n- Para materiais estruturais em METROS: usar quantidade diretamente\n- Para produtos padrão: processar diretamente sem perguntas\n- Usar apenas valores numéricos reais das ferramentas\n- Converter termos antes de usar ferramentas\n- **VALIDAR** consistência input → output antes de retornar\n- Somente se não for fornecido a quantidade de ferros longitudinais considera que é quatro\n- Classificar corretamente produtos padrão vs materiais estruturais vs ferragem personalizada\n- **USAR ESPECIFICAÇÃO TÉCNICA DETALHADA** conforme padrão do produto no orçamento final\n\n## 📋 FORMATO DE ORÇAMENTO - PADRÃO WhatsApp\n\n```\n*ORÇAMENTO MATERIAIS LAJE - Guardião Lajes*\n\n* *[Quantidade_Original] [Especificacao_Tecnica_Detalhada]:* R$ [Valor_REAL_Da_Ferramenta]\n* *[Quantidade_Original] [Especificacao_Tecnica_Detalhada]:* R$ [Valor_REAL_Da_Ferramenta]\n\n*Total do Orçamento: R$ [Soma_Valores_REAIS]*\n\n*Produtos não disponíveis: [lista se houver]*\n\n```\n\n### 🔍 ESPECIFICAÇÃO TÉCNICA DETALHADA POR PRODUTO:\n\n#### FERRAGEM PERSONALIZADA:\n- **Formato**: \"Ferragem [comprimento] C/[qtd_ferros][bitola] [dimensoes] a cd [espacamento] F[bitola_estribo]\"\n- **Exemplo**: \"Ferragem 5.00 C/4F10 7x15 a cd 0.20 F4.2\"\n\n#### MALHAS DE AÇO:\n- **Formato**: \"Malha [tipo] [espacamento] F[bitola]\"  \n- **Exemplos**: \"Malha Leve 20x20 F3.4\", \"Malha Pesada 15x15 F4.2\"\n\n#### TRELIÇAS:\n- **Formato**: \"Treliça [tipo] [altura]cm\"\n- **Exemplos**: \"Treliça Concretada H8\", \"Treliça Simples H12\"\n\n#### VERGALHÕES:\n- **Formato**: \"Vergalhão [bitola] CA-[categoria]\"\n- **Exemplos**: \"Vergalhão 3/8 CA-50\", \"Vergalhão 12mm CA-60\"\n\n#### LAJOTAS:\n- **Formato**: \"Lajota [tipo] [dimensoes]\"\n- **Exemplos**: \"Lajota Cerâmica 30x20x8\", \"Lajota Barro 25x25x7\"\n\n#### EPS/ISOPOR:\n- **Formato**: \"EPS [densidade]/[altura]\"\n- **Exemplos**: \"EPS H7/33\", \"EPS H8/40\"\n\n## 🔄 FLUXO DE DECISÃO ATUALIZADO COM PROTEÇÃO ANTI-INVENÇÃO\n\n```\nINPUT recebido\n    ↓\nCLASSIFICAR produto:\n├── É produto padrão? (vergalhão, malha, lajota, EPS, arame, cobogó)\n│   ├── SIM → PROCESSAR DIRETAMENTE com busca_preco\n│   │   ↓\n│   │   ⚠️ AGUARDAR retorno completo\n│   │   ↓\n│   │   Preço retornado é válido?\n│   │   ├── SIM → CALCULAR + VALIDAR preservação\n│   │   └── NÃO → RETORNAR erro\n│   └── NÃO → É material estrutural?\n├── É material estrutural? (\"ferragem\", \"treliça\", \"verga\", \"contra-verga\", \"viga\")\n│   ├── SIM → Verificar unidade de medida\n│   │   ├── É \"metros\"?\n│   │   │   ├── SIM → PROCESSAR DIRETAMENTE com busca_preco\n│   │   │   │   ↓\n│   │   │   │   ⚠️ AGUARDAR retorno completo\n│   │   │   │   ↓\n│   │   │   │   Preço retornado é válido?\n│   │   │   │   ├── SIM → CALCULAR + VALIDAR preservação\n│   │   │   │   └── NÃO → RETORNAR erro\n│   │   │   └── NÃO → É \"unidades\"?\n│   │   └── É \"unidades\" ou número sem \"metro\"?\n│   │       ├── SIM → Tem comprimento especificado?\n│   │       │   ├── SIM → É ferragem personalizada?\n│   │       │   │   ├── SIM → USAR calcular_ferragem_personalizada\n│   │       │   │   └── NÃO → USAR busca_preco\n│   │       │   │       ↓\n│   │       │   │       ⚠️ AGUARDAR retorno completo\n│   │       │   │       ↓\n│   │       │   │       Preço retornado é válido?\n│   │       │   │       ├── SIM → CALCULAR + VALIDAR preservação\n│   │       │   │       └── NÃO → RETORNAR erro\n│   │       │   └── NÃO → SOLICITAR comprimento\n│   │       └── NÃO → VERIFICAR disponibilidade\n│   └── NÃO → VERIFICAR disponibilidade do produto\n    ↓\nCONSTRUIR output com dados originais preservados + preços REAIS\n    ↓\nEXECUTAR checklist de validação (incluindo validação de preços)\n    ↓\nRETORNAR orçamento formatado OU erro se inválido\n```\n\n## 🔧 MANTRA TÉCNICO ATUALIZADO\n**\"CLASSIFICAR → EXTRAIR → PROCESSAR → CONSULTAR_FERRAMENTA → AGUARDAR → VALIDAR_PREÇO → PRESERVAR → RETORNAR\"**\n\n**PROCESSO**: Classifico produto → Extraio dados originais → Identifico necessidades → **CONSULTO FERRAMENTA** → **AGUARDO PREÇO REAL** → **VALIDO PREÇO** → Solicito/Calculo → Valido preservação → Formato → Retorno\n\n---\n\n## 🛡️ SISTEMA DE PROTEÇÃO FINAL\n\n### ANTES DE QUALQUER ORÇAMENTO FINAL, VALIDAR:\n1. ✅ Produto foi classificado corretamente?\n2. ✅ Todos os preços vieram das ferramentas?\n3. ✅ Nenhum valor foi inventado ou estimado?  \n4. ✅ Cálculos usam apenas preços reais retornados?\n5. ✅ Sistema reporta erro se ferramenta falhar?\n6. ✅ Quantidade e comprimento preservados do input?\n7. ✅ Produtos padrão foram processados sem perguntas desnecessárias?\n8. ✅ Materiais estruturais foram tratados conforme unidade (metros vs unidades)?\n9. ✅ Especificação técnica detalhada foi aplicada conforme padrão do produto?\n\n**SOMENTE SE TODAS AS VALIDAÇÕES = ✅, ENTÃO RETORNAR ORÇAMENTO**\n\n**FOCO EXCLUSIVO**: Processamento técnico de orçamentos com **ZERO TOLERÂNCIA** para preços inventados, garantindo classificação correta de produtos, especificação técnica detalhada conforme padrão do produto, que todos os valores sejam consultados via ferramentas e preservando obrigatoriamente quantidade e especificações originais do input.\n\n### **PROCESSO OBRIGATÓRIO:**\n\n1. **ANALISE a pergunta do cliente**\n2. **IDENTIFIQUE se é produto específico ou laje completa**\n3. **ORCE EXATAMENTE o que foi pedido**\n\n### **EXEMPLOS PRÁTICOS:**\n\n**❌ ERRADO:**\nCliente: \"Quanto o isopor pra 8x4?\"\nResposta: Orçamento completo com treliças + isopor + lajota\n\n**✅ CORRETO:**\nCliente: \"Quanto o isopor pra 8x4?\"\nResposta: Só o isopor para essa área\n\n**✅ CORRETO:**\nCliente: \"Material pra laje 8x4\"\nResposta: Orçamento completo\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        1200,
        20
      ],
      "id": "f08a55e7-dc51-418b-bf92-11227a4ca55b",
      "name": "orçamentos",
      "retryOnFail": false,
      "waitBetweenTries": 1500
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ff85f63a-9eea-4eb6-aaa3-e9616c791c00",
              "name": "id.workflowferramentas",
              "value": "4pdizWewQzdsLsGx",
              "type": "string"
            },
            {
              "id": "6a06262d-deb7-4493-bdc0-045c05773560",
              "name": "produtos",
              "value": "={{ $('When Executed by Another Workflow').item.json.produtos }}",
              "type": "object"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        840,
        40
      ],
      "id": "db678a86-5c30-402a-8482-219a2510ac61",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "description": "=Busca o preço de um produto a partir do nome e especificações técnicas. Use sempre que o cliente quiser saber preço de um item específico. \nIMPORTANTE: \n- Sempre use com o nome no singular\n- Para treliça/ferragem em unidades, calcule PRIMEIRO a metragem total\n- Exemplo: 38 treliça de 2.50m = 38 × 2.50 = 95 metros\n- Depois multiplique o preço por metro pela metragem total",
        "source": "=database",
        "workflowId": {
          "__rl": true,
          "value": "={{$('Edit Fields').item.json.id.workflowferramentas}}",
          "mode": "id"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "operation": "=preco_produto",
            "tableName": "produtos_precos",
            "NomeProduto": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('NomeProduto', `Nome do produto que o cliente mencionou. Deve ser uma palavra-chave presente no nome cadastrado, como \"Ferragem F10\", \"Isopor H8\", \"Lajota\", \"Estribo\", etc.`, 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "operation",
              "displayName": "operation",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "tableName",
              "displayName": "tableName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "especificacoes",
              "displayName": "especificacoes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object",
              "removed": true
            },
            {
              "id": "ferragem",
              "displayName": "ferragem",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object",
              "removed": true
            },
            {
              "id": "detalhes",
              "displayName": "detalhes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object",
              "removed": true
            },
            {
              "id": "NomeProduto",
              "displayName": "NomeProduto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "leadid",
              "displayName": "leadid",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            },
            {
              "id": "Produtos",
              "displayName": "Produtos",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            },
            {
              "id": "Obs",
              "displayName": "Obs",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            },
            {
              "id": "Query",
              "displayName": "Query",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        1200,
        340
      ],
      "id": "a0298779-53cb-46f9-9162-5c89ec69da93",
      "name": "busca_preco"
    },
    {
      "parameters": {
        "name": "salvar_orcamento",
        "description": "=Salva um orçamento para um cliente com a lista de produtos cotados, preços, total e vínculo com o lead correspondente.\nPara cada produto:\n- Identifique o nome exato (conforme a tabela de produtos).\n- Use o tool 'busca_produto' para consultar o preço na tabela 'produtos_precos'.\n- Calcule o subtotal: preco_unitario × quantidade.\n",
        "workflowId": {
          "__rl": true,
          "value": "={{$('Edit Fields').item.json.id.workflowferramentas}}",
          "mode": "id"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "operation": "salvar_orcamento",
            "tableName": "orcamentos",
            "leadid": "1",
            "Produtos": "={{ JSON.stringify($fromAI('produtos', `Gere a lista de produtos que o cliente deseja orçar. Para cada produto:\n- Identifique o nome exato (conforme a tabela de produtos).\n- Use o tool 'busca_produto' para consultar o preço na tabela 'produtos_precos'.\n- Calcule o subtotal: preco_unitario × quantidade.\n- Retorne os campos:\n\n[\n  {\n    \\\"nome\\\": \\\"Ferragem F10\\\",\n    \\\"quantidade\\\": 12,\n    \\\"unidade\\\": \\\"metro\\\",\n    \\\"detalhes\\\": {\n      \\\"bitola_estribo\\\": \\\"4.2mm\\\",\n      \\\"tamanho_estribo\\\": \\\"7x17\\\",\n    \\\"preco_unitario\\\": 25.00,\n    \\\"subtotal\\\": 300.00\n    }\n  },\n  ...\n]\n\nSe não souber alguma especificação, deixe o campo 'detalhes' vazio ou omita.\nNunca estime valores manualmente. Sempre consulte o preço com 'busca_produto'.`, 'json')) }}",
            "Obs": "={{ $fromAI('observacoes', `Observações gerais sobre o orçamento solicitado. Inclua instruções extras dadas pelo cliente, comentários adicionais, condições especiais (como forma de pagamento ou prazo), ou qualquer informação que ajude o setor comercial ou logística. Se o cliente não disser nada relevante, retorne string vazia.`, 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "operation",
              "displayName": "operation",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "tableName",
              "displayName": "tableName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "especificacoes",
              "displayName": "especificacoes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object",
              "removed": true
            },
            {
              "id": "ferragem",
              "displayName": "ferragem",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object",
              "removed": true
            },
            {
              "id": "detalhes",
              "displayName": "detalhes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object",
              "removed": true
            },
            {
              "id": "NomeProduto",
              "displayName": "NomeProduto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            },
            {
              "id": "leadid",
              "displayName": "leadid",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "Produtos",
              "displayName": "Produtos",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "Obs",
              "displayName": "Obs",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            },
            {
              "id": "Query",
              "displayName": "Query",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "id": "192e8725-220c-421d-ab77-eb5d490591fe",
      "name": "salvar_orcamento",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "position": [
        1080,
        360
      ],
      "typeVersion": 2.1
    },
    {
      "parameters": {
        "description": "=Calcula o custo e o preço estimado de uma ferragem sob medida com base em comprimento, \n  ferros longitudinais (bitola e quantidade), tamanho e bitola dos estribos, espaçamento entre estribos,\n  custos de material e mão de obra. Caso a bitola dos estribos não seja informada, usa-se \"F4.2\" como padrão, e se o espaço entre os estribos não for informada, usa-se \"0.20\", se o a quantidade de ferros não for informada considere como padrão 4\nCaso não tenha o comprimento procurar antes de calcular",
        "workflowId": {
          "__rl": true,
          "value": "={{$('Edit Fields').item.json.id.workflowferramentas}}",
          "mode": "id"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "operation": "CalcFer",
            "ferragem": "={\n  \"comprimento\": {{ $fromAI(\"comprimento\", \"Comprimento total da ferragem em metros. Ex: para 'Ferragem 5,00', o valor é 5. \", \"number\") }},\n  \"ferros_longitudinais\": {{ $fromAI(\"ferros_longitudinais\", \"Lista de ferros longitudinais utilizados na ferragem. Cada item deve conter: - bitola (ex: 'F10', 'F12', 'F8', etc) - quantidade de varões dessa bitola. Formato: [ { \\\"bitola\\\": \\\"F10\\\", \\\"quantidade\\\": 4 }, { \\\"bitola\\\": \\\"F12\\\", \\\"quantidade\\\": 2 } ] Extraia mesmo que o cliente envie como '4F10+2F12', converta para este array e envie como string JSON. se não a quantidade de ferros não vinhe informado considere que é 4\", \"string\") }},\n  \"tamanho_estribo\": \"{{ $fromAI(\"tamanho_estribo\", \"Tamanho do estribo no formato 'largura x altura' em cm. Ex: '7x20'.\", \"string\") }}\",\n  \"espacamento_estribo\": \"{{ $fromAI(\"espacamento_estribo\", \"Espaçamento entre estribos em metros. Ex: para 'a cd 0,15', o valor é 0.15. Se não for informado, use o padrão '0.20'.\", \"number\") }}\",\n  \"bitola_estribo\": \"{{ $fromAI(\"bitola_estribo\", \"Bitola do ferro do estribo (ex: 'F5'). Se não for informado, use o padrão 'F4.2'.\", \"string\") }}\"\n}\n"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "operation",
              "displayName": "operation",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "tableName",
              "displayName": "tableName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            },
            {
              "id": "especificacoes",
              "displayName": "especificacoes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object",
              "removed": true
            },
            {
              "id": "ferragem",
              "displayName": "ferragem",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object",
              "removed": false
            },
            {
              "id": "detalhes",
              "displayName": "detalhes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object",
              "removed": true
            },
            {
              "id": "NomeProduto",
              "displayName": "NomeProduto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            },
            {
              "id": "leadid",
              "displayName": "leadid",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            },
            {
              "id": "Produtos",
              "displayName": "Produtos",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            },
            {
              "id": "Obs",
              "displayName": "Obs",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            },
            {
              "id": "Query",
              "displayName": "Query",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        1760,
        320
      ],
      "id": "c13462d1-a5ce-4458-8198-3e435229fbe7",
      "name": "calcular_ferragem_personalizada"
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Mostra os produtos mais cotados em orçamentos recentes dos últimos 30 dias.",
        "operation": "executeQuery",
        "query": "SELECT\n  produto ->> 'nome' AS produto,\n  COUNT(*) AS total\nFROM\n  orcamentos,\n  jsonb_array_elements(produtos) AS produto\nWHERE\n  data > NOW() - INTERVAL '30 days'\nGROUP BY\n  produto\nORDER BY\n  total DESC\nLIMIT 5;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgresTool",
      "typeVersion": 2.6,
      "position": [
        1400,
        340
      ],
      "id": "0b86182a-b2c1-493f-872a-f01728cc52b7",
      "name": "produtos_mais_cotados",
      "credentials": {
        "postgres": {
          "id": "z2oHR8Hcbud4cXb6",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-1.5-pro",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        780,
        280
      ],
      "id": "a3e2731a-9262-4e97-8463-67be9e83b25e",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "GOTIgGndJIkf9Pqy",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolCalculator",
      "typeVersion": 1,
      "position": [
        1860,
        260
      ],
      "id": "f2dd64d0-4d30-4769-8159-ca0aad82acca",
      "name": "Calculator"
    },
    {
      "parameters": {
        "description": "Calcula materiais para laje quando você tem as dimensões específicas (largura x comprimento). Use esta tool quando o cliente informar dimensões como '5x8', '6.5x10', '7x12', etc. Ideal para projetos onde você conhece as medidas exatas da laje.",
        "workflowId": {
          "__rl": true,
          "value": "={{$('Edit Fields').item.json.id.workflowferramentas}}",
          "mode": "id"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "operation": "calcLaje",
            "especificacoes": "={\n      \"largura\": \"{{ $fromAI('largura', 'Largura da laje em metros. Ex: para \\\"5x8\\\", extraia \\\"5\\\". Se não informado ou formato área (40m²), deixe vazio.', 'string', '') }}\",\n      \"comprimento\": \"{{ $fromAI('comprimento', 'Comprimento da laje em metros. Ex: para \\\"5x8\\\", extraia \\\"8\\\". Se não informado ou formato área (40m²), deixe vazio.', 'string', '') }}\",\n      \"enchimento\": \"{{ $fromAI('enchimento', 'Tipo de enchimento: \\\"isopor\\\" ou \\\"lajota\\\". Se cliente não especificar, use \\\"isopor\\\".', 'string', 'isopor') }}\",\n      \"malha\": \"{{ $fromAI('malha', 'Tipo de malha: \\\"Leve\\\", \\\"Media\\\" ou \\\"Reforçada\\\". Se não especificado, use \\\"Media\\\".', 'string', 'Media') }}\"\n    }"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "operation",
              "displayName": "operation",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "tableName",
              "displayName": "tableName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            },
            {
              "id": "especificacoes",
              "displayName": "especificacoes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object",
              "removed": false
            },
            {
              "id": "ferragem",
              "displayName": "ferragem",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object",
              "removed": true
            },
            {
              "id": "detalhes",
              "displayName": "detalhes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object",
              "removed": true
            },
            {
              "id": "NomeProduto",
              "displayName": "NomeProduto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            },
            {
              "id": "leadid",
              "displayName": "leadid",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            },
            {
              "id": "Produtos",
              "displayName": "Produtos",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            },
            {
              "id": "Obs",
              "displayName": "Obs",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            },
            {
              "id": "Query",
              "displayName": "Query",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        1520,
        360
      ],
      "id": "ef152a0c-3811-4a0e-afd1-de55b103892d",
      "name": "calcular_laje_dimensoes"
    },
    {
      "parameters": {
        "description": "Calcula materiais para laje quando você tem apenas a área total. Use esta tool quando o cliente informar área como '40m²', '50 metros quadrados', '60m2', etc. Ideal para projetos onde você só conhece a área total da laje.",
        "workflowId": {
          "__rl": true,
          "value": "={{$('Edit Fields').item.json.id.workflowferramentas}}",
          "mode": "id"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "operation": "calcLaje",
            "especificacoes": "={\n      \"largura\": \"{{ $fromAI('largura', 'Largura da laje em metros. Ex: para \\\"5x8\\\", extraia \\\"5\\\". Se não informado ou formato área (40m²), deixe vazio.', 'string', '') }}\",\n      \"comprimento\": \"{{ $fromAI('comprimento', 'Comprimento da laje em metros. Ex: para \\\"5x8\\\", extraia \\\"8\\\". Se não informado ou formato área (40m²), deixe vazio.', 'string', '') }}\",\n      \"enchimento\": \"{{ $fromAI('enchimento', 'Tipo de enchimento: \\\"isopor\\\" ou \\\"lajota\\\". Se cliente não especificar, use \\\"isopor\\\".', 'string', 'isopor') }}\",\n      \"malha\": \"{{ $fromAI('malha', 'Tipo de malha: \\\"Leve\\\", \\\"Media\\\" ou \\\"Reforçada\\\". Se não especificado, use \\\"Media\\\".', 'string', 'Media') }}\",\n      \"area\": \"{{ $fromAI('area', 'Área total da laje em metros quadrados. Ex: para \\\"40m²\\\", extraia \\\"40\\\". Use apenas se não houver largura x comprimento.', 'string', '') }}\"\n    }"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "operation",
              "displayName": "operation",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "tableName",
              "displayName": "tableName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            },
            {
              "id": "especificacoes",
              "displayName": "especificacoes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object",
              "removed": false
            },
            {
              "id": "ferragem",
              "displayName": "ferragem",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object",
              "removed": true
            },
            {
              "id": "detalhes",
              "displayName": "detalhes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object",
              "removed": true
            },
            {
              "id": "NomeProduto",
              "displayName": "NomeProduto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            },
            {
              "id": "leadid",
              "displayName": "leadid",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            },
            {
              "id": "Produtos",
              "displayName": "Produtos",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            },
            {
              "id": "Obs",
              "displayName": "Obs",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            },
            {
              "id": "Query",
              "displayName": "Query",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        1620,
        340
      ],
      "id": "100bf75d-ccb3-4d63-b86c-2aeb2e4fc2c6",
      "name": "calcular_laje_area"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        960,
        320
      ],
      "id": "faca2fb1-0d88-4ed0-81c1-6fa81499f617",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "3mNlZ20nDfXfgUl9",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "for (const item of items) {\n  const outputString = item.json.output;\n  let jsonString = outputString.replace(/```json\\n|```/g, '').trim();\n\n  // Tenta parsear a string JSON\n  try {\n    item.json = JSON.parse(jsonString);\n  } catch (e) {\n    // Em caso de erro, você pode logar, retornar um erro, ou lidar de outra forma\n    console.error(\"Erro ao parsear JSON:\", e, \"String original:\", jsonString);\n    // Opcional: Se quiser que o workflow falhe neste item\n    // throw new Error(\"Falha ao parsear JSON\");\n  }\n}\nreturn items;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1600,
        20
      ],
      "id": "93a8971d-e8ff-4742-a534-da17e70240b5",
      "name": "Code2"
    },
    {
      "parameters": {
        "chatId": "7020998195",
        "text": "={{ $('When Executed by Another Workflow').item.json.whatsapp }}\n\n{{ $('Edit Fields').item.json.produtos.lista_produtos }}\n\n{{ $('Edit Fields').item.json.produtos.tipo_projeto }}\n\n{{ $('Edit Fields').item.json.produtos.dimensoes_laje }}\n\n\n\n{{ $('orçamentos').item.json.output }}",
        "replyMarkup": "inlineKeyboard",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2260,
        20
      ],
      "id": "72eda64e-1087-4070-8cc9-0dbb2a1535c5",
      "name": "Send a text message",
      "webhookId": "c06d1390-9891-4778-87c0-f9527c69a5a5",
      "credentials": {
        "telegramApi": {
          "id": "6Mh0z286j436leMd",
          "name": "Henrique_Orc"
        }
      }
    },
    {
      "parameters": {
        "operation": "incr",
        "key": "id_orçamento"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        200,
        40
      ],
      "id": "0cb35188-6114-4d82-9cce-09ba30070dee",
      "name": "Redis",
      "credentials": {
        "redis": {
          "id": "sA2U6PkBocrwko3a",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "operation": "push",
        "list": "telegram",
        "messageData": "=\"message_id\": {{ $json.result.message_id }},\n\"orcamento_id\": {{ $('Redis').item.json[\"id_orçamento\"] }},\n\"whatsapp\": \"{{ $('When Executed by Another Workflow').item.json.whatsapp }}\",\n\"instace\": \"{{ $('When Executed by Another Workflow').item.json.instace }}\""
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        2480,
        20
      ],
      "id": "e717fa12-ec06-44b5-a98a-0c39379e307c",
      "name": "Redis1",
      "credentials": {
        "redis": {
          "id": "sA2U6PkBocrwko3a",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "02eb1d7d-7dd1-4efc-9f1f-ef6956a864b2",
              "name": "Resposta",
              "value": "prosigar com o atendimento, estou consultando os preços",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2740,
        20
      ],
      "id": "fd27d0e9-f464-4991-b48c-8978fcb4d787",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "85c613cd-0b70-40f5-bcaa-6e0ca46b4697",
              "leftValue": "={{ $json.status }}",
              "rightValue": "completo",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1820,
        20
      ],
      "id": "2cc034c0-e4ed-41a4-8bfb-df4726edea9a",
      "name": "If"
    }
  ],
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Redis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "orçamentos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "calcular_ferragem_personalizada": {
      "ai_tool": [
        [
          {
            "node": "orçamentos",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "salvar_orcamento": {
      "ai_tool": [
        []
      ]
    },
    "busca_preco": {
      "ai_tool": [
        [
          {
            "node": "orçamentos",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "produtos_mais_cotados": {
      "ai_tool": [
        [
          {
            "node": "orçamentos",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        []
      ]
    },
    "Calculator": {
      "ai_tool": [
        [
          {
            "node": "orçamentos",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "calcular_laje_dimensoes": {
      "ai_tool": [
        [
          {
            "node": "orçamentos",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "calcular_laje_area": {
      "ai_tool": [
        [
          {
            "node": "orçamentos",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "orçamentos",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "orçamentos": {
      "main": [
        [
          {
            "node": "Code2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code2": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message": {
      "main": [
        [
          {
            "node": "Redis1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis1": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [],
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "produtos": "  {\n\"lista_produtos\": \"3 treliças cheia 6 metros, 100 lajotas de barro, 1 malha 3x2, 1kg arame queimado, 1 ferragem armada 7x15 ferro F10 (3x8), 2 vergalhão F8 (5/16) 12m\",\n  \"tipo_projeto\": \"produtos_isolados\",\n  \"dimensoes_laje\": \"\"\n}",
          "whatsapp": "558281036911",
          "instace": "meu cell"
        }
      }
    ]
  },
  "versionId": "a27cb396-4ee3-40b6-9aad-cf6e212fbb57",
  "triggerCount": 0,
  "tags": []
}