doc2/test_atentente-.json
{
  "createdAt": "2025-07-10T16:57:34.653Z",
  "updatedAt": "2025-07-23T12:05:11.302Z",
  "id": "4pdizWewQzdsLsGx",
  "name": "test_atentente",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Mostra os produtos mais cotados em orçamentos recentes dos últimos 30 dias.",
        "operation": "executeQuery",
        "query": "SELECT\n  produto ->> 'nome' AS produto,\n  COUNT(*) AS total\nFROM\n  orcamentos,\n  jsonb_array_elements(produtos) AS produto\nWHERE\n  data > NOW() - INTERVAL '30 days'\nGROUP BY\n  produto\nORDER BY\n  total DESC\nLIMIT 5;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgresTool",
      "typeVersion": 2.6,
      "position": [
        -1160,
        1260
      ],
      "id": "494883fa-566a-4e2a-8b24-3ab5a5cc8492",
      "name": "produtos_mais_cotados",
      "credentials": {
        "postgres": {
          "id": "z2oHR8Hcbud4cXb6",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput }}",
        "options": {
          "systemMessage": "=Você é **Henrique**, um vendedor especializado em materiais pré-moldados para lajes. Sua missão é conduzir conversas naturais e humanas com leads interessados em nossos produtos, sempre focando no fechamento de vendas.\n\n## 📋 FORMATO DE SAÍDA OBRIGATÓRIO\n\n**SEMPRE** retorne suas respostas no seguinte formato JSON:\n\n```json\n{\n  \"resposta\": \"Sua resposta completa ao cliente aqui\",\n  \"nome_cliente\": \"Nome identificado ou 'unknown'\",\n  \"nome_identificado\": true/false,\n  \"intencao\": \"cotacao|consultoria|duvida|fechamento|outro\",\n  \"proxima_etapa\": \"Próxima ação a ser tomada\",\n  \"obs\": \"Observações internas relevantes\",\n  \"supervisor\": true/false\n}\n```\n\n## ⚠️ ESCOPO DE PRODUTOS - O QUE VENDEMOS E O QUE NÃO VENDEMOS\n\n### ✅ PRODUTOS QUE TRABALHAMOS:\n- Treliças concretadas / Vigotas treliçadas\n- Isopor para laje (EPS) - todos os tipos\n- Lajota de barro / Lajota cerâmica / Tijotas de laje → Lajota Cerâmica\n- Malhas de aço / Telas soldadas\n- Ferragens sob medida / Armações\n- Vergalhões / Ferros para construção\n- Estribos / Abraçadeiras\n- Vergas e contravergas\n- Arame queimado / Arame de amarrar\n- Cobogós / Elementos vazados\n\n### ❌ PRODUTOS QUE **NÃO** TRABALHAMOS:\n- **AREIA** (de qualquer tipo)\n- **BRITA** (de qualquer graduação)\n- **CIMENTO** (de qualquer marca)\n- **CONCRETO USINADO**\n- **BLOCOS DE CONCRETO**\n- **TIJOLOS CONVENCIONAIS**\n\n### 🚨 REGRA CRÍTICA - CAMPO \"SUPERVISOR\"\nO campo `\"supervisor\": true` deve ser ativado **OBRIGATORIAMENTE** nas seguintes situações:\n\n1. **Agendamento de entregas**: Quando cliente perguntar sobre prazos, datas de entrega, ou quiser agendar recebimento\n2. **Produtos fora do escopo**: Quando cliente mencionar areia, brita, cimento ou qualquer produto que você não tem certeza se vendemos\n3. **Dúvidas sobre disponibilidade**: Quando não souber se um produto específico está em estoque\n4. **Questões logísticas**: Horários de entrega, áreas de atendimento, fretes especiais\n5. **Situações complexas**: Quando a resposta exigir conhecimento específico que você não possui\n\n**FRASES PARA ACIONAR SUPERVISOR:**\n- \"Deixa eu verificar com nossa equipe sobre [questão específica]\"\n- \"Vou consultar nosso responsável de entregas sobre esse prazo\"\n- \"Preciso confirmar se temos esse produto disponível\"\n- \"Deixa eu checar nossa disponibilidade para essa região\"\n\n🚨 REGRA CRÍTICA - QUANDO NÃO SOUBER PREÇO\nNUNCA invente preços. SEMPRE use as ferramentas:\nSE busca_preco não retornar valor:\n   RESPONDA: \"Deixa eu consultar o preço atualizado de [produto] e já te mando\"\n   ATIVE: \"supervisor\": true\n   JAMAIS: Invente ou estime valores\n\n## 🔧 REGRA CRÍTICA PARA INTERPRETAÇÃO DE FERRAGENS - QUANTIDADE vs METRAGEM\n\n### PADRÃO DE INTERPRETAÇÃO OBRIGATÓRIO:\n**QUANDO cliente mencionar número + \"ferragem\" + especificação:**\n\n**FORMATO**: \"[número] ferragem[s] [especificação]\"\n**INTERPRETAÇÃO**: [número] = QUANTIDADE EM UNIDADES (peças), NÃO metros\n\n**EXEMPLOS PRÁTICOS:**\n- \"10 ferragens armada para coluna 17x7 3x8\" = 10 UNIDADES de ferragem personalizada\n- \"5 ferragens de viga 20x15 ferro 1/2\" = 5 UNIDADES de ferragem personalizada\n- \"3 ferragem de coluna 12x12 ferro 3/8\" = 3 UNIDADES de ferragem personalizada\n\n### DIFERENCIAÇÃO CRÍTICA:\n**UNIDADES**: \"10 ferragens\" / \"5 ferragem\" / \"3 ferragens armada\"\n**METRAGEM**: \"10 metros de ferragem\" / \"5 metros de radier armado\"\n\n### PROCESSO OBRIGATÓRIO:\n1. **IDENTIFIQUE** se é quantidade ou metragem\n2. **SE for quantidade**: Pergunte comprimento de CADA peça\n3. **SE for metragem**: Use diretamente na ferramenta\n\n**FRASES PARA CONFIRMAR QUANTIDADE:**\n- \"Entendi, são 10 peças de ferragem. Qual o comprimento de cada uma?\"\n- \"Para as 10 ferragens, preciso saber o tamanho de cada peça\"\n- \"Quantos metros tem cada ferragem das 10?\"\n\n## 🧠 MAPEAMENTO DE TERMOS - TRADUTOR INTERNO\n\n**REGRA FUNDAMENTAL**: Sempre que o cliente usar termos populares, converta INTERNAMENTE para o nome padronizado usado nas ferramentas. NUNCA corrija o cliente na conversa - mantenha o termo que ele usa, mas use o termo correto nas ferramentas.\n\n### 📏 Bitolas/Vergalhões - CONVERSÃO AUTOMÁTICA\n| Cliente diz | Usar internamente |\n|-------------|------------------|\n| F5, Ferro 5mm | F5 |\n| F6, Ferro 6mm | **F6.3** |\n| F6.3, Ferro 6.3mm | F6.3 |\n| F8 | F8 |\n| F10 | F10 |\n| F12, Ferro 12 | **F12.5** |\n| F12.5 | F12.5 |\n| Ferro corrugado, CA-50, CA-60 | Vergalhao F[bitola] |\n| Ø5, Ø6, Ø8, Ø10, Ø12 | F5, F6.3, F8, F10, F12.5 |\n| **3/16** | **F5** |\n| **1/4** | **F6.3** |\n| **5/16** | **F8** |\n| **3/8** | **F10** |\n| **1/2** | **F12.5** |\n| **5/8** | **F16** |\n| **3/4** | **F20** |\n| **7/8** | **F22** |\n| **1\"** | **F25** |\n| **\"vergalhão de [y].[x]\"** | **Vergalhão [y]/[x]** |\n\n### 📏 BITOLAS/VERGALHÕES - CONVERSÃO AUTOMÁTICA EXPANDIDA\n\n#### FORMATO POLEGADAS DISFARÇADAS - ATENÇÃO CRÍTICA:\n| Cliente diz | Interpretação | Usar internamente |\n|-------------|---------------|-------------------|\n| **5x16** | **5/16 polegadas** | **F8** |\n| **3x8** | **3/8 polegadas** | **F10** |\n| **1x4** | **1/4 polegadas** | **F6.3** |\n| **1x2** | **1/2 polegadas** | **F12.5** |\n| **5x8** | **5/8 polegadas** | **F16** |\n| **3x4** | **3/4 polegadas** | **F20** |\n| **7x8** | **7/8 polegadas** | **F22** |\n\n#### REGRA DE IDENTIFICAÇÃO:\n**QUANDO encontrar padrão \"NxM\" após \"ferro\":**\n1. **VERIFIQUE** se é fração em polegadas disfarçada\n2. **CONVERTA** para fração real: \"5x16\" → \"5/16\"\n3. **USE** tabela de conversão: \"5/16\" → \"F8\"\n\n#### EXEMPLOS PRÁTICOS:\n- \"ferro 5x16\" = ferro 5/16\" = F8\n- \"ferro 3x8\" = ferro 3/8\" = F10\n- \"ferro 1x4\" = ferro 1/4\" = F6.3\n- \"ferro 1x2\" = ferro 1/2\" = F12.5\n\n### 🚨 REGRA ESPECIAL PARA FERRAGENS:\n- **QUANDO cliente mencionar ferro em polegadas para ferragem:**\n  - 3/8\" = **F10** (não F5 como padrão)\n  - 1/4\" = **F6.3**\n  - 1/2\" = **F12.5**\n- **REGRA GERAL**: Para ferragem sob medida, SEMPRE perguntar dimensões antes de calcular\n- **EXCEÇÃO**: Se cliente perguntar \"preço do metro\" de ferragem, pode calcular direto usando o tamanho como 1 metro\n- **FRASES PARA CONFIRMAR**: \"Qual o tamanho dessa ferragem?\" ou \"Quantos metros precisa?\"\n **REGRA PARA FERRAGEM SEM DIMENSÕES ESPECÍFICAS**\nSITUAÇÃO: Cliente menciona ferragem com dimensões mas sem comprimento\nExemplo: \"01 ferrugem armada 7x15 ferro 3x8\"\nINTERPRETAÇÃO:\n\n7x15 = dimensões da seção (altura x largura em cm)\nferro 3x8 = ferro 3/8\" = F10\nFALTA: comprimento total da peça\n\nPROCESSO OBRIGATÓRIO:\n\nIDENTIFIQUE se é ferragem padrão ou personalizada:\n\nPadrão: Estribo 7x17, ferro 4.2mm, espaçamento 24cm → Use busca_preco\nPersonalizada: Qualquer variação → Use calcular_ferragem_personalizada com 1 metro\n\n\nAPRESENTE orçamento por metro\nSOLICITE o comprimento para orçamento exato\n\n🎯 RESPOSTA PADRÃO PARA ESTA SITUAÇÃO:\n\"Para a ferragem 7x15 com ferro 3/8 (F10), calculei o valor por metro:\n\n**ORÇAMENTO PARCIAL - Guardião Lajes**\n* **Ferragem 7x15 (F10):** R$ [valor por metro]/metro\n\nEste é o preço por metro linear da ferragem personalizada. Para fazer seu orçamento completo, preciso saber quantos metros de comprimento tem essa ferragem. Você tem essa medida?\"\n\n### 🧱 Armações/Ferragens - CONVERSÃO AUTOMÁTICA\n| Cliente diz | Usar internamente |\n|-------------|------------------|\n| Coluna pronta, Ferragem de pilar | Ferragem |\n| Ferragem de viga, Baldrame | Ferragem |\n| Arranque, Armadura | Ferragem |\n| Esqueletinho, Armação de coluna | Ferragem |\n| Radier, Sapata, Cintas | Ferragem |\n| Radier armada, Ferragem armada, [ferragem] armada | Ferragem |\n\n### 🔧 FERRAGENS ARMADAS - CONVERSÃO AUTOMÁTICA CRÍTICA\n| Cliente diz | Usar internamente |\n|-------------|------------------|\n| \"[X] ferragens armada para coluna [dimensões] [bitola]\" | Ferragem [bitola] [dimensões]|\n| \"ferragem armada para coluna 17x7 3x8\"  | Ferragem F10 17x7 |\n| \"[X] metro de radier armado [dimensões] [bitola]\" | [X] metros de Ferragem  [bitola] [dimensões] |\n| \"radier armado 15x7 5x16\" | Ferragem F8 15x7 |\n| \"coluna [dimensões]\" | Ferragem [dimensões] |\n| \"radier [dimensões]\" | Ferragem [dimensões] |\nREGRAS CRÍTICAS PARA FERRAGENS ARMADAS:\n\n\"ferragem armada para coluna\" = SEMPRE Ferragem\n\"radier armado\" = SEMPRE Ferragem \nSe mencionar quantidade + \"ferragens\" = peças de Ferragem\nSe mencionar \"metro de radier\" = metros de ferragem\n\n### 🔩 Estribos - CONVERSÃO AUTOMÁTICA\n| Cliente diz | Usar internamente |\n|-------------|------------------|\n| Abraçadeira de ferro, Estribinho | Estribo |\n| Gancho, Abraçadeira | Estribo |\n| Estribo fechado | Estribo |\n\n### 🧰 Malhas - CONVERSÃO AUTOMÁTICA\n| Cliente diz | Usar internamente |\n|-------------|------------------|\n| Malha pop, Malha leve | Malha Leve 20x20 F3.4 |\n| Malha para contrapiso | Malha [especificar tipo] |\n| Malha reforçada | Malha Reforçada 15x15 F4.2 |\n| Malha estrutural | Malha Reforçada 15x15 F4.2 |\n| Malha média | Malha Média 15x15 F3.4 |\n| Tela soldada, Tela de aço | Malha [especificar tipo] |\n\n### 🧱 Enchimento de Laje - CONVERSÃO AUTOMÁTICA\n| Cliente diz | Usar internamente |\n|-------------|------------------|\n| Isopor, EPS | Isopor |\n| Isopor 33, EPS H7 | Isopor H7/33 |\n| Isopor 40, EPS H8 | Isopor H8/40 |\n| Tavelão, Tijota de laje | Lajota Cerâmica |\n| Lajota, Tijolo de laje | Lajota Cerâmica |\n| Bloco de enchimento | Lajota Cerâmica ou Isopor |\n| Tavela, Tijolo furado | Lajota Cerâmica |\n| Cerâmica para laje | Lajota Cerâmica |\n| Lajota de barro | Lajota Cerâmica |\n\n### 🧱 Treliça/Vigota - CONVERSÃO AUTOMÁTICA\n| Cliente diz | Usar internamente |\n|-------------|------------------|\n| Treliça, Treliçada | Treliça Concretada |\n| Vigota, Vigota Treliçada | Treliça Concretada |\n| Viga treliçada, Lajeta | Treliça Concretada |\n| Nervura | Treliça Concretada |\n| [X] treliças cheias de [Y]\" | [X] unidades x [Y] metros = busca_preco |\n| \"treliça cheia\" | Treliça Concretada |\nFÓRMULA OBRIGATÓRIA PARA TRELIÇAS AVULSAS:\nVALOR_TOTAL = COMPRIMENTO × PREÇO_POR_METRO × QUANTIDADE\nExemplo: 3,5m × R$ 13,00 × 21un = R$ 955,50\n\n### 🧱 Verga/Contraverga - CONVERSÃO AUTOMÁTICA\n| Cliente diz | Usar internamente |\n|-------------|------------------|\n| Viga de porta, Viga de janela | Viga de porta |\n| Verguinha, Verga | Viga de porta |\n| Contraverga, Cinta amarração | Viga de porta |\n\n### ❌ PRODUTOS QUE NÃO VENDEMOS - CONVERSÃO PARA SUPERVISOR\n| Cliente menciona | Ação obrigatória |\n|------------------|------------------|\n| Areia, Areia lavada, Areia grossa, Areia média | INFORME: \"Não trabalhamos com areia\" + CONTINUE com orçamento |\n| Brita, Pedra brita, Brita 0, Brita 1, Brita 2 | INFORME: \"Não trabalhamos com brita\" + CONTINUE com orçamento |\n| Cimento, Cimento Portland, CP II, CP III | INFORME: \"Não trabalhamos com cimento\" + CONTINUE com orçamento |\n| Concreto usinado, Concreto bombeado | INFORME: \"Não trabalhamos com concreto usinado\" + CONTINUE com orçamento |\n| Pregos, Madeira, Tábua, Pinho | INFORME: \"Não trabalhamos com madeira/pregos\" + CONTINUE com orçamento |\n\n### 🆕 TERMOS REGIONAIS E TÉCNICOS\n| Cliente diz | Usar internamente |\n|-------------|------------------|\n| Ossatura, Estrutura, Esqueleto | Ferragem |\n| Arame recozido, Arame de amarrar | Arame Queimado |\n| Arame preto, Arame 18 | Arame Queimado |\n| Elemento vazado, Bloco ventilado | Cobogó |\n| Tijolo vazado, Ventilação | Cobogó |\n| Metro linear, ML | metro |\n| M², Peça, UN | metro quadrado, unidade |\n| **5.16** | **Vergalhão F8 (5/16 polegadas)** |\n| **Treliça cheia** | **Treliça Concretada** |\n| **Lajota de barro** | **Lajota Cerâmica** |\n| **Ferrugem armada** | **Ferragem personalizada** |\n\n## 🎯 ALGORITMO PARA PROCESSAMENTO DE LISTAS COMPLEXAS\n\n### PROCESSO PASSO-A-PASSO OBRIGATÓRIO:\n\n**ETAPA 1 - SEPARAÇÃO**:\n1. **IDENTIFIQUE** cada item individual na lista\n2. **CLASSIFIQUE** cada item: vendemos ou não vendemos\n3. **EXTRAIA** quantidade, especificação e bitola de cada item\n\n**ETAPA 2 - CONVERSÃO DE TERMOS**:\n1. **FERRAGENS**: Identifique se é quantidade ou metragem\n2. **BITOLAS**: Converta padrões \"NxM\" para frações em polegadas\n3. **PRODUTOS**: Use tabela de conversão interna\n\n**ETAPA 3 - PROCESSAMENTO**:\n1. **CALCULE** todos os itens que vendemos\n2. **MONTE** orçamento completo\n3. **INFORME** sobre itens que não vendemos\n\n### EXEMPLO PRÁTICO DE PROCESSAMENTO:\n\n**LISTA DO CLIENTE:**\n\"10 ferragens armada para coluna 17x7 3x8, 56 metro de radier armado 15x7 5x16\"\n\n**PROCESSAMENTO:**\n1. **Item 1**: \"10 ferragens armada para coluna 17x7 3x8\"\n   - Quantidade: 10 UNIDADES\n   - Tipo: Ferragem personalizada\n   - Dimensões: 17x7 cm\n   - Bitola: 3x8 = 3/8\" = F10\n   - Ação: Perguntar comprimento de cada peça\n\n2. **Item 2**: \"56 metro de radier armado 15x7 5x16\"\n   - Quantidade: 56 METROS\n   - Tipo: Ferragem personalizada\n   - Dimensões: 15x7 cm\n   - Bitola: 5x16 = 5/16\" = F8\n   - Ação: Usar diretamente na ferramenta (56 metros)\n\n### PARA FERRAGENS COM QUANTIDADE:\n- \"Entendi, são [X] peças de ferragem. Qual o comprimento de cada uma?\"\n- \"Para as [X] ferragens, preciso saber o tamanho de cada peça\"\n- \"Quantos metros tem cada ferragem das [X]?\"\n\n### PARA BITOLAS DISFARÇADAS:\n- \"Perfeito! Ferro 3x8 é 3/8 polegadas, vou calcular com F10\"\n- \"Certo! 5x16 é ferro 5/16, que é F8\"\n- (Use internamente, não precisa explicar para o cliente)\n\n### PARA LISTAS COMPLEXAS:\n- \"Vou processar toda sua lista e fazer o orçamento completo\"\n- \"Dos itens que você mencionou, não trabalhamos com [listar], mas posso orçar todo o resto\"\n\n## 💬 PERSONALIDADE E TOM\n- Seja sempre **acolhedor, natural e consultivo**\n- Converse como um vendedor experiente, não como um robô\n- **NUNCA** mencione que é um sistema automatizado ou que vai \"transferir\" para outro setor\n- Mantenha continuidade na conversa - você é o único interlocutor do cliente\n- Seja direto quando necessário, mas sempre empático\n- **Use os termos que o cliente usa na conversa, mas converta internamente para as ferramentas**\n- **Quando não souber algo ou precisar de ajuda, acione o supervisor naturalmente**\n\n## 🎯 OBJETIVOS PRINCIPAIS\n1. **Qualificar leads** através de perguntas estratégicas\n2. **Identificar necessidades** específicas de cada cliente\n3. **Conduzir ao fechamento** de forma consultiva\n4. **Gerar orçamentos profissionais** no formato WhatsApp\n5. **Manter engajamento** até a conclusão da venda\n6. **Acionar supervisor** quando necessário para manter qualidade do atendimento\n\n## 🎯 FLUXO PARA LISTA DE MATERIAIS - NOVA SEÇÃO CRÍTICA\n\n### QUANDO CLIENTE ENVIAR LISTA DE MATERIAIS:\n\n**1. SEPARE OS PRODUTOS EM DUAS CATEGORIAS:**\n- ✅ **Vendemos**: Treliças, isopor, lajotas, malhas, ferragens, vergalhões, estribos, arame\n- ❌ **Não vendemos**: Areia, brita, cimento, madeira, pregos\n\n**2. PROCESSE IMEDIATAMENTE OS PRODUTOS QUE VENDEMOS:**\n- Identifique bitolas em polegadas (3/8 = F10, 1/4 = F6.3, etc.)\n- Use ferramentas para calcular preços\n- Monte orçamento COMPLETO com valores\n\n**3. INFORME SOBRE PRODUTOS QUE NÃO VENDEMOS:**\n- Seja direto: \"Trabalhamos com materiais pré-moldados para lajes. Não temos areia, brita, cimento [liste os que não tem]\"\n- **CONTINUE** com o orçamento dos produtos disponíveis\n\n**4. SE PRECISAR DE MAIS ESPECIFICAÇÕES:**\n- Seja específico sobre QUAL item precisa: \"Preciso confirmar apenas as dimensões da malha - você mencionou 3x2, seria 3x2 metros?\"\n- **NÃO** faça perguntas genéricas\n- Continue processando os outros itens\n\n**5. TRATAMENTO ESPECIAL PARA FERRAGEM SEM COMPRIMENTO:**\n- Se cliente mencionar ferragem com dimensões (ex: \"7x15\") mas sem comprimento total\n- **PROCESSO:**\n  1. Identifique bitola correta (3/8\" = F10)\n  2. **VERIFIQUE**: Padrão (7x17, F4.2) ou Personalizada (qualquer outra)\n  3. **SE padrão**: Use `busca_preco` \n  4. **SE personalizada**: Use `calcular_ferragem_personalizada` com 1 metro\n  5. Apresente orçamento parcial por metro\n  6. Solicite comprimento específico\n\n**EXEMPLO PRÁTICO:**\nCliente: \"01 ferrugem armada 7x15 ferro 3x8\"\n- Resposta: Identificar como personalizada → Calcular 1 metro → Orçamento por metro + solicitar comprimento\n\n**EXEMPLO DE RESPOSTA IDEAL:**\n\"Trabalhamos com materiais pré-moldados para lajes. Não temos brita, areia, madeira e pregos disponíveis. \n\nSegue orçamento dos materiais que trabalhamos:\n\n**ORÇAMENTO MATERIAIS LAJE - Guardião Lajes**\n* **Treliças 6,00m:** 3 unidades - R$ 234,00\n* **Lajotas Cerâmicas:** 100 unidades - R$ 120,00  \n* **Malha Média 3x2m:** 1 unidade - R$ 85,00\n* **Arame Queimado:** 1 kg - R$ 12,00\n* **Vergalhão F10:** 2 unidades - R$ 186,00\n\n**Total do Orçamento: R$ 637,00**\n\nPara a ferragem 7x15 com F10, preciso saber apenas a comprimento (comprimento da viga). O restante posso calcular!\"\n\n### 1. RECEPÇÃO INICIAL E ORÇAMENTO AUTOMÁTICO\n- Se o nome do cliente for \"unknown\", pergunte gentilmente: \"Pra te atender melhor, posso saber seu nome?\"\n- **NOVA REGRA**: Quando cliente mencionar produtos que trabalhamos, **SEMPRE** ofereça orçamento imediatamente\n- **PROCESSO AUTOMÁTICO DE ORÇAMENTO:**\n  1. Cliente menciona qualquer produto do nosso escopo\n  2. Pergunte APENAS as informações mínimas necessárias: \"Qual a metragem da sua laje?\"\n  4. Use ferramentas para calcular\n  5. Apresente orçamento completo formatado\n  6. Finalize com pergunta de fechamento\n\n- **FRASES PARA ORÇAMENTO AUTOMÁTICO:**\n  - \"Vou fazer um orçamento completo pra você!\"\n  - \"Deixa eu calcular isso agora mesmo\"\n  - \"Qual a metragem da laje que vou orçar?\"\n  - \"É preço por metro ou já tem as medidas das ferragens ?\" (para ferragens)\n\n- **ATENÇÃO**: Se cliente mencionar produtos que não vendemos, informe educadamente e continue com orçamento dos produtos disponíveis\n\n### 2. QUALIFICAÇÃO ATIVA\nFaça perguntas estratégicas para entender:\n- **Tamanho da laje**: \"Qual a metragem da sua laje?\" ou \"Você tem as medidas (largura x comprimento)?\"\n- **Tipo de enchimento**: \"Vai usar isopor ou lajota cerâmica?\"\n- **Urgência**: \"Pra quando você precisa do material?\" ⚠️ **ATIVAR SUPERVISOR**\n- **Localização**: \"É aqui em Maceió mesmo ou região?\"\n\n### 3. IDENTIFICAÇÃO E PROCESSAMENTO DE PRODUTOS\n**REGRA FUNDAMENTAL: PRODUTOS ISOLADOS = BUSCA_PRECO**\n\n**QUANDO CLIENTE PEDIR PRODUTOS ESPECÍFICOS SEM CONTEXTO DE LAJE:**\n- Treliças avulsas: \"3 treliças de 6 metros\" → Use `busca_preco` com \"Treliça Concretada\"\n- Vergalhões avulsos: \"2 vergalhao de ferro 10\" → Use `busca_preco` com \"Vergalhão F10\"  \n- Malhas avulsas: \"2 malhas de 3x2\" → Use `busca_preco` com tipo específico\n- Isopor avulso: \"10 placas de isopor\" → Use `busca_preco` com \"Isopor H7/33\"\n\n**QUANDO CLIENTE MENCIONAR PROJETO DE LAJE COMPLETO:**\n- \"Materiais para laje 5x8\" → Use `calcular_laje`\n- \"Lista de materiais da laje\" → se já tiver as medidas use `calcular_laje`, se não procure as medidas\n\n**PROCESSO PARA PRODUTOS ISOLADOS:**\n1. Identifique que é produto específico (não projeto de laje)\n2. Use `busca_preco` com termo convertido\n3. Para achar preço unitário calcule: preço metro x tamanho_peça\n4. Calcule: preço_unitário × quantidade solicitada\n5. Monte orçamento simples formatado\n\n### 4. INTERPRETAÇÃO DE LINGUAGEM DO CLIENTE\n**DICAS IMPORTANTES:**\n- Quando o cliente falar \"ferro 6\", internamente use \"F6.3\"\n- Quando disser \"ferro 12\", internamente use \"F12.5\"\n- \"Malha pop\" = \"Malha Leve 20x20 F3.4\"\n- \"Isopor\" = padrão H7/33\n- \"EPS\" = \"Isopor\" (mesmo produto)\n- \"Ferragem\" = sempre perguntar bitola e comprimento\n\n### 5. CÁLCULOS E COTAÇÕES - REGRA CRÍTICA\n- **JAMAIS** forneça orçamento sem usar as ferramentas primeiro\n- **SEMPRE** calcule os valores ANTES de montar o orçamento\n- **NUNCA** use placeholders como \"[valor a ser calculado]\"\n- **PROCESSO OBRIGATÓRIO:**\n  1. Use `calcular_laje` para obter quantidades e preço.\n  2. Use `busca_preco` para obter valores unitários ou por metro\n    - Se for por metro calcule o preco_unitario: preço_por_metro × comprimento\n  3. Calcule valores totais (quantidade × preço unitário)\n  4. **SÓ ENTÃO** monte o orçamento formatado\n- Se não conseguir calcular, informe: \"Deixa eu calcular certinho pra você...\" e use as ferramentas\n\n### 6. GESTÃO DE PRAZOS E ENTREGAS - NOVA REGRA\n**SEMPRE que cliente perguntar sobre:**\n- Prazos de entrega\n- Agendamento de recebimento\n- Disponibilidade de horários\n- Áreas de atendimento\n- Fretes especiais\n\n**ATIVE SUPERVISOR:** `\"supervisor\": true`\n**RESPOSTA PADRÃO:** \"Deixa eu verificar com nossa equipe de entregas sobre esse prazo/agendamento para te dar uma informação precisa.\"\n\n### 7. TÉCNICAS DE FECHAMENTO\n- **Assuma a venda**: \"Quando você quer receber o material?\" ⚠️ **ATIVAR SUPERVISOR**\n- **Não Crie urgência**: \"Temos essa promoção só até sexta-feira\"\n- **Ofereça facilidades**: \"Posso parcelar em até 3x com juros\"\n- **Confirme interesse**: \"E aí, fechamos?\"\n\n## 📋 FORMATO ORÇAMENTO WHATSAPP - REGRAS CRÍTICAS\n\n**⚠️ ATENÇÃO: CRÍTICA: JAMAIS use placeholders como \"[valor a ser calculado]\"**\n\n**PROCESSO 100% OBRIGATÓRIO:**\n\n1. **PRIMEIRO**: Execute a ferramenta (calcular_laje, calcular_ferragem_personalizada, busca_preco)\n2. **SEGUNDO**: Aguarde o retorno com valores numéricos\n3. **TERCEIRO**: Use APENAS os valores retornados pelas ferramentas\n4. **QUARTO**: Monte o orçamento só com números reais\n5. **JAMAIS** use placeholders como \"[valor a ser calculado]\"\n\n**SE a ferramenta não retornar valor ou der erro:**\n- Responda: \"estou fazendo o orçamento e já te mando\"\n- Tente novamente com parâmetros ajustados\n- **NUNCA** envie orçamento com placeholder\n- Se mesmo assim não conseguir fale com supervisor\n\n**SEMPRE** que fornecer orçamento, use este formato EXATO com VALORES REAIS:\n\n```\n**ORÇAMENTO**\n\n* **[Quantidade] [Item]:** R$ [Valor_Total]\n* **[Quantidade] [Item]:** R$ [Valor_Total]  \n* **[Quantidade] [Item]:** R$ [Valor_Total]\n\n**Total do Orçamento: R$ [Valor_Total_Geral]**\n\nPodemos fechar seu pedido ou ficou alguma dúvida?\n\nAbraço, Henrique - Guardião Lajes 😉\n```\nExemplo\n```\n**ORÇAMENTO**\n\n* **21 Treliças 3,50m:** R$ 955,50\n* **10 Estribos 17x7 F10:** R$ 450,00\n* **56 metros Ferragem 15x7 F8:** R$ 1.680,00\n* **5 kg Arame Queimado:** R$ 60,00\n\n**Total do Orçamento: R$ 3.145,50**\n\nPodemos fechar seu pedido ou ficou alguma dúvida?\n\nAbraço, Henrique - Guardião Lajes 😉\n```\nREGRAS CRÍTICAS:\n\n❌ NUNCA mostre cálculos: 9 x R$ 65,00 = R$ 585,00\n✅ SEMPRE mostre só o resultado: R$ 585,00\n❌ NUNCA use parênteses com cálculos\n✅ Formato: Quantidade + Item + Preço Final\n\n## 🔧 REGRAS ESPECIAIS PARA TRELIÇAS - CORREÇÃO CRÍTICA\n\nTRELIÇAS AVULSAS - CÁLCULO MANUAL OBRIGATÓRIO\nQUANDO cliente pedir treliças específicas:\n1. Use busca_preco(\"Treliça Concretada\") \n2. CALCULE MANUALMENTE: comprimento × preço_metro × quantidade\n3. FORMATE: \"[quantidade] Treliças [comprimento]m: R$ [resultado]\"\n4. NUNCA mostre a conta, só o resultado final\nEXEMPLO PRÁTICO:\n\nCliente: \"21 treliças cheias de 3,50\"\nProcesso: busca_preco → R$ 13,00/metro\nCálculo: 3,5 × 13 × 21 = 955,50\nFormato: \"21 Treliças 3,50m: R$ 955,50\"\n\n### 📐 INTERPRETAÇÃO DO RETORNO DA FERRAMENTA `calcular_laje`\n\nA ferramenta `calcular_laje` pode retornar dados estruturados para treliças em **DOIS FORMATOS DIFERENTES**:\n\n#### **FORMATO 1: Treliças Pré-Cortadas**\n```json\n\"trelica\": {\n  \"quantidade_vigotas\": 38,\n  \"tamanho_vigota\": 4,\n  \"preco_por_metro\": 13,\n  \"valor_total\": 1976\n}\n```\n\n#### **FORMATO 2: Treliças por Metro**\n```json\n\"trelica\": {\n  \"metragem_total\": 282,\n  \"preco_por_metro\": 13,\n  \"valor_total\": 3666\n}\n```\n\n### 🎯 REGRA DE INTERPRETAÇÃO DOS DADOS - ALGORITMO COMPLETO\n\n**SEMPRE interprete os dados da seguinte forma:**\n\n```\nSE existe \"quantidade_vigotas\" E \"tamanho_vigota\":\n   ENTÃO formate como \"[quantidade_vigotas] unidades Treliças [tamanho_vigota]m: - R$ [valor_total]\"\n\nSE existe \"metragem_total\":\n   ENTÃO formate como \"[metragem_total] metros Treliças: - R$ [valor_total]\"\n```\n\n## 📏 REGRAS ESPECÍFICAS\n\n### CÁLCULO DE LAJES\n- **Com largura e comprimento**: Use sempre a tool `calcular_laje`\n- **Só com área total**: Use `calcular_laje` para demais itens\n- **Padrão de enchimento**: Se não especificado, assuma **isopor**\n- **Formato de treliças**: Use **EXATAMENTE** como a ferramenta retornar - não altere!\n- **Com a quantidade e(ou) tamanho**: Não use ´calcular_laje´\n\n### FERRAGENS PERSONALIZADAS\nUse `calcular_ferragem_personalizada` **SOMENTE** quando o cliente solicitar ferragem com especificações diferentes do padrão:\n- **Padrão**: Estribo 7x17, ferro 4.2mm, espaçamento 24cm\n- **Personalizada**: Qualquer variação desses parâmetros\n\n### 🚨 REGRA CRÍTICA PARA FERRAGENS:\n**DIFERENCIAÇÃO OBRIGATÓRIA:**\n2. **Cliente quer ferragem sob medida COM comprimento**: Use ferramentas de cálculo\n3. **Cliente menciona ferragem MAS sem comprimento específico**: \n   - **SE ferragem padrão (7x17, F4.2)**: Use `busca_preco`\n   - **SE ferragem personalizada**: Use `calcular_ferragem_personalizada` com 1 metro\n   - Apresente valor por metro\n   - Solicite comprimento para orçamento exato\n\n**ANTES de calcular ferragem sob medida, SEMPRE confirme:**\n1. **Bitola em polegadas**: 3/8\" = F10, 1/4\" = F6.3, 1/2\" = F12.5\n2. **Tamanho/Comprimento**: \"Qual o tamanho dessa ferragem?\" ou \"Quantos metros de comprimento?\"\n3. **SÓ ENTÃO** use a ferramenta de cálculo\n\n### TRELIÇAS - REGRAS ESPECÍFICAS DE CÁLCULO\n\n**SITUAÇÃO 1: TRELIÇAS PARA PROJETO DE LAJE**\n- Cliente: \"Materiais para laje 6x8\"\n- Ferramenta: `calcular_laje`\n- Retorno: Quantidades e valores para laje completa\n\n**SITUAÇÃO 2: TRELIÇAS AVULSAS/ISOLADAS**  \n- Cliente: \"3 treliças de 6 metros\" ou \"treliças de 6 metros cheia\"\n- Ferramenta: `busca_preco` com \"Treliça Concretada\"\n- Cálculo manual: preço_por_metro × comprimento × quantidade\n- Formato: \"Treliças 6,00m: 3 unidades - R$ [valor_total]\"\n\n**ALGORITMO DE DECISÃO:**\nSE cliente mencionar dimensões de laje (ex: 5x8, 6x10, 50m², 80 metros quadrados, 90 metros2):\nENTÃO usar calcular_laje\nSE cliente pedir treliças específicas sem contexto de laje:\nENTÃO usar busca_preco + cálculo manual\nFÓRMULA: preço_metro × comprimento × quantidade\n\n**EXEMPLOS PRÁTICOS:**\n- \"3 treliças de 6 metros\" = busca_preco(\"Treliça Concretada\") → R$ 13/metro × 6m × 3un = R$ 234,00\n- \"Materiais laje 6x8\" = calcular_laje(6, 8, \"isopor\") → resultado completo da ferramenta\n- \"Orçamento laje 50m² = calcular laje(50, \"isopor\")  → resultado completo da ferramenta\n\n**FRASES OBRIGATÓRIAS:**\n- \"É preço por metro da ferragem ou uma ferragem pronta?\"\n- \"Preciso saber o tamanho dessa ferragem pra calcular o preço\"\n- \"Qual o comprimento dessa ferragem em metros?\"\n- \"Pra ferragem com ferro 3/8, preciso confirmar as dimensões\"\n- **FRASES PARA FERRAGEM SEM COMPRIMENTO:**\n- \"Calculei o preço por metro. Quantos metros de comprimento tem essa ferragem?\"\n- \"Este é o valor por metro linear. Preciso do comprimento total para o orçamento exato\"\n- \"Para fazer seu orçamento completo, qual o comprimento dessa peça?\"\n- \"Tenho o preço por metro aqui. Você sabe quantos metros precisa?\"\n\n### CONVERSÃO DE TERMOS NAS FERRAMENTAS\n**EXEMPLOS PRÁTICOS:**\n- Cliente: \"Preciso de ferro 6 para minha laje\"\n- Você: \"Certo! Quantos vergalhões precisar?\"\n- Ferramenta: usar \"F6.3\"\n\n- Cliente: \"Quero uma malha pop\"\n- Você: \"Perfeito! A malha pop é ideal mesmo\"\n- Ferramenta: usar \"Malha media\"\n\n## 🛍️ PRODUTOS MAIS COMUNS (com conversões)\n- Vigota treliçada / Treliça concretada  \n- Isopor para laje (33cm) / EPS → Isopor H7/33\n- Lajota cerâmica (25cm) / Tijota → Lajota Cerâmica\n- Malha de aço / Tela soldada → Malha [tipo específico]\n- Ferragens sob medida / Armações → Ferragem\n- Vergas e contravergas → Viga de porta\n\n### ❌ ERROS CRÍTICOS A EVITAR\n\n### ⚠️ NUNCA FAÇA ISSO:\n- ❌ Orçamento com \"[valor a ser calculado]\"\n- ❌ Montar orçamento sem usar ferramentas\n- ❌ Estimar valores \"de cabeça\"\n- ❌ Enviar orçamento incompleto\n- ❌ Usar placeholders em orçamentos\n- ❌ **Confundir os dois formatos de retorno da ferramenta**\n- ❌ **Usar \"quantidade_vigotas\" quando deveria usar \"metragem_total\"**\n- ❌ **Ignorar a estrutura de dados retornada pela ferramenta**\n- ❌ **Atender produtos que não vendemos (areia, brita, cimento)**\n- ❌ **Prometer prazos sem consultar supervisor**\n- ❌ **Deixar de ativar supervisor quando necessário**\n- ❌ **Usar bitola errada para ferragem (3/8\" = F10, não F5)**\n- ❌ **Confundir preço por metro com ferragem sob medida**\n- ❌ **Usar `busca_preco` para ferragem personalizada mesmo quando calculando por metro**\n- ❌ **Não solicitar comprimento quando cliente menciona apenas dimensões da seção**\n- ❌ **Usar \"[valor a ser calculado]\" ou \"[valor total a ser calculado]\" em orçamentos**\n- ❌ **Enviar orçamento antes de receber retorno das ferramentas**\n- ❌ **Usar `calcular_laje` para produtos isolados/avulsos**\n- ❌ **Usar `busca_preco` para projetos completos de laje**\n- ❌ **Não distinguir entre produto isolado vs projeto de laje**\n- ❌ **Não reconhecer frações em polegadas disfarçadas**\n- ❌ Mostrar cálculos no orçamento: (9 x R$ 65,00)\n- ❌ Inventar preços quando ferramenta não retornar\n- ❌ Não reconhecer \"ferragem armada para coluna\" como Ferragem\n- ❌ Não reconhecer \"radier armado\" como Ferragem\n- ❌ Confundir unidades de estribos com metros de ferragem\n- ❌ Usar formato antigo do orçamento (Item + Quantidade + Preço)\n\n### ✅ SEMPRE FAÇA ISSO:\n- ✅ Calcule ANTES de orçar\n- ✅ Use ferramentas para obter valores reais\n- ✅ Monte orçamento só com valores finais\n- ✅ Se faltar dados, peça ao cliente ESPECIFICAMENTE o que precisa\n- ✅ Seja transparente sobre o processo de cálculo\n- ✅ **IDENTIFIQUE qual estrutura de dados a ferramenta retornou**\n- ✅ **SE tem \"quantidade_vigotas\" + \"tamanho_vigota\" → Y unidades Treliças X,XXm: **\n- ✅ **SE tem \"metragem_total\" → X metros Treliças: **\n- ✅ **USE sempre o valor_total retornado pela ferramenta**\n- ✅ **ATIVE supervisor** para prazos, entregas e dúvidas sobre produtos\n- ✅ **Informe educadamente sobre produtos que não vendemos MAS CONTINUE COM ORÇAMENTO**\n- ✅ **Reconheça bitolas em polegadas: 3/8 = F10, 1/4 = F6.3, 1/2 = F12.5**\n- ✅ **DIFERENCIE: preço por metro vs ferragem sob medida**\n- ✅ **SEMPRE confirme se é lajota de barro = lajota cerâmica**\n- ✅ **Para ferragem sob medida: bitola correta + dimensões obrigatórias**\n- ✅ **Processe listas imediatamente**: separe o que vendemos, calcule, orce, informe sobre indisponíveis\n- ✅ **Para ferragem sem comprimento: identifique se é padrão ou personalizada antes de calcular**\n- ✅ **Use a ferramenta correta: `busca_preco` para padrão, `calcular_ferragem_personalizada` para personalizada**\n- ✅ **Para ferragem personalizada por metro: use 1 metro na ferramenta mas deixe claro que é preço por metro**\n- ✅ **Seja claro que o preço apresentado é por metro linear**\n- ✅ **Solicite apenas o comprimento que falta, não refaça todas as perguntas**\n- ✅ Se ferramenta não retornar valor, tente novamente - NUNCA use placeholder\n- ✅ Aguarde retorno completo das ferramentas antes de montar orçamento \n- ✅ Use apenas valores numéricos reais das ferramentas \n- ✅ Reconheça \"vergalhão de 5.16\" como vergalhão F8\n- ✅ **PRODUTOS ISOLADOS: busca_preco + cálculo manual**\n- ✅ **PROJETOS DE LAJE: calcular_laje para resultado completo**\n- ✅ **Identifique o contexto antes de escolher a ferramenta**\n- ✅ **Distinguir entre metragem e códigos de bitola**\n- ✅ Formato novo: Quantidade + Item + Preço Final\n- ✅ Ocultar cálculos: Mostrar só resultado\n- ✅ Para treliças avulsas: Cálculo manual após busca_preco\n- ✅ Reconhecer ferragem armada: coluna = ferragem, radier = ferragem\n- ✅ Se não souber preço: Consultar supervisor, nunca inventar\n\n## ✅ FRASES RECOMENDADAS\n\n### Frases Gerais\n- \"Deixa eu calcular isso pra você\"\n- \"Posso te fazer um orçamento completo\"  \n- \"E aí, fechamos esse orçamento?\"\n- \"Entendi! Vou ver os preços do [usar termo do cliente]\"\n\n### Frases para Produtos que NÃO Vendemos\n- \"Trabalhamos com materiais pré-moldados para lajes. Areia, brita e cimento não temos\"\n- \"Nosso foco é em treliças, isopor, malhas e ferragens para lajes\"\n- \"Esses materiais não fazem parte do nosso portfólio\"\n\n### Frases para Ativar Supervisor\n- \"Deixa eu verificar com nossa equipe sobre [questão específica]\"\n- \"Vou consultar nosso responsável de entregas sobre esse prazo\"\n- \"Preciso confirmar essa informação pra te dar uma resposta precisa\"\n- \"Deixa eu checar nossa disponibilidade para essa região\"\n\n### Frases para Orçamento Automático\n- \"Vou fazer um orçamento completo pra você!\"\n- \"Deixa eu calcular isso agora mesmo\"\n- \"Perfeito! Qual a metragem da laje que vou orçar?\"\n- \"Vou montar seu orçamento com todos os materiais\"\n- \"Calculando aqui... só preciso da metragem da laje\"\n- **\"É preço por metro do ferro ou uma ferragem sob medida?\"**\n- **\"Pra lajota de barro, vou calcular com a cerâmica pra você\"**\n\n## 🎯 SITUAÇÕES ESPECIAIS\n\n### Cliente Pergunta sobre Produtos que NÃO Vendemos\n**EXEMPLO:**\nCliente: \"Vocês têm areia e cimento também?\"\n\n**RESPOSTA:**\n```json\n{\n  \"resposta\": \"Não, trabalhamos especificamente com materiais pré-moldados para lajes - treliças, isopor, malhas e ferragens. Areia e cimento não fazem parte do nosso portfólio. Posso te ajudar com os materiais da laje?\",\n  \"supervisor\": true,\n  \"obs\": \"Cliente perguntou sobre areia e cimento - informei que não vendemos\"\n}\n```\n\n### Cliente Pergunta sobre Prazos\n**EXEMPLO:**\nCliente: \"Pra quando vocês conseguem entregar?\"\n\n**RESPOSTA:**\n```json\n{\n  \"resposta\": \"Deixa eu verificar com nossa equipe de entregas sobre os prazos disponíveis para te dar uma informação precisa. Como está a sua obra?\",\n  \"supervisor\": true,\n  \"obs\": \"Cliente perguntou sobre prazo de entrega - acionando supervisor\"\n}\n```\n\n### Cliente Indeciso\n- Faça perguntas para identificar objeções\n- Ofereça benefícios específicos\n- Use prova social: \"A maioria dos nossos clientes escolhe...\"\n\n### Cliente com Pressa\n- Seja direto e objetivo\n- Foque no essencial: metragem, produto, prazo\n- **ATIVE SUPERVISOR** para questões de entrega urgente\n\n### Cliente Comparando Preços\n- Destaque diferenciais de qualidade\n- Mencione garantia e suporte\n- Ofereça condições especiais\n\n### EXEMPLO: TRELIÇAS ISOLADAS\nCliente: \"03 treliças de 6 metros cheia\"\n\n**PROCESSO CORRETO:**\n1. Identificar: produto isolado (não projeto de laje)\n2. Usar: `busca_preco(\"Treliça Concretada\")`\n3. Calcular: preço_por_metro × tamanho metros × x unidades\n4. Exemplo: R$ 13,00 × 6 × 3 = R$ 234,00\n\n**RESPOSTA FORMATADA:**\nORÇAMENTO\n\n3 unidades Treliças 6,00m: R$ 234,00\n\nTotal do Orçamento: R$ 234,00\nPodemos fechar seu pedido ou ficou alguma dúvida?\n\n### EXEMPLO: CÓDIGOS NUMÉRICOS DE BITOLA\nCliente: \"2 vergalhão de 5.16\"\n\n**INTERPRETAÇÃO CORRETA:**\n- \"5.16\" = 5/16 polegadas = F8\n- \"2\" = quantidade em unidades (barras de 12m)\n\n**PROCESSO:**\n1. Converter: 5.16 → F8\n2. Usar: `busca_preco(\"Vergalhão F8\")`\n3. Calcular:  preco_unitario × 2 unidades\n\n**RESPOSTA FORMATADA:**\nORÇAMENTO \n\n2 Vergalhão F8: R$ [valor]\n\nTotal do Orçamento: R$ [valor]\n\n**❌ INTERPRETAÇÃO ERRADA:**\n\"Vergalhão F5 (5.16 metros)\" ← NUNCA faça isso!\n\n## 🔧 FERRAMENTAS DISPONÍVEIS\n- `calcular_laje`: Calcula materiais necessários para lajes\n- `busca_preco`: Consulta preços atualizados (usar termos convertidos)\n- `produtos_mais_cotados`: Produtos em alta demanda\n- `ultimos_orcamentos`: Histórico do cliente\n- `salvar_orcamento`: Grava proposta final\n- `calcular_ferragem_personalizada`: Para ferragens não-padrão\n\n## 📝 CAMPOS DE SAÍDA - GUIA DETALHADO\n\n### nome_cliente\n- Extrair nome da conversa quando mencionado\n- Manter \"unknown\" até identificação\n- Atualizar quando cliente se apresentar\n\n### nome_identificado\n- `true`: Cliente informou nome explicitamente\n- `false`: Nome ainda não identificado\n\n### intencao\n- `cotacao`: Cliente quer preços/orçamento\n- `consultoria`: Precisa de orientação técnica\n- `duvida`: Tem questões específicas\n- `fechamento`: Pronto para comprar\n- `outro`: Outras intenções\n\n### proxima_etapa\n- Seja específico: \"Calcular orçamento laje 5x10m\"\n- \"Confirmar tipo de enchimento\"\n- \"Consultar supervisor sobre prazo de entrega\"\n- \"Finalizar pedido\"\n\n### obs\n- Informações importantes para próximas interações\n- Preferências do cliente\n- Detalhes técnicos relevantes\n- Status da negociação\n- Produtos mencionados que não vendemos\n\n### supervisor (NOVO CAMPO)\n- `true`: Quando precisar de intervenção humana\n- `false`: Quando conseguir atender completamente\n- **ATIVAR OBRIGATORIAMENTE** para: prazos, entregas, produtos duvidosos, situações complexas\n\n## 🎯 LEMBRE-SE - REGRAS DE OURO\n- **JAMAIS** envie orçamento sem valores calculados\n- **SEMPRE** use ferramentas antes de orçar\n- **NUNCA** use placeholders em orçamentos\n- **MANTENHA o formato EXATO de treliças retornado pela ferramenta**\n- **NÃO vendemos areia, brita, cimento, madeira, pregos - informe e CONTINUE com orçamento**\n- **RECONHEÇA bitolas em polegadas**: 3/8\"=F10, 1/4\"=F6.3, 1/2\"=F12.5, 5/8\"=F16, 3/4\"=F20\n- **PROCESSE listas imediatamente**: separe o que vendemos, calcule, orce, informe sobre indisponíveis\n- **SEJA ESPECÍFICO nas perguntas**: \"Preciso da altura da ferragem\" vs \"preciso de mais detalhes\"\n- **ATIVE supervisor** para prazos, entregas e dúvidas sobre produtos\n- Seu objetivo é **FECHAR VENDAS** com orçamentos precisos e completos\n- Seja **consultivo** mas **assertivo**\n- Use as ferramentas com **termos padronizados convertidos**\n- Mantenha o cliente **engajado** até o final\n- **FALE a linguagem do cliente, PENSE nos termos do sistema**\n- **SEMPRE** formate orçamentos no padrão WhatsApp COM VALORES REAIS\n- **SEMPRE** retorne no formato JSON especificado com TODOS os campos\n- QUANDO cliente mencionar produtos que vendemos = ORÇAMENTO AUTOMÁTICO\n- PERGUNTE apenas o mínimo necessário para orçar\n- NÃO faça muitas perguntas - seja direto e eficiente\n\n**MANTRA ATUALIZADO**: \"Cliente fala produto nosso = Orço na hora! Lajota de barro = Cerâmica! Ferragem: Metro direto, Sob medida = Tamanho primeiro! Lista = Separo, Calculo, Orço, Informo! Bitola em polegada eu reconheço! Pergunta específica, nunca genérica!\"\n\nAgora atenda o cliente de forma natural, humana e focada no resultado, sempre convertendo internamente os termos para usar corretamente nas ferramentas, ativando o supervisor quando necessário e formatando adequadamente suas respostas!"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        -1660,
        980
      ],
      "id": "3bcec1a6-a76f-4877-bf52-b4d8e8eae058",
      "name": "SDR",
      "retryOnFail": true,
      "waitBetweenTries": 1500
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('When chat message received').item.json.sessionId }}",
        "sessionTTL": 86400,
        "contextWindowLength": 7
      },
      "type": "@n8n/n8n-nodes-langchain.memoryRedisChat",
      "typeVersion": 1.5,
      "position": [
        -1600,
        1320
      ],
      "id": "a7a070fa-f83b-4a82-b514-ad68db876821",
      "name": "Redis Chat Memory SDR",
      "credentials": {
        "redis": {
          "id": "sA2U6PkBocrwko3a",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "description": "Busca o preço de um produto a partir do nome e especificações técnicas. Use sempre que o cliente quiser saber preço de um item específico.",
        "workflowId": {
          "__rl": true,
          "value": "={{$workflow.id}}",
          "mode": "id"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "operation": "=preco_produto",
            "tableName": "produtos_precos",
            "NomeProduto": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('NomeProduto', `Nome do produto que o cliente mencionou. Deve ser uma palavra-chave presente no nome cadastrado, como \"Ferragem F10\", \"Isopor H8\", \"Lajota\", \"Estribo\", etc.`, 'string') }}",
            "detalhes": "={\n  \"bitola\": \"{{ $fromAI('bitola', 'bitola da peça (ex: 4.2mm, 10mm)', 'string', '') }}\",\n  \"modelo\": \"{{ $fromAI('modelo', 'modelo ou formato, como 7x17 ou quadrada', 'string', '') }}\",\n  \"bitola_estribo\": \"{{ $fromAI('bitola_estribo', 'bitola usada no estribo da ferragem (ex: 4.2mm)', 'string', '') }}\",\n  \"espacamento_estribo\": \"{{ $fromAI('espacamento_estribo', 'espaçamento entre os estribos da ferragem (ex: 24cm)', 'string', '') }}\",\n  \"tamanho_estribo\": \"{{ $fromAI('tamanho_estribo', 'tamanho do estribo da ferragem (ex: 7x17)', 'string', '') }}\",\n  \"espacamento_fios\": \"{{ $fromAI('espacamento_fios', 'espaçamento entre os fios das malhas (ex: 15x15)', 'string', '') }}\",\n  \"tamanho\": \"{{ $fromAI('tamanho', 'tamanho total do produto, como 2.00x3.00m ou 40x40cm', 'string', '') }}\",\n  \"altura\": \"{{ $fromAI('altura', 'altura da peça, como 8cm ou 19cm', 'string', '') }}\",\n  \"largura\": \"{{ $fromAI('largura', 'largura da peça, como 33cm ou 19cm', 'string', '') }}\",\n  \"comprimento\": \"{{ $fromAI('comprimento', 'comprimento da peça, como 100cm ou 12m', 'string', '') }}\",\n  \"material\": \"{{ $fromAI('material', 'material principal do item (ex: concreto, cerâmica, cimento)', 'string', '') }}\",\n  \"codigo\": \"{{ $fromAI('codigo', 'código interno do item, como H8/33', 'string', '') }}\",\n  \"referencia\": \"{{ $fromAI('referencia', 'referência interna ou apelido do produto', 'string', '') }}\",\n  \"descricao\": \"{{ $fromAI('descricao', 'descrição complementar fornecida pelo cliente', 'string', '') }}\",\n  \"tipo\": \"{{ $fromAI('tipo', 'tipo especial do produto (ex: custom)', 'string', '') }}\",\n  \"categoria\": \"{{ $fromAI('categoria', 'categoria geral como laje, coluna, armacao, enchimento, vedação', 'string', '') }}\",\n  \"tipo_uso\": \"{{ $fromAI('tipo_uso', 'uso principal do produto (ex: reforço, enchimento, armação, vedação)', 'string', '') }}\"\n}\n"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "operation",
              "displayName": "operation",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "tableName",
              "displayName": "tableName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "especificacoes",
              "displayName": "especificacoes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object",
              "removed": true
            },
            {
              "id": "ferragem",
              "displayName": "ferragem",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object",
              "removed": true
            },
            {
              "id": "detalhes",
              "displayName": "detalhes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object",
              "removed": false
            },
            {
              "id": "NomeProduto",
              "displayName": "NomeProduto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "leadid",
              "displayName": "leadid",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            },
            {
              "id": "Produtos",
              "displayName": "Produtos",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            },
            {
              "id": "Obs",
              "displayName": "Obs",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        -1380,
        1260
      ],
      "id": "f068cedf-ffa4-45a9-94bb-42c0da2f46fb",
      "name": "busca_preco"
    },
    {
      "parameters": {
        "name": "ultimos_orcamentos",
        "description": " Lista os últimos orçamentos realizados pelo lead.",
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $workflow.id }}"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "operation": "cons_orc",
            "tableName": "orcamentos",
            "leadid": "1"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "operation",
              "displayName": "operation",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "tableName",
              "displayName": "tableName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "especificacoes",
              "displayName": "especificacoes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object",
              "removed": true
            },
            {
              "id": "ferragem",
              "displayName": "ferragem",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object",
              "removed": true
            },
            {
              "id": "detalhes",
              "displayName": "detalhes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object",
              "removed": true
            },
            {
              "id": "NomeProduto",
              "displayName": "NomeProduto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            },
            {
              "id": "leadid",
              "displayName": "leadid",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "Produtos",
              "displayName": "Produtos",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            },
            {
              "id": "Obs",
              "displayName": "Obs",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "id": "3a1792bb-1e7d-46e9-af01-3bb3ae85055d",
      "name": "ultimos_orcamentos",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "position": [
        -1280,
        1280
      ],
      "typeVersion": 2.1
    },
    {
      "parameters": {
        "name": "salvar_orcamento",
        "description": "=Salva um orçamento para um cliente com a lista de produtos cotados, preços, total e vínculo com o lead correspondente.\nPara cada produto:\n- Identifique o nome exato (conforme a tabela de produtos).\n- Use o tool 'busca_produto' para consultar o preço na tabela 'produtos_precos'.\n- Calcule o subtotal: preco_unitario × quantidade.\n",
        "workflowId": {
          "__rl": true,
          "value": "={{ $workflow.id }}",
          "mode": "id"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "operation": "salvar_orcamento",
            "tableName": "orcamentos",
            "leadid": "1",
            "Produtos": "={{ JSON.stringify($fromAI('produtos', `Gere a lista de produtos que o cliente deseja orçar. Para cada produto:\n- Identifique o nome exato (conforme a tabela de produtos).\n- Use o tool 'busca_produto' para consultar o preço na tabela 'produtos_precos'.\n- Calcule o subtotal: preco_unitario × quantidade.\n- Retorne os campos:\n\n[\n  {\n    \\\"nome\\\": \\\"Ferragem F10\\\",\n    \\\"quantidade\\\": 12,\n    \\\"unidade\\\": \\\"metro\\\",\n    \\\"detalhes\\\": {\n      \\\"bitola_estribo\\\": \\\"4.2mm\\\",\n      \\\"tamanho_estribo\\\": \\\"7x17\\\",\n    \\\"preco_unitario\\\": 25.00,\n    \\\"subtotal\\\": 300.00\n    }\n  },\n  ...\n]\n\nSe não souber alguma especificação, deixe o campo 'detalhes' vazio ou omita.\nNunca estime valores manualmente. Sempre consulte o preço com 'busca_produto'.`, 'json')) }}",
            "Obs": "={{ $fromAI('observacoes', `Observações gerais sobre o orçamento solicitado. Inclua instruções extras dadas pelo cliente, comentários adicionais, condições especiais (como forma de pagamento ou prazo), ou qualquer informação que ajude o setor comercial ou logística. Se o cliente não disser nada relevante, retorne string vazia.`, 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "operation",
              "displayName": "operation",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "tableName",
              "displayName": "tableName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "especificacoes",
              "displayName": "especificacoes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object",
              "removed": true
            },
            {
              "id": "ferragem",
              "displayName": "ferragem",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object",
              "removed": true
            },
            {
              "id": "detalhes",
              "displayName": "detalhes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object",
              "removed": true
            },
            {
              "id": "NomeProduto",
              "displayName": "NomeProduto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            },
            {
              "id": "leadid",
              "displayName": "leadid",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "Produtos",
              "displayName": "Produtos",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "Obs",
              "displayName": "Obs",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "id": "a57cb16e-0e90-4b05-99fe-e22c43f9252b",
      "name": "salvar_orcamento",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "position": [
        -1040,
        1280
      ],
      "typeVersion": 2.1
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolCalculator",
      "typeVersion": 1,
      "position": [
        -940,
        1260
      ],
      "id": "74346f85-6ac9-46cd-b420-846af45b8c28",
      "name": "Calculator"
    },
    {
      "parameters": {
        "description": "Calcula a quantidade estimada de materiais para montagem de uma laje, com base nas dimensões informadas\n  (largura e comprimento, ou apenas área) e no tipo de enchimento escolhido (isopor ou lajota cerâmica).\n  Retorna a quantidade aproximada de vigotas, peças de enchimento (isopor ou lajota) e malhas de aço necessárias.\n  Sempre que houver largura e comprimento, o cálculo será feito com base no espaçamento real entre as vigotas.",
        "workflowId": {
          "__rl": true,
          "value": "={{ $workflow.id}}",
          "mode": "id"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "operation": "calcLaje",
            "especificacoes": "={\n\"largura\": \"{{ $fromAI('largura', 'largura da laje em metros. Ex: 5', 'string') }}\",\n\"comprimento\": \"{{ $fromAI('comprimento', 'comprimento da laje em metros. Ex: 8', 'string') }}\",\n\"area\": \"{{ $fromAI('area', 'área total da laje em metros quadrados. Ex: 40. Use apenas se não houver largura e comprimento.', 'string') }}\",\n\"enchimento\": \"{{ $fromAI('enchimento', 'tipo de enchimento da laje: \\\"isopor\\\" ou \\\"lajota\\\". Se o cliente não disser, use \\\"isopor\\\" como padrão.', 'string', { default: 'isopor' }) }}\",\n\"malha\": \"{{ $fromAI('malha'), 'qual é o modelo de malha ex:\"Leve 20x20 F3.4\", \"Media 15x15 F3.4\" ou \"Reforçada 15x15 F4.2\"', 'string', { default: 'Media' } }}\"\n}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "operation",
              "displayName": "operation",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "tableName",
              "displayName": "tableName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            },
            {
              "id": "especificacoes",
              "displayName": "especificacoes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object",
              "removed": false
            },
            {
              "id": "ferragem",
              "displayName": "ferragem",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object",
              "removed": true
            },
            {
              "id": "detalhes",
              "displayName": "detalhes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object",
              "removed": true
            },
            {
              "id": "NomeProduto",
              "displayName": "NomeProduto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            },
            {
              "id": "leadid",
              "displayName": "leadid",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            },
            {
              "id": "Produtos",
              "displayName": "Produtos",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            },
            {
              "id": "Obs",
              "displayName": "Obs",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        -840,
        1280
      ],
      "id": "24d43731-d2db-4586-84e2-062ab4c5f286",
      "name": "calcular_laje"
    },
    {
      "parameters": {
        "description": "=Calcula o custo e o preço estimado de uma ferragem sob medida com base em comprimento, \n  ferros longitudinais (bitola e quantidade), tamanho e bitola dos estribos, espaçamento entre estribos,\n  custos de material e mão de obra. Caso a bitola dos estribos não seja informada, usa-se \"F4.2\" como padrão, e se o espaço entre os estribos não for informada, usa-se \"0.20\", se o a quantidade de ferros não for informada considere como padrão 4",
        "workflowId": {
          "__rl": true,
          "value": "={{$workflow.id}}",
          "mode": "id"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "operation": "CalcFer",
            "ferragem": "={\n  \"comprimento\": {{ $fromAI(\"comprimento\", \"Comprimento total da ferragem em metros. Ex: para 'Ferragem 5,00', o valor é 5.\", \"number\") }},\n  \"ferros_longitudinais\": {{ $fromAI(\"ferros_longitudinais\", \"Lista de ferros longitudinais utilizados na ferragem. Cada item deve conter: - bitola (ex: 'F10', 'F12', 'F8', etc) - quantidade de varões dessa bitola. Formato: [ { \\\"bitola\\\": \\\"F10\\\", \\\"quantidade\\\": 4 }, { \\\"bitola\\\": \\\"F12\\\", \\\"quantidade\\\": 2 } ] Extraia mesmo que o cliente envie como '4F10+2F12', converta para este array e envie como string JSON.\", \"string\") }},\n  \"tamanho_estribo\": \"{{ $fromAI(\"tamanho_estribo\", \"Tamanho do estribo no formato 'largura x altura' em cm. Ex: '7x20'.\", \"string\") }}\",\n  \"espacamento_estribo\": \"{{ $fromAI(\"espacamento_estribo\", \"Espaçamento entre estribos em metros. Ex: para 'a cd 0,15', o valor é 0.15. Se não for informado, use o padrão '0.20'.\", \"number\") }}\",\n  \"bitola_estribo\": \"{{ $fromAI(\"bitola_estribo\", \"Bitola do ferro do estribo (ex: 'F5'). Se não for informado, use o padrão 'F4.2'.\", \"string\") }}\"\n}\n"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "operation",
              "displayName": "operation",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "tableName",
              "displayName": "tableName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            },
            {
              "id": "especificacoes",
              "displayName": "especificacoes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object",
              "removed": true
            },
            {
              "id": "ferragem",
              "displayName": "ferragem",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object",
              "removed": false
            },
            {
              "id": "detalhes",
              "displayName": "detalhes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object",
              "removed": true
            },
            {
              "id": "NomeProduto",
              "displayName": "NomeProduto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            },
            {
              "id": "leadid",
              "displayName": "leadid",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            },
            {
              "id": "Produtos",
              "displayName": "Produtos",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            },
            {
              "id": "Obs",
              "displayName": "Obs",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        -720,
        1280
      ],
      "id": "83fa5f70-155e-41b6-a939-c954cd81af9e",
      "name": "calcular_ferragem_personalizada"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "gpt-4o"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -1700,
        1200
      ],
      "id": "a2e63d3a-1ce3-4156-b72f-9e411217e85a",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "3mNlZ20nDfXfgUl9",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "operation"
            },
            {
              "name": "tableName"
            },
            {
              "name": "especificacoes",
              "type": "object"
            },
            {
              "name": "ferragem",
              "type": "object"
            },
            {
              "name": "detalhes",
              "type": "object"
            },
            {
              "name": "NomeProduto"
            },
            {
              "name": "leadid"
            },
            {
              "name": "Produtos"
            },
            {
              "name": "Obs"
            },
            {
              "name": "Status"
            },
            {
              "name": "Query"
            }
          ]
        }
      },
      "id": "96343505-9c42-4324-a5f5-e0e6cba21df1",
      "name": "When Executed by Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        -1240,
        300
      ],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9cf7a0fc-4415-4741-b2a4-701a39148d3b",
              "name": "operation",
              "value": "={{ $('When Executed by Another Workflow').item.json.operation }}",
              "type": "string"
            },
            {
              "id": "27fed7e0-f5c9-41db-b966-38830a4ddcec",
              "name": "tableName",
              "value": "={{ $('When Executed by Another Workflow').item.json.tableName }}",
              "type": "string"
            },
            {
              "id": "c6e0ba01-972b-4d5d-b7d1-e91f62488815",
              "name": "ferragem",
              "value": "={{ $('When Executed by Another Workflow').item.json.ferragem }}",
              "type": "object"
            },
            {
              "id": "9d46a701-ba02-4dd8-93dd-05ddf8eeb1df",
              "name": "detalhes",
              "value": "={{ $('When Executed by Another Workflow').item.json.detalhes }}",
              "type": "object"
            },
            {
              "id": "80e381a1-538f-4002-bf01-4d37f364c5f4",
              "name": "NomeProduto",
              "value": "={{ $('When Executed by Another Workflow').item.json.NomeProduto }}",
              "type": "string"
            },
            {
              "id": "ba30306c-acde-4724-9ec8-f1fc6b4ca2cb",
              "name": "leadid",
              "value": "={{ $('When Executed by Another Workflow').item.json[\"leadid\"] }}",
              "type": "string"
            },
            {
              "id": "b957c201-37a1-4ed4-8cf8-412b42687a2b",
              "name": "Produtos",
              "value": "={{ $('When Executed by Another Workflow').item.json.Produtos }}",
              "type": "array"
            },
            {
              "id": "47db7538-b69d-4aca-af4c-7507ffca4a8c",
              "name": "Obs",
              "value": "={{ $('When Executed by Another Workflow').item.json.Obs }}",
              "type": "string"
            },
            {
              "id": "3f52b47d-94c1-46f6-9316-b812208b0783",
              "name": "especificacoes",
              "value": "={{ $('When Executed by Another Workflow').item.json.especificacoes }}",
              "type": "object"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -880,
        300
      ],
      "id": "5a0c2547-d1e8-42f0-9f26-da61e9feba6f",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.operation }}",
                    "rightValue": "preco_produto",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "85fddca5-06c1-4f4c-8925-263a9e1a4019"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Preço"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "ca56cc1e-ff80-4e07-b0b0-22231edfc6f0",
                    "leftValue": "={{ $json.operation }}",
                    "rightValue": "cons_orc",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Ultimos Orc"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "e40f17ff-382c-4fa9-b9c6-46a09a0e28d2",
                    "leftValue": "={{ $json.operation }}",
                    "rightValue": "salvar_orcamento",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Salvar ORC"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "fa934f1b-b194-499c-bf35-cdd8b0205aa6",
                    "leftValue": "={{ $json.operation }}",
                    "rightValue": "calcLaje",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "CalcLaje"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "45350893-485a-4280-86b4-e3a3a79f68e0",
                    "leftValue": "={{ $json.operation }}",
                    "rightValue": "CalcFer",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "CalcFer"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "168e743c-1ce7-471e-b4bd-f4c37b543f6e",
                    "leftValue": "={{ $json.operation }}",
                    "rightValue": "rag",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "RAG"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -680,
        300
      ],
      "id": "9501a759-273e-4836-91e4-fb6afad65e04",
      "name": "Switch"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT json_agg(row_to_json(t))\nFROM {{ $json.tableName }} t;",
        "options": {}
      },
      "id": "57199341-9ad0-49df-9ee9-01a9bc98318b",
      "name": "ReadPreco",
      "type": "n8n-nodes-base.postgres",
      "position": [
        0,
        0
      ],
      "typeVersion": 2.6,
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "z2oHR8Hcbud4cXb6",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM {{ $json.tableName }}\nWHERE lead_id={{ $json.leadid }}\nLIMIT 5;",
        "options": {}
      },
      "id": "d1cbc423-44f2-4a3f-b043-6fa5388ab07c",
      "name": "ReadOrc",
      "type": "n8n-nodes-base.postgres",
      "position": [
        0,
        160
      ],
      "typeVersion": 2.6,
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "z2oHR8Hcbud4cXb6",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// --- Definição da Função de Transformação ---\n// Esta função recebe um array de objetos (onde cada objeto é um item de dado, como o seu input JSON)\n// e transforma a string 'Produtos' em um objeto JS.\nfunction transformarProdutosEmObjeto(inputJsonArray) {\n  // Garantir que a entrada seja um array. Embora 'items' geralmente seja um array,\n  // esta checagem aumenta a robustez.\n  if (!Array.isArray(inputJsonArray)) {\n    console.warn(\"Input para transformarProdutosEmObjeto não é um array. Tentando processar como um único item.\");\n    inputJsonArray = [inputJsonArray]; // Converte para um array de um item\n  }\n\n  // Percorre cada item no array de entrada\n  return inputJsonArray.map(item => {\n    // Cria uma cópia rasa do objeto para evitar modificar o objeto original diretamente.\n    // Isso é importante para a segurança dos dados e para evitar efeitos colaterais.\n    const newItem = { ...item };\n\n    // Verifica se a propriedade 'Produtos' existe e é uma string\n    if (typeof newItem.Produtos === 'string') {\n      try {\n        // Tenta converter a string JSON em um objeto JavaScript.\n        newItem.Produtos = JSON.parse(newItem.Produtos);\n      } catch (e) {\n        // Se a string 'Produtos' não for um JSON válido, um erro será capturado aqui.\n        // É importante logar o erro para depuração.\n        console.error(`Erro ao fazer parse da string 'Produtos' no item (ID ou operação: ${newItem.leadid || newItem.operation}):`, e);\n        \n        // Decisão sobre como lidar com JSON inválido:\n        // 1. Manter a string original (se quiser ignorar o erro de parse e ter o dado bruto):\n        //    newItem.Produtos = newItem.Produtos; \n        // 2. Definir como null (para indicar que o parse falhou e o dado não é um objeto):\n           newItem.Produtos = null; \n        // 3. Remover a propriedade (se não quiser que ela apareça na saída se for inválida):\n        //    delete newItem.Produtos;\n      }\n    }\n    return newItem; // Retorna o item (modificado ou não) para o novo array\n  });\n}\n\n// --- Parte Principal do Script para o Nó 'Code' ---\n\n// Em ambientes como o n8n, a entrada de dados para um nó 'Code'\n// quando configurado para \"Run Once For All Items\" (como parece ser o seu caso pela imagem)\n// geralmente é um array de objetos, onde cada objeto tem uma propriedade 'json'\n// que contém os dados reais do item.\n// Exemplo: [ { json: { ...item1Data... } }, { json: { ...item2Data... } } ]\n\nlet inputDataForFunction = [];\n\n// Acessar a variável de entrada fornecida pelo ambiente (mais comumente 'items')\nif (typeof items !== 'undefined' && Array.isArray(items)) {\n    // Mapeia o array 'items' para extrair apenas a parte 'json' de cada item,\n    // que é o seu dado real de entrada.\n    inputDataForFunction = items.map(item => item.json);\n} else {\n    // Caso 'items' não seja a variável esperada ou não seja um array.\n    // Isto é um fallback para depuração, indicando que a entrada não foi encontrada.\n    console.error(\"Erro: A variável de entrada 'items' não foi encontrada ou não é um array válido. Verifique a configuração da entrada do nó.\");\n    // Retorna um array vazio para evitar erros, mas isso indica um problema na entrada.\n    return []; \n}\n\n// Chama a função de transformação com os dados de entrada extraídos.\nconst transformedOutput = transformarProdutosEmObjeto(inputDataForFunction);\n\n// --- Retornar o Resultado ---\n// O nó 'Code' espera que o script retorne um array de objetos.\n// Cada objeto neste array retornado se tornará um 'item' na saída do nó.\nreturn transformedOutput;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1040,
        300
      ],
      "id": "119fbda8-3080-4b39-a264-f82fc38cb6ff",
      "name": "Code",
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "// --- Definição da Função de Transformação (mantida igual) ---\n// Esta função processa o array de itens, fazendo o parse da string 'Produtos' em cada um.\nfunction transformarProdutosEmObjeto(inputJsonArray) {\n  // Garante que a entrada seja um array (mesmo que venha apenas um item solto)\n  if (!Array.isArray(inputJsonArray)) {\n    console.warn(\"Input para transformarProdutosEmObjeto não é um array. Tentando processar como um único item.\");\n    inputJsonArray = [inputJsonArray];\n  }\n\n  // Mapeia cada item do array de entrada\n  return inputJsonArray.map(item => {\n    const newItem = { ...item }; // Cria uma cópia rasa do item\n\n    // Processa a propriedade 'Produtos' se for uma string\n    if (typeof newItem.Produtos === 'string') {\n      try {\n        newItem.Produtos = JSON.parse(newItem.Produtos); // Converte a string para um array/objeto JS\n      } catch (e) {\n        console.error(`Erro ao fazer parse da string 'Produtos' para o item (ID ou operação: ${newItem.leadid || newItem.operation}):`, e);\n        newItem.Produtos = null; // Em caso de erro, define como null\n      }\n    }\n    return newItem;\n  });\n}\n\n// --- Parte Principal do Script para o Nó 'Code' ---\n\nlet inputDataForFunction = [];\n\n// Obtém os dados de entrada do nó, assumindo o formato do n8n (items.map(item => item.json))\nif (typeof items !== 'undefined' && Array.isArray(items)) {\n    inputDataForFunction = items.map(item => item.json);\n} else {\n    console.error(\"Erro: A variável 'items' não foi encontrada ou não é um array válido. Verifique a configuração da entrada do nó.\");\n    return []; \n}\n\n// 1. Chama a função de transformação inicial para garantir que 'Produtos' é um array JS\nconst transformedItems = transformarProdutosEmObjeto(inputDataForFunction);\n\n// 2. Agora, itera sobre os itens transformados para calcular o total\nconst finalOutput = transformedItems.map(item => {\n    let totalSoma = 0;\n\n    // Verifica se 'Produtos' existe e é um array após a transformação\n    if (Array.isArray(item.Produtos)) {\n        item.Produtos.forEach(produto => {\n            // Acessa o subtotal dentro do objeto 'detalhes' de cada produto\n            if (produto.detalhes && typeof produto.detalhes.subtotal === 'number') {\n                totalSoma += produto.detalhes.subtotal;\n            } else if (produto.detalhes && produto.detalhes.subtotal === null) {\n                console.warn(`Subtotal nulo encontrado para o produto: ${produto.nome || 'desconhecido'}. Tratando como 0 na soma.`);\n            } else {\n                console.warn(`Produto sem 'detalhes.subtotal' numérico ou nulo para o produto: ${produto.nome || 'desconhecido'}.`);\n            }\n        });\n    } else if (item.Produtos !== null) { // Se não é array nem null (ex: undefined, ou string inválida)\n        console.warn(`Propriedade 'Produtos' não é um array válido para o item (operação: ${item.operation || 'desconhecida'}), não é possível calcular o total.`);\n    }\n    \n    // Adiciona o total calculado a uma nova propriedade no item.\n    // Usamos 'totalCalculado' para evitar conflito com um 'total' que possa vir na entrada original.\n    return {\n        ...item, // Mantém todas as outras propriedades do item\n        totalCalculado: totalSoma // Adiciona a nova propriedade com a soma\n    };\n});\n\n// 3. Retorna o resultado final do nó JavaScript\nreturn finalOutput;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -260,
        340
      ],
      "id": "60d49f0e-6aa8-4be3-bc1f-bb8c08131a79",
      "name": "CalcTotal"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO {{$json.tableName}} (lead_id, produtos, total, obs)\nVALUES (\n    {{ $json.leadid }},\n    '{{ JSON.stringify($json.Produtos) }}'::jsonb,\n    {{ $json.totalCalculado }},\n    {{ $json.Obs ? \"'\" + $json.Obs + \"'\" : 'NULL' }}\n  );",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        0,
        340
      ],
      "id": "917c5ba7-3576-4dc9-b739-bd21f8f93cf3",
      "name": "InsertOrc",
      "credentials": {
        "postgres": {
          "id": "z2oHR8Hcbud4cXb6",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "38442fcb-45fb-4aad-ad1f-e36fe0b16216",
              "leftValue": "={{ parseFloat($json.especificacoes.largura) <= 7 || parseFloat($json.especificacoes.comprimento) <= 7 }}",
              "rightValue": "=",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -40,
        520
      ],
      "id": "66b8f32a-b415-43cf-bd64-774cf9bc5bdf",
      "name": "IfModoCalc"
    },
    {
      "parameters": {
        "jsCode": "// Entradas esperadas: 'comprimento' e 'largura' dentro de 'especificacoes'\nconst especificacoes = $input.first().json.especificacoes || {};\nconst comprimento = parseFloat(especificacoes.comprimento || 0);\nconst largura = parseFloat(especificacoes.largura || 0);\n\n// Preços dos produtos vindos do input 'todos_os_produtos'\n// Certifique-se de que 'todos_os_produtos' esteja sempre presente e no formato esperado\nconst produtosPrecos = $input.first().json.todos_os_produtos || {};\n\n// Função auxiliar para buscar o preço base de um produto pelo nome\n// Busca a chave mais próxima no objeto produtosPrecos (case-insensitive e contém)\nfunction getPreco(nomeProdutoBuscado) {\n    const nomeNormalizado = nomeProdutoBuscado.toLowerCase();\n    for (const key in produtosPrecos) {\n        if (key.toLowerCase().includes(nomeNormalizado)) {\n            return parseFloat(produtosPrecos[key]);\n        }\n    }\n    return 0; // Retorna 0 se o preço não for encontrado\n}\n\n// Calcula a área a partir das dimensões fornecidas\nconst area = comprimento * largura;\n\nconst enchimento = (especificacoes.enchimento || 'isopor').toLowerCase();\nconst tipoMalha = (especificacoes.malha || 'malha leve').toLowerCase(); // Captura o tipo de malha especificado\n\nlet vigotas_por_metro_linear; // Quantidade de vigotas por metro linear da dimensão maior\nif (enchimento === 'isopor') {\n    vigotas_por_metro_linear = 2.5;\n} else if (enchimento === 'lajota') {\n    vigotas_por_metro_linear = 3.0;\n} else {\n    vigotas_por_metro_linear = 2.5; // padrão\n}\n\n// --- Lógica para cálculo de vigotas (quantidade e tamanho) ---\nconst dim_menor = Math.min(comprimento, largura);\nconst dim_maior = Math.max(comprimento, largura);\n\nconst tamanho_vigota = dim_menor; // O menor lado serve como tamanho de cada vigota\nconst qtd_vigotas = Math.ceil(dim_maior * vigotas_por_metro_linear); // O maior lado define a quantidade de vigotas\n\n// Estimativas de consumo por m² (iguais ao outro JS, dependem da área)\nconst qtd_isopor = Math.ceil(area / 0.4166666666);   // ~2.4 peças por m²\n\n// --- Lógica da Lajota (arredondamento complexo, depende da área) ---\nconst qtd_lajota_base = Math.ceil(area / 0.0666666666); // ~15 lajotas por m²\n\nconst unidade_arredondamento = 5;\nconst tolerancia_percentual = 0.03; // 3%\n\nconst limite_inferior = qtd_lajota_base * (1 - tolerancia_percentual);\nconst limite_superior = qtd_lajota_base * (1 + tolerancia_percentual);\n\nlet qtd_lajota_final = qtd_lajota_base; // Inicia com o valor base (fallback)\n\nconst candidato_para_baixo = Math.floor(qtd_lajota_base / unidade_arredondamento) * unidade_arredondamento;\nconst candidato_para_cima = Math.ceil(qtd_lajota_base / unidade_arredondamento) * unidade_arredondamento;\n\nlet candidatos_validos = [];\n\nif (candidato_para_baixo >= limite_inferior && candidato_para_baixo <= limite_superior) {\n    candidatos_validos.push(candidato_para_baixo);\n}\n\nif (candidato_para_cima !== candidato_para_baixo && candidato_para_cima >= limite_inferior && candidato_para_cima <= limite_superior) {\n    candidatos_validos.push(candidato_para_cima);\n}\n\nif (candidatos_validos.length > 0) {\n    let melhor_candidato = candidatos_validos[0];\n    let menor_diferenca = Math.abs(qtd_lajota_base - melhor_candidato);\n\n    for (let i = 1; i < candidatos_validos.length; i++) {\n        const candidato_atual = candidatos_validos[i];\n        const diferenca_atual = Math.abs(qtd_lajota_base - candidato_atual);\n        if (diferenca_atual < menor_diferenca) {\n            menor_diferenca = diferenca_atual;\n            melhor_candidato = candidato_atual;\n        }\n    }\n    qtd_lajota_final = melhor_candidato;\n}\nconst qtd_lajota = qtd_lajota_final;\n// --- FIM DA LÓGICA DA LAJOTA ---\n\nconst qtd_malha = Math.ceil(area / 5.8);\n\n\n// --- CÁLCULO DOS PREÇOS ---\nconst preco_trelica = getPreco('Trelica');\n\nlet preco_isopor = 0;\nif (enchimento === 'isopor') {\n    if (produtosPrecos['Isopor H7/33']) {\n        preco_isopor = getPreco('Isopor H7/33');\n    } else if (produtosPrecos['Isopor H8/33']) {\n        preco_isopor = getPreco('Isopor H8/33');\n    } else if (produtosPrecos['Isopor H8/40']) {\n        preco_isopor = getPreco('Isopor H8/40');\n    }\n}\n\nconst preco_lajota = getPreco('Lajota Cerâmica');\nlet preco_malha = 0;\n// Lógica para obter o preço da malha com base no tipoMalha\nif (tipoMalha.includes('leve')) {\n    preco_malha = getPreco('Malha Leve 20x20 F3.4');\n} else if (tipoMalha.includes('media')) {\n    preco_malha = getPreco('Malha Media 15x15 F3.4');\n} else if (tipoMalha.includes('reforcada')) {\n    preco_malha = getPreco('Malha Reforçada 15x15 F4.2');\n} else {\n    preco_malha = getPreco('Malha Leve 20x20 F3.4'); // Padrão\n}\n\n\n// Calcular os totais (garantindo que não seja NaN e arredondando)\nconst valor_trelica = parseFloat((qtd_vigotas * tamanho_vigota * preco_trelica).toFixed(2));\nconst valor_isopor = enchimento === 'isopor' ? parseFloat((qtd_isopor * preco_isopor).toFixed(2)) : 0;\nconst valor_lajota = enchimento === 'lajota' ? parseFloat((qtd_lajota * preco_lajota).toFixed(2)) : 0;\nconst valor_malha = parseFloat((qtd_malha * preco_malha).toFixed(2));\n\n// Calcular o valor total geral\nconst valor_total_geral = parseFloat((valor_trelica + valor_isopor + valor_lajota + valor_malha).toFixed(2));\n\n\nreturn [\n    {\n        json: {\n            area: parseFloat(area.toFixed(2)),\n            enchimento,\n            // Detalhes da Treliça\n            trelica: {\n                quantidade_vigotas: qtd_vigotas,\n                tamanho_vigota: parseFloat(tamanho_vigota.toFixed(2)),\n                // Preço por metro linear da treliça\n                preco_por_metro: preco_trelica,\n                valor_total: valor_trelica\n            },\n            // Detalhes do Isopor\n            isopor: enchimento === 'isopor' ? {\n                quantidade: qtd_isopor,\n                preco_unitario: preco_isopor,\n                valor_total: valor_isopor\n            } : null,\n            // Detalhes da Lajota\n            lajota: enchimento === 'lajota' ? {\n                quantidade: qtd_lajota,\n                preco_unitario: preco_lajota,\n                valor_total: valor_lajota\n            } : null,\n            // Detalhes da Malha\n            malha: {\n                tipo_selecionado: tipoMalha, // Adicionado o tipo de malha selecionado\n                quantidade: qtd_malha,\n                preco_unitario: preco_malha,\n                valor_total: valor_malha\n            },\n            valor_total_geral: valor_total_geral\n        }\n    }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        180,
        440
      ],
      "id": "e73f218e-5937-446d-888e-ee60871491d5",
      "name": "CalcLajeC*L"
    },
    {
      "parameters": {
        "jsCode": "// Entradas das especificações\nconst especificacoes = $input.first().json.especificacoes || {};\nconst inputLargura = parseFloat(especificacoes.largura);\nconst inputComprimento = parseFloat(especificacoes.comprimento);\nconst inputArea = parseFloat(especificacoes.area); // 'area' pode vir diretamente\n\nlet area;\nlet comprimento_maior_dimensao = 0; // Usado para cálculo de metragem da treliça se L/C forem dados\n\n// Lógica para determinar a área e as dimensões finais\nif (!isNaN(inputLargura) && !isNaN(inputComprimento) && inputLargura > 0 && inputComprimento > 0) {\n    // Se largura e comprimento válidos forem fornecidos, calcula a área e a maior dimensão\n    area = inputComprimento * inputLargura;\n    comprimento_maior_dimensao = Math.max(inputComprimento, inputLargura);\n} else if (!isNaN(inputArea) && inputArea > 0) {\n    // Se a área for fornecida diretamente\n    area = inputArea;\n    // Se a área for a única entrada, a maior dimensão para cálculo de treliça\n    // será a raiz quadrada da área (assumindo uma forma quadrada para estimativa),\n    // ou simplesmente usaremos 'area' para o cálculo direto da metragem de treliça.\n    // Para simplificar, vou considerar que quando só a área é dada, a qtd_vigotas\n    // já representa os metros totais com base em uma densidade por m².\n    comprimento_maior_dimensao = Math.sqrt(area); // Estima uma dimensão para usar no cálculo linear de treliça, se necessário.\n                                                 // No entanto, para treliças por \"metro\", a área é mais direta.\n} else {\n    // Nenhum dado válido para cálculo de área\n    throw new Error('As especificações devem conter \"area\" OU \"largura\" e \"comprimento\" válidos.');\n}\n\nconst enchimento = (especificacoes.enchimento || 'isopor').toLowerCase();\nconst tipoMalha = (especificacoes.malha || 'malha leve').toLowerCase(); // Captura o tipo de malha especificado\n\n// Preços dos produtos vindos do input 'todos_os_produtos'\nconst produtosPrecos = $input.first().json.todos_os_produtos || {};\n\n// Função auxiliar para buscar o preço base de um produto pelo nome\nfunction getPreco(nomeProdutoBuscado) {\n    const nomeNormalizado = nomeProdutoBuscado.toLowerCase();\n    for (const key in produtosPrecos) {\n        if (key.toLowerCase().includes(nomeNormalizado)) {\n            return parseFloat(produtosPrecos[key]);\n        }\n    }\n    return 0;\n}\n\nlet trelica_por_metro_linear; // Renomeado para maior clareza\nif (enchimento === 'isopor') {\n    trelica_por_metro_linear = 2.5; // Metros de treliça por metro linear de laje\n} else if (enchimento === 'lajota') {\n    trelica_por_metro_linear = 3.0; // Metros de treliça por metro linear de laje\n} else {\n    trelica_por_metro_linear = 2.5; // Padrão\n}\n\n// O cálculo da metragem total de treliça agora é mais direto:\n// Se dimensões foram dadas, usamos a maior dimensão da laje * trelica_por_metro_linear (metragem).\n// Se apenas a área foi dada, multiplicamos a área por trelica_por_metro_linear (densidade por m²).\n// A lógica é que trelica_por_metro_linear representa quantos metros de treliça são necessários por metro da dimensão maior,\n// ou quantos metros são necessários por m² de área total (dependendo de como você modelou isso para a laje).\n// Para o cenário 'só em metro', a interpretação mais comum seria metragem total baseada na área.\nconst metragem_total_trelica = Math.ceil(area * trelica_por_metro_linear); // Metragem total de treliça em metros\n\n\n// Estimativas de consumo por m²:\nconst qtd_isopor = Math.ceil(area / 0.4166666666);\n\n// --- Lógica da Lajota (arredondamento complexo) ---\nconst qtd_lajota_base = Math.ceil(area / 0.0666666666);\nconst unidade_arredondamento = 5;\nconst tolerancia_percentual = 0.03;\nconst limite_inferior = qtd_lajota_base * (1 - tolerancia_percentual);\nconst limite_superior = qtd_lajota_base * (1 + tolerancia_percentual);\nlet qtd_lajota_final = qtd_lajota_base;\nconst candidato_para_baixo = Math.floor(qtd_lajota_base / unidade_arredondamento) * unidade_arredondamento;\nconst candidato_para_cima = Math.ceil(qtd_lajota_base / unidade_arredondamento) * unidade_arredondamento;\nlet candidatos_validos = [];\n\nif (candidato_para_baixo >= limite_inferior && candidato_para_baixo <= limite_superior) {\n    candidatos_validos.push(candidato_para_baixo);\n}\nif (candidato_para_cima !== candidato_para_baixo && candidato_para_cima >= limite_inferior && candidato_para_cima <= limite_superior) {\n    candidatos_validos.push(candidato_para_cima);\n}\n\nif (candidatos_validos.length > 0) {\n    let melhor_candidato = candidatos_validos[0];\n    let menor_diferenca = Math.abs(qtd_lajota_base - melhor_candidato);\n    for (let i = 1; i < candidatos_validos.length; i++) {\n        const candidato_atual = candidatos_validos[i];\n        const diferenca_atual = Math.abs(qtd_lajota_base - candidato_atual);\n        if (diferenca_atual < menor_diferenca) {\n            menor_diferenca = diferenca_atual;\n            melhor_candidato = candidato_atual;\n        }\n    }\n    qtd_lajota_final = melhor_candidato;\n}\nconst qtd_lajota = qtd_lajota_final;\n// --- FIM DA LÓGICA DA LAJOTA ---\n\nconst qtd_malha = Math.ceil(area / 5.8);\n\n\n// --- CÁLCULO DOS PREÇOS ---\nconst preco_trelica = getPreco('Trelica'); // Preço por metro\n\nlet preco_isopor = 0;\nif (enchimento === 'isopor') {\n    if (produtosPrecos['Isopor H7/33']) {\n        preco_isopor = getPreco('Isopor H7/33');\n    } else if (produtosPrecos['Isopor H8/33']) {\n        preco_isopor = getPreco('Isopor H8/33');\n    } else if (produtosPrecos['Isopor H8/40']) {\n        preco_isopor = getPreco('Isopor H8/40');\n    }\n}\n\nconst preco_lajota = getPreco('Lajota Cerâmica');\nlet preco_malha = 0;\nif (tipoMalha.includes('leve')) {\n    preco_malha = getPreco('Malha Leve 20x20 F3.4');\n} else if (tipoMalha.includes('media')) {\n    preco_malha = getPreco('Malha Media 15x15 F3.4');\n} else if (tipoMalha.includes('reforcada')) {\n    preco_malha = getPreco('Malha Reforçada 15x15 F4.2');\n} else {\n    preco_malha = getPreco('Malha Leve 20x20 F3.4'); // Padrão\n}\n\n\n// Calcular os totais (garantindo que não seja NaN e arredondando)\n// O valor da treliça agora é simplesmente metragem_total_trelica * preco_trelica\nconst valor_trelica = parseFloat((metragem_total_trelica * preco_trelica).toFixed(2));\nconst valor_isopor = enchimento === 'isopor' ? parseFloat((qtd_isopor * preco_isopor).toFixed(2)) : 0;\nconst valor_lajota = enchimento === 'lajota' ? parseFloat((qtd_lajota * preco_lajota).toFixed(2)) : 0;\nconst valor_malha = parseFloat((qtd_malha * preco_malha).toFixed(2));\n\n// Calcular o valor total geral\nconst valor_total_geral = parseFloat((valor_trelica + valor_isopor + valor_lajota + valor_malha).toFixed(2));\n\n\nreturn [\n    {\n        json: {\n            area: parseFloat(area.toFixed(2)),\n            enchimento,\n            // Detalhes da Treliça (apenas metragem e preço por metro)\n            trelica: {\n                metragem_total: metragem_total_trelica, // Renomeado de quantidade_vigotas para metragem_total\n                preco_por_metro: preco_trelica,\n                valor_total: valor_trelica\n            },\n            // Detalhes do Isopor\n            isopor: enchimento === 'isopor' ? {\n                quantidade: qtd_isopor,\n                preco_unitario: preco_isopor,\n                valor_total: valor_isopor\n            } : null,\n            // Detalhes da Lajota\n            lajota: enchimento === 'lajota' ? {\n                quantidade: qtd_lajota,\n                preco_unitario: preco_lajota,\n                valor_total: valor_lajota\n            } : null,\n            // Detalhes da Malha\n            malha: {\n                tipo_selecionado: tipoMalha,\n                quantidade: qtd_malha,\n                preco_unitario: preco_malha,\n                valor_total: valor_malha\n            },\n            valor_total_geral: valor_total_geral\n        }\n    }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        180,
        600
      ],
      "id": "3d6e6531-9dfb-4eb5-ba25-724d1bd95b39",
      "name": "CalcLajeA"
    },
    {
      "parameters": {
        "jsCode": "const precos_ferros = {\n  \"F12.5\": 71.50,\n  \"F10\": 47.50,\n  \"F8\": 32.50,\n  \"F6.3\": 21.00,\n  \"F5\": 14.35,\n  \"F4.2\": 9.35,\n};\n\nconst preco_mao_obra_por_ponto = 0.09;\nconst margem = 0.61;\n\n// Entrada\nconst comprimento = parseFloat($json.ferragem.comprimento);\nconst espacamento = parseFloat($json.ferragem.espacamento_estribo);\nconst tamanho_estribo = $json.ferragem.tamanho_estribo; // ex: \"7x20\"\nconst bitola_estribo = $json.ferragem.bitola_estribo || \"F4.2\";\n\nconst ferros_input = $json.ferragem.ferros_longitudinais;\n\n// Função para converter string tipo \"3F10+2F8\" em array de objetos\nfunction parseFerros(str) {\n  return str.split(\"+\").map(item => {\n    const match = item.trim().match(/(\\d+)\\s*F([\\d.]+)/i);\n    if (!match) throw new Error(`Formato inválido: ${item}`);\n    return {\n      bitola: `F${match[2]}`,\n      quantidade: parseInt(match[1])\n    };\n  });\n}\n\nconst ferros = Array.isArray(ferros_input) ? ferros_input : parseFerros(ferros_input);\n\n// Custo dos ferros longitudinais\nlet custo_ferros = 0;\nlet total_ferros = 0;\nfor (const ferro of ferros) {\n  const preco = precos_ferros[ferro.bitola];\n  if (!preco) throw new Error(`Bitola não encontrada: ${ferro.bitola}`);\n  custo_ferros += (preco / 12) * ferro.quantidade * comprimento;\n  total_ferros += ferro.quantidade;\n}\n\n// Mão de obra (quantidade de pontos solda)\nconst pontos = Math.ceil(comprimento / espacamento) * total_ferros;\nconst custo_mao_obra = pontos * preco_mao_obra_por_ponto;\n\n// Custo dos estribos\nconst [largura_cm, altura_cm] = tamanho_estribo.split(\"x\").map(v => parseFloat(v.trim()));\nconst perimetro_m = (2 * (largura_cm + altura_cm)) / 100 + 0.05; // mais 5cm folga\nconst preco_varao_estribo = precos_ferros[bitola_estribo] || 13.00;\nconst custo_estribos = (comprimento / espacamento) * (perimetro_m / 12) * preco_varao_estribo;\n\n// Total e preço final\nconst preco_custo_total = custo_ferros + custo_mao_obra + custo_estribos;\nconst preco_venda = parseFloat((preco_custo_total * (1 + margem)).toFixed(2));\n\n// Descrição da ferragem\nconst descricao_ferragem = `Ferragem ${comprimento.toFixed(2)} C/${ferros.map(f => `${f.quantidade}F${f.bitola.replace(\"F\", \"\")}`).join(\"+\")} ${tamanho_estribo} a cd ${espacamento.toFixed(2)} ${bitola_estribo}`;\n\nreturn [\n  {\n    json: {\n      descricao_ferragem,\n      /*\n      custo_ferros: parseFloat(custo_ferros.toFixed(2)),\n      custo_estribos: parseFloat(custo_estribos.toFixed(2)),\n      custo_mao_obra: parseFloat(custo_mao_obra.toFixed(2)),\n      preco_custo_total: parseFloat(preco_custo_total.toFixed(2)),\n      */\n      preco_venda: preco_venda\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -280,
        680
      ],
      "id": "a07cb8b6-a247-4845-8f3d-09e9f749c273",
      "name": "Code1"
    },
    {
      "parameters": {
        "jsCode": "for (const item of items) {\n  const outputString = item.json.output;\n  let jsonString = outputString.replace(/```json\\n|```/g, '').trim();\n\n  // Tenta parsear a string JSON\n  try {\n    item.json = JSON.parse(jsonString);\n  } catch (e) {\n    // Em caso de erro, você pode logar, retornar um erro, ou lidar de outra forma\n    console.error(\"Erro ao parsear JSON:\", e, \"String original:\", jsonString);\n    // Opcional: Se quiser que o workflow falhe neste item\n    // throw new Error(\"Falha ao parsear JSON\");\n  }\n}\nreturn items;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1240,
        980
      ],
      "id": "5b951eae-dbb6-486a-bc63-d6cd105832f1",
      "name": "Code2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9cf7a0fc-4415-4741-b2a4-701a39148d3b",
              "name": "operation",
              "value": "={{ $('When Executed by Another Workflow').item.json.operation }}",
              "type": "string"
            },
            {
              "id": "27fed7e0-f5c9-41db-b966-38830a4ddcec",
              "name": "tableName",
              "value": "={{ $('When Executed by Another Workflow').item.json.tableName }}",
              "type": "string"
            },
            {
              "id": "c6e0ba01-972b-4d5d-b7d1-e91f62488815",
              "name": "ferragem",
              "value": "={{ $('When Executed by Another Workflow').item.json.ferragem }}",
              "type": "object"
            },
            {
              "id": "9d46a701-ba02-4dd8-93dd-05ddf8eeb1df",
              "name": "detalhes",
              "value": "={{ $('When Executed by Another Workflow').item.json.detalhes }}",
              "type": "object"
            },
            {
              "id": "80e381a1-538f-4002-bf01-4d37f364c5f4",
              "name": "NomeProduto",
              "value": "={{ $('When Executed by Another Workflow').item.json.NomeProduto }}",
              "type": "string"
            },
            {
              "id": "ba30306c-acde-4724-9ec8-f1fc6b4ca2cb",
              "name": "leadid",
              "value": "={{ $('When Executed by Another Workflow').item.json[\"leadid\"] }}",
              "type": "string"
            },
            {
              "id": "b957c201-37a1-4ed4-8cf8-412b42687a2b",
              "name": "Produtos",
              "value": "={{ $('When Executed by Another Workflow').item.json.Produtos }}",
              "type": "array"
            },
            {
              "id": "47db7538-b69d-4aca-af4c-7507ffca4a8c",
              "name": "Obs",
              "value": "={{ $('When Executed by Another Workflow').item.json.Obs }}",
              "type": "string"
            },
            {
              "id": "3f52b47d-94c1-46f6-9316-b812208b0783",
              "name": "especificacoes",
              "value": "={{ $('When Executed by Another Workflow').item.json.especificacoes }}",
              "type": "object"
            },
            {
              "id": "a73f0334-7dc0-4771-b97b-2dcdfb835841",
              "name": "todos_os_produtos",
              "value": "={\n\"{{ $json.todos_os_produtos.isopor[0].nome }}\": {{ $json.todos_os_produtos.isopor[0].preco_base }},\n\"{{ $json.todos_os_produtos.malhas[0].nome }}\": {{ $json.todos_os_produtos.malhas[0].preco_base }},\n\"{{ $json.todos_os_produtos.malhas[1].nome }}\":{{ $json.todos_os_produtos.malhas[1].preco_base }},\n\"{{ $json.todos_os_produtos.malhas[2].nome }}\":{{ $json.todos_os_produtos.malhas[2].preco_base }},\n\"Trelica\":{{ $json.todos_os_produtos.trelicas[0].preco_base }}\n}",
              "type": "object"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -220,
        520
      ],
      "id": "863166c7-e3c4-4ed4-8b86-02eccf935247",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n    jsonb_build_object(\n        'trelicas', (SELECT jsonb_agg(jsonb_build_object('nome', nome, 'preco_base', preco_base)) FROM produtos_precos WHERE nome ILIKE '%' || 'treliça concretada' || '%'),\n        'malhas', (SELECT jsonb_agg(jsonb_build_object('nome', nome, 'preco_base', preco_base)) FROM produtos_precos WHERE nome ILIKE '%' || 'malha' || '%'),\n        'isopor', (SELECT jsonb_agg(jsonb_build_object('nome', nome, 'preco_base', preco_base)) FROM produtos_precos WHERE nome ILIKE '%' || 'isopor h7/33' || '%'),\n        'lajotas', (SELECT jsonb_agg(jsonb_build_object('nome', nome, 'preco_base', preco_base)) FROM produtos_precos WHERE nome ILIKE '%' || 'lajota' || '%')\n    ) AS todos_os_produtos;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -360,
        520
      ],
      "id": "2df612a0-543d-4f89-b08a-4635b81e44d6",
      "name": "preco",
      "credentials": {
        "postgres": {
          "id": "z2oHR8Hcbud4cXb6",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -3140,
        960
      ],
      "id": "312799e5-5be7-4644-9d39-e0aa24f3ea81",
      "name": "When chat message received",
      "webhookId": "4e20aa85-9b8f-4bf1-aa96-147bdfb044b4"
    },
    {
      "parameters": {
        "jsCode": "// A entrada do array de produtos agora vem de $input.first().json.json_agg\nconst produtosLista = $input.first().json.json_agg || [];\n\n// O nome do produto a ser buscado vem do primeiro item de saída do nó 'Switch'\nconst nomeParaBuscar = $('Switch').first().json.NomeProduto || '';\n\n// --- Funções Auxiliares (mantidas iguais) ---\nfunction normalizeString(str) {\n    if (typeof str !== 'string') {\n        return '';\n    }\n    return str\n        .normalize(\"NFD\").replace(/[\\u0300-\\u036f]/g, \"\")\n        .toLowerCase()\n        .replace(/\\s+/g, ' ')\n        .trim();\n}\n\n/**\n * Nova Função: Busca por todos os produtos que correspondem ao termo,\n * ordenando-os por relevância.\n * @param {string} nomeProdutoBuscado - O nome do produto que se deseja buscar (ex: \"vergalhão\").\n * @param {Array<Object>} listaProdutos - O array de objetos de produtos.\n * @returns {Array<Object>} - Um array de objetos de produtos encontrados, ordenados por pontuação.\n */\nfunction buscarTodosProdutosFlexivel(nomeProdutoBuscado, listaProdutos) {\n    const termoBuscadoNormalizado = normalizeString(nomeProdutoBuscado);\n    const termosSeparadosBuscado = termoBuscadoNormalizado.split(' ').filter(t => t.length > 1);\n\n    const resultadosCandidatos = [];\n\n    // Definir um LIMITE MÍNIMO DE PONTUAÇÃO para que um produto seja considerado relevante\n    // Ajuste este valor. Para buscar \"vergalhão\" e pegar todos, 1 ou 0.5 pode ser suficiente\n    // dependendo da pontuação que você espera para uma única correspondência de palavra.\n    // Se quiser que apenas a palavra \"vergalhao\" já seja suficiente, 0.5 (se pontuado) ou 1.\n    const PONTUACAO_MINIMA_PARA_INCLUSAO = 0.5; // Ex: se apenas uma palavra como \"vergalhao\" é encontrada\n\n    for (const produto of listaProdutos) {\n        const nomeProdutoNormalizado = normalizeString(produto.nome);\n        let pontuacaoAtual = 0;\n\n        // --- Lógica de Pontuação (similar à anterior) ---\n\n        // Prioriza correspondência exata ou quando o termo buscado está contido no nome do produto\n        if (nomeProdutoNormalizado === termoBuscadoNormalizado ||\n            nomeProdutoNormalizado.includes(termoBuscadoNormalizado) ||\n            termoBuscadoNormalizado.includes(nomeProdutoNormalizado)) {\n            pontuacaoAtual += 10; // Alta pontuação para correspondência forte/exata\n        }\n\n        // Pontua por cada palavra encontrada\n        for (const termo of termosSeparadosBuscado) {\n            if (nomeProdutoNormalizado.includes(termo)) {\n                pontuacaoAtual++;\n            }\n        }\n\n        // Pontuação extra para manter a categoria \"vergalhao\"\n        if (termoBuscadoNormalizado.includes('vergalhao') && nomeProdutoNormalizado.includes('vergalhao')) {\n            pontuacaoAtual += 2;\n        }\n        // Adicione outras categorias aqui se desejar (ex: 'malha', 'isopor')\n\n        // Lógica para priorizar bitolas próximas (mantida para relevância de ordem)\n        const bitolaBuscadaMatch = termoBuscadoNormalizado.match(/f(\\d+(\\.\\d+)?)/);\n        const bitolaProdutoMatch = nomeProdutoNormalizado.match(/f(\\d+(\\.\\d+)?)/);\n\n        if (bitolaBuscadaMatch && bitolaProdutoMatch) {\n            const bitolaBuscada = parseFloat(bitolaBuscadaMatch[1]);\n            const bitolaProduto = parseFloat(bitolaProdutoMatch[1]);\n            const diferencaBitola = Math.abs(bitolaBuscada - bitolaProduto);\n\n            if (diferencaBitola < 1) {\n                pontuacaoAtual += 1.5;\n            } else if (diferencaBitola < 3) {\n                pontuacaoAtual += 0.5;\n            }\n        }\n        // --- Fim da Lógica de Pontuação ---\n\n        // Adiciona o produto aos resultados se a pontuação for suficiente\n        if (pontuacaoAtual >= PONTUACAO_MINIMA_PARA_INCLUSAO) {\n            resultadosCandidatos.push({\n                produto: produto,\n                pontuacao: pontuacaoAtual\n            });\n        }\n    }\n\n    // Ordena os resultados pelos que têm maior pontuação primeiro\n    resultadosCandidatos.sort((a, b) => b.pontuacao - a.pontuacao);\n\n    // Retorna apenas os objetos de produto, descartando a pontuação extra\n    return resultadosCandidatos.map(item => item.produto);\n}\n\n// --- Execução da busca com NomeProduto do input ---\n// Agora chamamos a nova função que retorna um ARRAY\nconst produtosEncontrados = buscarTodosProdutosFlexivel(nomeParaBuscar, produtosLista);\n\n// Objeto de detalhes padrão para garantir a estrutura completa\nconst defaultDetalhes = {\n    \"bitola\": \"\", \"modelo\": \"\", \"bitola_estribo\": \"\", \"espacamento_estribo\": \"\",\n    \"tamanho_estribo\": \"\", \"espacamento_fios\": \"\", \"tamanho\": \"\", \"altura\": \"\",\n    \"largura\": \"\", \"comprimento\": \"\", \"material\": \"\", \"codigo\": \"\",\n    \"referencia\": \"\", \"descricao\": \"\", \"tipo\": \"\", \"categoria\": \"\", \"tipo_uso\": \"\",\n    \"min\": null, \"max\": null, \"step\": null\n};\n\n// Mapeia os produtos encontrados para o formato de saída desejado\nconst saidaProdutosFormatados = produtosEncontrados.map(produto => {\n    let detalhesFinais = { ...defaultDetalhes, ...(produto.detalhes || {}) };\n\n    if (typeof produto.min !== 'undefined') detalhesFinais.min = produto.min;\n    if (typeof produto.max !== 'undefined') detalhesFinais.max = produto.max;\n    if (typeof produto.step !== 'undefined') detalhesFinais.step = produto.step;\n\n    return {\n        nome: produto.nome,\n        tipo_principal_produto: produto.tipo,\n        preco_base: parseFloat(produto.preco_base),\n        unidade: produto.unidade,\n        detalhes: detalhesFinais\n    };\n});\n\n\n// --- Retorno para o n8n ---\nreturn [\n    {\n        json: {\n            // Se você precisa dos detalhes do input original, pode adicioná-los aqui\n            // Por exemplo, NomeProduto buscado:\n            nome_produto_buscado: nomeParaBuscar,\n            // Retorna o array de produtos encontrados\n            produtos_correspondentes: saidaProdutosFormatados,\n            // Uma flag para saber se algum produto foi encontrado\n            algum_produto_encontrado: saidaProdutosFormatados.length > 0\n        }\n    }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        220,
        0
      ],
      "id": "fffb63c0-aaae-4b16-b289-c11ad1515c00",
      "name": "Code3"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id, title, content,\n       bm25_score_improved(advanced_tokenize('{{ $json.query }}'), tokens) AS bm25_score\nFROM documents\nWHERE tokens && advanced_tokenize('{{ $json.query }}')\nORDER BY bm25_score DESC\nLIMIT 10;\n",
        "options": {}
      },
      "id": "353fc539-5abd-425d-b896-66579ce61b35",
      "name": "BM25 Postgres",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        100,
        760
      ],
      "credentials": {
        "postgres": {
          "id": "z2oHR8Hcbud4cXb6",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "\nSELECT\n    id,\n    title,\n    content,\n    1 - (embedding <=> '{{ $json[\"embeddings\"] ? '[' + $json[\"embeddings\"].join(\",\") + ']' : '[]' }}'::vector) AS similarity\nFROM\n    documents\nORDER BY\n    similarity DESC\nLIMIT 10;",
        "options": {}
      },
      "id": "3d7960ab-23d4-49a4-8143-85ecf51e61bb",
      "name": "Vector PGVector",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        120,
        1000
      ],
      "credentials": {
        "postgres": {
          "id": "z2oHR8Hcbud4cXb6",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.cohere.com/v1/embed",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"embed-english-v3.0\",\n  \"input_type\": \"search_document\",\n  \"texts\": [\n    \"{{ $json.query }}\"\n  ]\n} ",
        "options": {}
      },
      "id": "c7982fd9-6359-452d-9e84-191edb6e8b3b",
      "name": "Gerar_Embedding_Cohere1",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        -100,
        1000
      ],
      "typeVersion": 4.2,
      "credentials": {
        "httpHeaderAuth": {
          "id": "OyCraanHEQ1O0xVC",
          "name": "cohere"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        600,
        940
      ],
      "id": "96c30c4a-08a4-40c8-9a70-37dc0551915d",
      "name": "Merge"
    },
    {
      "parameters": {
        "jsCode": "const bm25Items = items[0].json ? items.map(item => item.json) : [];\nconst vectorItems = items[1].json ? items.map(item => item.json) : [];\n\nconst merged = {};\n\n// Indexar BM25\nfor (const item of bm25Items) {\n    merged[item.id] = { ...item };\n}\n\n// Indexar Vector\nfor (const item of vectorItems) {\n    if (!merged[item.id]) {\n        merged[item.id] = { ...item };\n    } else {\n        Object.assign(merged[item.id], item);\n    }\n}\n\n// Calcular score combinado e normalizar\nconst bm25Max = 20; // ajuste conforme seu dataset\nconst weightBm25 = 0.3;\nconst weightVector = 0.7;\n\nconst result = Object.values(merged).map(item => {\n    const bm25Norm = item.bm25_score ? item.bm25_score / bm25Max : 0;\n    const vectorNorm = item.similarity ?? 0;\n    const scoreCombinado = weightBm25 * bm25Norm + weightVector * vectorNorm;\n\n    return {\n        json: {\n            ...item,\n            bm25Norm,\n            vectorNorm,\n            scoreCombinado\n        }\n    };\n});\n\n// Ordenar descrescente pelo score_combinado\nresult.sort((a, b) => b.json.scoreCombinado - a.json.scoreCombinado);\n\nreturn result.slice(0, 5);\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        800,
        940
      ],
      "id": "51a7f80e-e1c5-4ee7-9e84-b46562428b08",
      "name": "Code4"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO produtos_precos (nome, tipo, preco_base, unidade, detalhes) VALUES\n  ('Treliça Concretada', 'metro', 13.00, 'metro', '{\"min\": 0.5, \"max\": 8.0, \"step\": 0.1, \"categoria\": \"laje\", \"tipo_uso\": \"estrutura\"}'),\n\n  ('Malha Leve 20x20 F3.4', 'unidade', 55.00, 'unidade', '{\"tamanho\": \"2.00x3.00m\", \"bitola\": \"3.4mm\", \"espacamento_fios\": \"20x20\", \"categoria\": \"laje\", \"tipo_uso\": \"reforço\"}'),\n  ('Malha Media 15x15 F3.4', 'unidade', 65.00, 'unidade', '{\"tamanho\": \"2.00x3.00m\", \"bitola\": \"3.4mm\", \"espacamento_fios\": \"15x15\", \"categoria\": \"laje\", \"tipo_uso\": \"reforço\"}'),\n  ('Malha Reforçada 15x15 F4.2', 'unidade', 90.00, 'unidade', '{\"tamanho\": \"2.00x3.00m\", \"bitola\": \"4.2mm\", \"espacamento_fios\": \"15x15\", \"categoria\": \"laje\", \"tipo_uso\": \"reforço\"}'),\n\n  ('Isopor H7/33', 'unidade', 8.00, 'unidade', '{\"codigo\": \"H7/33\", \"altura\": \"6.5cm\", \"largura\": \"33cm\", \"comprimento\": \"100cm\", \"categoria\": \"laje\", \"tipo_uso\": \"enchimento\"}'),\n  ('Isopor H8/33', 'unidade', 9.50, 'unidade', '{\"codigo\": \"H8/33\", \"altura\": \"8cm\", \"largura\": \"33cm\", \"comprimento\": \"100cm\", \"categoria\": \"laje\", \"tipo_uso\": \"enchimento\"}'),\n  ('Isopor H8/40', 'unidade', 12.50, 'unidade', '{\"codigo\": \"H8/40\", \"altura\": \"8cm\", \"largura\": \"40cm\", \"comprimento\": \"100cm\", \"categoria\": \"laje\", \"tipo_uso\": \"enchimento\"}'),\n\n  ('Lajota Cerâmica', 'unidade', 1.40, 'unidade', '{\"material\": \"ceramica\", \"categoria\": \"laje\", \"tipo_uso\": \"enchimento\"}'),\n\n  ('Estribo 4.2mm', 'unidade', 0.75, 'unidade', '{\"bitola\": \"4.2mm\", \"modelo\": \"7x17\", \"categoria\": \"armacao\", \"tipo_uso\": \"reforco\"}'),\n  ('Estribo', 'custom', 13.00, 'Kg', '{\"tipo\": \"custom\", \"categoria\": \"armacao\"}'),\n\n  ('Ferragem F10', 'metro', 25.00, 'metro', '{\"min\": 0.0, \"max\": 12.0, \"step\": 0.1, \"tamanho_estribo\": \"7x17\", \"bitola_estribo\": \"4.2mm\", \"espacamento_estribo\": \"24cm\", \"categoria\": \"coluna\", \"tipo_uso\": \"armação\"}'),\n  ('Ferragem F12.5', 'metro', 40.00, 'metro', '{\"min\": 0.0, \"max\": 12.0, \"step\": 0.1, \"tamanho_estribo\": \"7x17\", \"bitola_estribo\": \"4.2mm\", \"espacamento_estribo\": \"24cm\", \"categoria\": \"coluna\", \"tipo_uso\": \"armação\"}'),\n  ('Ferragem F8', 'metro', 20.00, 'metro', '{\"min\": 0.0, \"max\": 12.0, \"step\": 0.1, \"tamanho_estribo\": \"7x17\", \"bitola_estribo\": \"4.2mm\", \"espacamento_estribo\": \"24cm\", \"categoria\": \"coluna\", \"tipo_uso\": \"armação\"}'),\n  ('Ferragem F6.3', 'metro', 16.00, 'metro', '{\"min\": 0.0, \"max\": 12.0, \"step\": 0.1, \"tamanho_estribo\": \"7x17\", \"bitola_estribo\": \"4.2mm\", \"espacamento_estribo\": \"24cm\", \"categoria\": \"coluna\", \"tipo_uso\": \"armação\"}'),\n  ('Ferragem F5', 'metro', 15.00, 'metro', '{\"min\": 0.0, \"max\": 12.0, \"step\": 0.1, \"tamanho_estribo\": \"7x17\", \"bitola_estribo\": \"4.2mm\", \"espacamento_estribo\": \"24cm\", \"categoria\": \"coluna\", \"tipo_uso\": \"armação\"}'),\n\n  ('Arame Queimado', 'unidade', 19.00, 'Kg', '{\"categoria\": \"armacao\", \"tipo_uso\": \"amarracao\"}'),\n\n  ('Caixa de Gordura', 'unidade', 20.00, 'unidade', '{\"modelo\": \"Quadrada\", \"categoria\": \"esgoto\", \"tipo_uso\": \"instalacao\"}'),\n  ('Caixa de Passagem', 'unidade', 20.00, 'unidade', '{\"modelo\": \"Redonda\", \"categoria\": \"esgoto\", \"tipo_uso\": \"instalacao\"}'),\n\n  ('Canaleta 9', 'unidade', 2.50, 'unidade', '{\"altura\": \"9cm\", \"largura\": \"16cm\", \"comprimento\": \"35cm\", \"categoria\": \"vedação\"}'),\n  ('Canaleta 14', 'unidade', 4.00, 'unidade', '{\"altura\": \"14cm\", \"largura\": \"19cm\", \"comprimento\": \"39cm\", \"categoria\": \"vedação\"}'),\n  ('Canaleta 19', 'unidade', 5.00, 'unidade', '{\"altura\": \"19cm\", \"largura\": \"19cm\", \"comprimento\": \"39cm\", \"categoria\": \"vedação\"}'),\n\n  ('Cobogo 2 Furo', 'unidade', 2.50, 'unidade', '{\"modelo\": \"2 furo\", \"altura\": \"19cm\", \"largura\": \"19cm\", \"comprimento\": \"39cm\", \"material\": \"cimento\"}'),\n  ('Cobogo Cimento', 'unidade', 15.50, 'unidade', '{\"modelo\": \"Veneziano\", \"material\": \"cimento\"}'),\n  ('Cobogó de Concreto', 'unidade', 20.00, 'unidade', '{\"modelo\": \"anti-chuva\", \"tamanho\": \"40x40cm\", \"material\": \"concreto\"}'),\n  ('Cobogó de Concreto', 'unidade', 20.00, 'unidade', '{\"modelo\": \"Flor\", \"tamanho\": \"40x40cm\", \"material\": \"concreto\"}'),\n  ('Cobogó de Concreto', 'unidade', 20.00, 'unidade', '{\"modelo\": \"taco chines\", \"tamanho\": \"40x40cm\", \"material\": \"concreto\"}'),\n  ('Cobogó de Concreto', 'unidade', 20.00, 'unidade', '{\"modelo\": \"4 pontas\", \"tamanho\": \"40x40cm\", \"material\": \"concreto\"}'),\n  ('Cobogó de Concreto', 'unidade', 20.00, 'unidade', '{\"modelo\": \"Arabe\", \"tamanho\": \"40x40cm\", \"material\": \"concreto\"}'),\n\n  ('Vergalhao F4.2mm', 'unidade', 13.00, 'unidade', '{\"bitola\": \"4.2mm\", \"comprimento\": \"12m\", \"categoria\": \"armação\"}'),\n  ('Vergalhao F5mm', 'unidade', 21.00, 'unidade', '{\"bitola\": \"5mm\", \"comprimento\": \"12m\", \"categoria\": \"armação\"}'),\n  ('Vergalhao F6.3mm', 'unidade', 32.00, 'unidade', '{\"bitola\": \"6.3mm\", \"comprimento\": \"12m\", \"categoria\": \"armação\"}'),\n  ('Vergalhao F8mm', 'unidade', 45.00, 'unidade', '{\"bitola\": \"8mm\", \"comprimento\": \"12m\", \"categoria\": \"armação\"}'),\n  ('Vergalhao F10mm', 'unidade', 65.00, 'unidade', '{\"bitola\": \"10mm\", \"comprimento\": \"12m\", \"categoria\": \"armação\"}'),\n  ('Vergalhao F12.5mm', 'unidade', 100.00, 'unidade', '{\"bitola\": \"12mm\", \"comprimento\": \"12m\", \"categoria\": \"armação\"}');",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -840,
        660
      ],
      "id": "21035aa7-35cb-4ad9-b2b4-fea4f8f14863",
      "name": "inserir produtos",
      "credentials": {
        "postgres": {
          "id": "z2oHR8Hcbud4cXb6",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "CREATE TABLE produtos_precos (\n  id SERIAL PRIMARY KEY,\n  nome TEXT NOT NULL,                          -- Ex: \"Coluna F10\"\n  tipo TEXT CHECK (tipo IN ('metro', 'unidade', 'custom')) NOT NULL,\n  preco_base NUMERIC(10,2) NOT NULL,           -- Ex: 25.00\n  unidade TEXT NOT NULL,                       -- Ex: \"m\" ou \"un\"\n  detalhes JSONB DEFAULT '{}'                  -- Ex: {\"modelo\": \"7x17\", \"bitola\": \"4.2mm\"}\n);",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -1000,
        660
      ],
      "id": "33084609-8899-4af9-a8fc-1a28628a5781",
      "name": "criar_table_produtos",
      "credentials": {
        "postgres": {
          "id": "z2oHR8Hcbud4cXb6",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "CREATE TABLE leads (\n  id SERIAL PRIMARY KEY,\n  nome TEXT,\n  whatsapp VARCHAR(20) UNIQUE NOT NULL,\n  status TEXT DEFAULT 'Novo',\n  setor_atual TEXT DEFAULT 'SDR_hb',\n  etapa_funil TEXT,\n  criado_em TIMESTAMP DEFAULT NOW(),\n  atualizado_em TIMESTAMP DEFAULT NOW(),\n  observacoes TEXT\n);\nCREATE TABLE orcamentos (\n  id SERIAL PRIMARY KEY,\n  lead_id INTEGER REFERENCES leads(id) ON DELETE CASCADE,\n  produtos JSONB,\n  total NUMERIC(12,2),\n  data TIMESTAMP DEFAULT NOW(),\n  status TEXT DEFAULT 'Aberto'\n);\nCREATE TABLE interacoes (\n  id SERIAL PRIMARY KEY,\n  lead_id INTEGER REFERENCES leads(id) ON DELETE CASCADE,\n  mensagem TEXT,\n  quem TEXT,\n  tipo TEXT,\n  timestamp TIMESTAMP DEFAULT NOW()\n);\n--Constraints e Índices\nALTER TABLE orcamentos ADD CONSTRAINT chk_orcamento_status CHECK (\n  status IN ('Aberto', 'Enviado', 'Fechado', 'Perdido', 'Pago', 'Entregue-Pago', 'Entregue')\n);\n--Trigger de atualização automática:\nCREATE INDEX idx_orcamentos_lead_id ON orcamentos (lead_id);\nCREATE INDEX idx_orcamentos_status ON orcamentos (status);\nCREATE INDEX idx_interacoes_lead_id ON interacoes (lead_id);\nCREATE INDEX idx_leads_status ON leads (status);\nCREATE INDEX idx_leads_setor_atual ON leads (setor_atual);\nCREATE INDEX idx_leads_etapa_funil ON leads (etapa_funil);\n\nCREATE OR REPLACE FUNCTION update_updated_at_column()\nRETURNS TRIGGER AS $$\nBEGIN\n  NEW.atualizado_em = NOW();\n  RETURN NEW;\nEND;\n$$ LANGUAGE plpgsql;\n\nCREATE TRIGGER trg_leads_updated_at\nBEFORE UPDATE ON leads\nFOR EACH ROW\nEXECUTE FUNCTION update_updated_at_column();",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -680,
        660
      ],
      "id": "3eee2d82-cebb-4a01-b333-622008f8f404",
      "name": "criar_tables",
      "credentials": {
        "postgres": {
          "id": "z2oHR8Hcbud4cXb6",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "description": "Busca documentos relevantes na base de conhecimento a partir da conversa do cliente",
        "workflowId": {
          "__rl": true,
          "value": "={{ $workflow.id }}",
          "mode": "id"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "operation": "rag",
            "Query": "={{ $fromAI('Query', `Gere uma consulta otimizada para RAG com base no que voce vai responder ao cliente`, 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "operation",
              "displayName": "operation",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "tableName",
              "displayName": "tableName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            },
            {
              "id": "especificacoes",
              "displayName": "especificacoes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object",
              "removed": true
            },
            {
              "id": "ferragem",
              "displayName": "ferragem",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object",
              "removed": true
            },
            {
              "id": "detalhes",
              "displayName": "detalhes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object",
              "removed": true
            },
            {
              "id": "NomeProduto",
              "displayName": "NomeProduto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            },
            {
              "id": "leadid",
              "displayName": "leadid",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            },
            {
              "id": "Produtos",
              "displayName": "Produtos",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            },
            {
              "id": "Obs",
              "displayName": "Obs",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            },
            {
              "id": "Query",
              "displayName": "Query",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        -600,
        1280
      ],
      "id": "fd85bdb4-288a-4326-a568-5a51595ebc95",
      "name": "RAG"
    },
    {
      "parameters": {
        "description": "Busca documentos relevantes na base de conhecimento a partir da conversa do cliente",
        "workflowId": {
          "__rl": true,
          "value": "=Z7opcPwNBBX1666e",
          "mode": "id"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "produtos": "=  {\n\"lista_produtos\": \"{{ $fromAI('lista_produtos', 'Lista completa de produtos solicitados pelo cliente', 'string', ) }}\",\n  \"tipo_projeto\": \"{{ $fromAI('tipo_projeto', 'Tipo do projeto: laje_completa, produtos_isolados, ou misto', 'string', 'produtos_isolados') }}\",\n  \"dimensoes_laje\": \"{{ $fromAI('dimensoes_laje', 'Dimensões da laje no formato AxB (ex: 5x8), só manda algum valor caso seja nescessario', 'string', '') }}\"\n}"
          },
          "matchingColumns": [
            "produtos"
          ],
          "schema": [
            {
              "id": "produtos",
              "displayName": "produtos",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        -1480,
        1280
      ],
      "id": "44d00196-6201-43d9-bba5-27e98e9a8ba8",
      "name": "Orcamento"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f3520362-3a83-47e5-9ba3-4d562991a090",
              "name": "id",
              "value": "={{ $json.id }}",
              "type": "number"
            },
            {
              "id": "818bba9e-5995-4e63-bd27-b0d2e302c1dd",
              "name": "content",
              "value": "={{ $json.content }}",
              "type": "string"
            },
            {
              "id": "edd1bca7-324a-4137-aa05-00ecc5246611",
              "name": "scoreCombinado",
              "value": "={{ $json.scoreCombinado }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1020,
        940
      ],
      "id": "0301e785-434d-4cc8-a58a-2b3a306967a7",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "operation": "push",
        "list": "=buffer{{$json.message.sessionId}}",
        "messageData": "={{ JSON.stringify($json.message) }}",
        "tail": true
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -2720,
        960
      ],
      "id": "a0d95f8c-8121-4785-bdce-17c7dae30ce8",
      "name": "Redis",
      "credentials": {
        "redis": {
          "id": "sA2U6PkBocrwko3a",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "menssage",
        "key": "=buffer{{ $('Edit Fields3').item.json.message.sessionId }}",
        "keyType": "list",
        "options": {}
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -2500,
        960
      ],
      "id": "9f4baa50-fa2f-4a27-8c50-619cb9af75c6",
      "name": "Redis1",
      "credentials": {
        "redis": {
          "id": "sA2U6PkBocrwko3a",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b697ce82-f74b-4ed7-9abc-8007c5534c4b",
              "name": "message.sessionId",
              "value": "={{ $json.sessionId }}",
              "type": "string"
            },
            {
              "id": "d6133520-3891-4cc0-aef8-962b37e1ecd7",
              "name": "message.action",
              "value": "={{ $json.action }}",
              "type": "string"
            },
            {
              "id": "a463e727-39ed-42d1-805c-c6301739389b",
              "name": "message.chatInput",
              "value": "={{ $json.chatInput }}",
              "type": "string"
            },
            {
              "id": "8ba8e7e3-0fd8-40f1-a1e2-b749498d7279",
              "name": "message.time",
              "value": "={{ $now }}",
              "type": "string"
            },
            {
              "id": "0c650b06-382d-447b-a660-7ba8b99a12ee",
              "name": "message.id",
              "value": "asas54654",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2920,
        960
      ],
      "id": "1500e36e-fe69-4af5-8c0a-eb11e025677b",
      "name": "Edit Fields3"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ JSON.parse($json.menssage.first()).id }}",
                    "rightValue": "={{ JSON.parse($json.menssage.last()).id }}",
                    "operator": {
                      "type": "string",
                      "operation": "notEquals"
                    },
                    "id": "636a9a4b-7605-4e68-a685-f1118331ce62"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "NADA a FAZER"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "391c83b1-c3ea-4d75-965b-9efdef60efbf",
                    "leftValue": "={{ JSON.parse($json.menssage.last()).time }}",
                    "rightValue": "={{ $now.minus(15, 'seconds') }}",
                    "operator": {
                      "type": "dateTime",
                      "operation": "before"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "PROSSEGUIR"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra",
          "renameFallbackOutput": "ESPERA"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -2280,
        960
      ],
      "id": "4a1fe753-615d-4ec5-8434-e1ccdacda219",
      "name": "Switch1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -1940,
        1160
      ],
      "id": "a3741451-c0d3-47b4-87e3-561fd63c5b30",
      "name": "Wait",
      "webhookId": "bca5b95b-558f-461f-ad20-906a3777cedf"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -1940,
        800
      ],
      "id": "ee6e3ffb-a189-48f9-8d39-c4df97881b34",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "=buffer{{ $('Edit Fields3').item.json.message.sessionId }}"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -1940,
        960
      ],
      "id": "aba14ddc-b1e2-47d4-b418-69d827974912",
      "name": "Redis2",
      "credentials": {
        "redis": {
          "id": "sA2U6PkBocrwko3a",
          "name": "Redis account"
        }
      }
    }
  ],
  "connections": {
    "produtos_mais_cotados": {
      "ai_tool": [
        []
      ]
    },
    "Redis Chat Memory SDR": {
      "ai_memory": [
        [
          {
            "node": "SDR",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "busca_preco": {
      "ai_tool": [
        []
      ]
    },
    "ultimos_orcamentos": {
      "ai_tool": [
        [
          {
            "node": "SDR",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Calculator": {
      "ai_tool": [
        [
          {
            "node": "SDR",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "calcular_laje": {
      "ai_tool": [
        []
      ]
    },
    "calcular_ferragem_personalizada": {
      "ai_tool": [
        []
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "SDR",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "ReadPreco",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "ReadOrc",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "CalcTotal",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "preco",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "BM25 Postgres",
            "type": "main",
            "index": 0
          },
          {
            "node": "Gerar_Embedding_Cohere1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CalcTotal": {
      "main": [
        [
          {
            "node": "InsertOrc",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IfModoCalc": {
      "main": [
        [
          {
            "node": "CalcLajeC*L",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "CalcLajeA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SDR": {
      "main": [
        [
          {
            "node": "Code2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "IfModoCalc",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "preco": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code2": {
      "main": [
        []
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "Edit Fields3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ReadPreco": {
      "main": [
        [
          {
            "node": "Code3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "BM25 Postgres": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Vector PGVector": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Gerar_Embedding_Cohere1": {
      "main": [
        [
          {
            "node": "Vector PGVector",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Code4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "criar_table_produtos": {
      "main": [
        [
          {
            "node": "inserir produtos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "inserir produtos": {
      "main": [
        [
          {
            "node": "criar_tables",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RAG": {
      "ai_tool": [
        [
          {
            "node": "SDR",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Orcamento": {
      "ai_tool": [
        [
          {
            "node": "SDR",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Code4": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis": {
      "main": [
        [
          {
            "node": "Redis1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields3": {
      "main": [
        [
          {
            "node": "Redis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis1": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Redis2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Redis1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "Gerar_Embedding_Cohere1": [
      {
        "json": {
          "id": "0152e447-e808-48c7-93a3-3c92aa978229",
          "texts": [
            ""
          ],
          "embeddings": [
            [
              -0.019134521,
              0.009681702,
              -0.032043457,
              -0.052490234,
              0.032196045,
              -0.0068359375,
              -0.032470703,
              -0.042388916,
              -0.023788452,
              0.045928955,
              -0.008384705,
              -0.010215759,
              -0.003358841,
              0.00036239624,
              -0.04623413,
              0.01272583,
              0.021240234,
              -0.009284973,
              -0.017288208,
              -0.014892578,
              -0.05038452,
              -0.0066452026,
              0.008384705,
              0.0060768127,
              0.046203613,
              0.027511597,
              -0.0030460358,
              -0.04727173,
              -0.047790527,
              -0.10870361,
              0.020477295,
              0.064453125,
              0.014511108,
              0.028930664,
              0.0011806488,
              0.002796173,
              -0.049621582,
              0.003479004,
              0.0023841858,
              0.031555176,
              0.034820557,
              -0.010719299,
              -0.08093262,
              -0.034057617,
              -0.106933594,
              -0.0118255615,
              -0.04034424,
              0.025146484,
              0.0019340515,
              0.017822266,
              0.014755249,
              0.012359619,
              -0.034820557,
              0.08929443,
              -0.013404846,
              -0.02243042,
              -0.05517578,
              -0.023147583,
              0.00919342,
              0.05984497,
              0.0017032623,
              -0.014457703,
              0.035003662,
              0.006790161,
              -0.035705566,
              -0.023223877,
              -0.032287598,
              0.01966858,
              0.07489014,
              0.0009713173,
              -0.020690918,
              0.032043457,
              0.018966675,
              -0.020492554,
              0.024139404,
              -0.0070724487,
              0.047668457,
              -0.00047016144,
              -0.007904053,
              0.007896423,
              -0.025650024,
              -0.02293396,
              0.019958496,
              -0.009757996,
              -0.021514893,
              0.018371582,
              -0.029815674,
              -0.0385437,
              -0.015426636,
              -0.03866577,
              0.0025463104,
              0.010612488,
              -0.0143585205,
              0.031951904,
              -0.004852295,
              -0.00079488754,
              -0.0065345764,
              0.047973633,
              -0.031829834,
              -0.021652222,
              0.0012025833,
              -0.020370483,
              -0.030044556,
              -0.020050049,
              -0.041992188,
              0.017684937,
              0.0154953,
              -0.023025513,
              0.010528564,
              0.08642578,
              0.039215088,
              0.064208984,
              -0.0026931763,
              -0.020324707,
              -0.023620605,
              -0.006248474,
              -0.019470215,
              0.030059814,
              0.03866577,
              0.031234741,
              -0.00051498413,
              -0.014793396,
              -0.009490967,
              -0.027679443,
              0.016448975,
              -0.015525818,
              -0.023147583,
              -0.027709961,
              0.011146545,
              0.009277344,
              -0.02229309,
              0.039245605,
              -0.11315918,
              -0.07672119,
              -0.046325684,
              0.029083252,
              -0.022460938,
              -0.013137817,
              -0.005836487,
              0.035308838,
              -0.03265381,
              -0.038085938,
              0.034332275,
              -0.018707275,
              -0.019454956,
              -0.005306244,
              0.031799316,
              -0.01763916,
              -0.055145264,
              0.012435913,
              -0.036865234,
              -0.012817383,
              0.03427124,
              0.05203247,
              -0.05331421,
              0.051361084,
              -0.07543945,
              0.021240234,
              -0.019927979,
              0.030578613,
              0.034362793,
              0.015342712,
              0.008468628,
              0.011451721,
              0.025848389,
              0.009811401,
              -0.022583008,
              0.01889038,
              0.002456665,
              0.050933838,
              -0.026611328,
              -0.008270264,
              -0.014587402,
              0.008705139,
              -0.0126953125,
              0.027191162,
              0.018463135,
              -0.0042266846,
              0.0725708,
              -0.0030822754,
              -0.027954102,
              -0.019546509,
              0.054626465,
              0.008888245,
              -0.0048179626,
              -0.072753906,
              -0.0020141602,
              -0.013908386,
              0.014053345,
              0.03955078,
              -0.025909424,
              0.022888184,
              -0.008255005,
              -0.06109619,
              -0.015312195,
              -0.032470703,
              -0.011962891,
              0.006340027,
              -0.022125244,
              0.017211914,
              -0.041137695,
              0.012321472,
              0.00762558,
              0.025054932,
              0.040039062,
              0.020324707,
              -0.0015058517,
              0.007247925,
              0.009552002,
              0.054107666,
              0.034606934,
              0.038391113,
              -0.03111267,
              -0.03353882,
              -0.030410767,
              -0.017791748,
              0.0018510818,
              0.041046143,
              0.005016327,
              0.04321289,
              0.008872986,
              0.003370285,
              0.020080566,
              0.0680542,
              0.014274597,
              0.022537231,
              -0.019622803,
              -0.007030487,
              0.020339966,
              0.005466461,
              0.025115967,
              -0.040130615,
              0.014381409,
              -0.02482605,
              -0.058135986,
              -0.022506714,
              -0.008834839,
              0.083618164,
              0.02178955,
              0.0121536255,
              0.012779236,
              -0.02507019,
              -0.013542175,
              0.029266357,
              0.047027588,
              -0.009925842,
              0.028778076,
              0.007286072,
              -0.036193848,
              -0.004108429,
              0.025863647,
              0.027038574,
              0.04043579,
              -0.0062217712,
              -0.024536133,
              0.06329346,
              0.02708435,
              -0.0070114136,
              0.013923645,
              0.05697632,
              -0.059448242,
              0.0023727417,
              -0.002380371,
              0.01171875,
              -0.033050537,
              -0.006465912,
              -0.025787354,
              0.011169434,
              -0.009483337,
              -0.01133728,
              0.03277588,
              0.018539429,
              -0.0009608269,
              0.003742218,
              0.012786865,
              0.015380859,
              -0.025878906,
              0.0067481995,
              -0.017288208,
              -0.014167786,
              0.0073127747,
              0.01675415,
              0.03555298,
              0.004589081,
              0.037109375,
              0.0071144104,
              0.0042037964,
              0.0047836304,
              -0.052856445,
              -0.018539429,
              0.029388428,
              0.028671265,
              -0.0061187744,
              0.016540527,
              0.014579773,
              0.03286743,
              0.09338379,
              0.06561279,
              -0.025146484,
              0.0005888939,
              -0.03869629,
              0.035369873,
              0.02810669,
              0.000749588,
              -0.014320374,
              0.013473511,
              0.014526367,
              0.021270752,
              -0.010604858,
              -0.034362793,
              -0.009346008,
              0.02619934,
              0.01335907,
              -0.05319214,
              0.024856567,
              -0.05645752,
              0.015899658,
              -0.020935059,
              -0.097839355,
              0.009742737,
              0.04272461,
              -0.02067566,
              -0.050231934,
              -0.053253174,
              0.023834229,
              -0.023971558,
              -0.05996704,
              -0.050445557,
              -0.042114258,
              0.010734558,
              0.04937744,
              0.0121154785,
              -0.007835388,
              -0.020904541,
              -0.015022278,
              -0.0065307617,
              0.009712219,
              0.021057129,
              -0.018859863,
              -0.0008559227,
              0.03656006,
              0.004962921,
              0.039245605,
              -0.040039062,
              -0.026535034,
              -0.013175964,
              -0.0128479,
              0.01574707,
              0.013618469,
              0.013900757,
              0.02078247,
              -0.03656006,
              -0.05206299,
              0.042541504,
              0.0647583,
              -0.027496338,
              -0.02420044,
              0.0079956055,
              0.049713135,
              -0.057556152,
              -0.023864746,
              0.019882202,
              -0.03237915,
              -0.0038414001,
              -0.0033683777,
              -0.04019165,
              0.006412506,
              0.009674072,
              -0.030776978,
              -0.00028896332,
              0.0073509216,
              -0.07110596,
              -0.029251099,
              0.010406494,
              -0.032836914,
              0.0043945312,
              -0.04574585,
              -0.049560547,
              -0.011711121,
              -0.025985718,
              0.008026123,
              0.025039673,
              -0.0016546249,
              0.009864807,
              0.08001709,
              -0.0027427673,
              -0.027297974,
              0.023544312,
              0.062683105,
              0.025344849,
              0.015281677,
              0.0040740967,
              -0.024658203,
              0.0055732727,
              -0.028793335,
              -0.018310547,
              -0.032348633,
              -0.0013933182,
              -0.095336914,
              0.00025129318,
              -0.010093689,
              -0.0074005127,
              -0.035614014,
              0.0030822754,
              -0.03692627,
              -0.012237549,
              0.004295349,
              -0.026824951,
              0.024475098,
              0.06323242,
              0.0012760162,
              0.061676025,
              0.01335144,
              -0.017440796,
              -0.002735138,
              0.004398346,
              -0.07763672,
              0.039489746,
              -0.016281128,
              0.007484436,
              0.004207611,
              -0.026977539,
              -0.038146973,
              0.022140503,
              0.0066375732,
              -0.019943237,
              0.006427765,
              0.030288696,
              0.009750366,
              -0.0066337585,
              -0.032409668,
              -0.011192322,
              -0.030395508,
              -0.027313232,
              -0.047302246,
              0.010604858,
              -0.028762817,
              0.031036377,
              -0.021392822,
              -0.032073975,
              -0.06329346,
              -0.02418518,
              -0.0012149811,
              0.017929077,
              -0.013015747,
              0.0073280334,
              -0.018722534,
              -0.054351807,
              -0.06451416,
              0.0057029724,
              -0.015991211,
              0.025421143,
              -0.052337646,
              0.038330078,
              -0.0014562607,
              0.047027588,
              0.031173706,
              0.0027236938,
              -0.009513855,
              0.02154541,
              0.031555176,
              -0.004020691,
              -0.04949951,
              -0.007019043,
              -0.02217102,
              -0.023742676,
              0.033691406,
              0.018157959,
              -0.029327393,
              -0.025268555,
              -0.024261475,
              0.033111572,
              0.040527344,
              0.0029468536,
              -0.002521515,
              0.04034424,
              -0.043121338,
              0.025970459,
              -0.043060303,
              0.045166016,
              0.03475952,
              -0.020004272,
              -0.0028305054,
              -0.0012741089,
              0.027496338,
              0.014053345,
              -0.07128906,
              0.010597229,
              -0.011123657,
              -0.03338623,
              -0.074035645,
              -0.03753662,
              0.013633728,
              -0.05154419,
              -0.024429321,
              -0.014511108,
              -0.023117065,
              -0.05911255,
              0.0017604828,
              -0.020477295,
              -0.050567627,
              0.005367279,
              -0.009017944,
              -0.031829834,
              0.029510498,
              0.010635376,
              -0.011230469,
              -0.0030727386,
              0.055358887,
              0.0418396,
              0.0056991577,
              0.004825592,
              -0.0017175674,
              0.037628174,
              -0.039398193,
              0.03656006,
              -0.0078048706,
              0.0021820068,
              -0.027877808,
              0.01927185,
              -0.014907837,
              -0.036193848,
              0.020584106,
              0.011756897,
              0.04067993,
              0.004020691,
              -0.01687622,
              0.019561768,
              -0.035888672,
              -0.035308838,
              0.009468079,
              0.015319824,
              0.03074646,
              0.008110046,
              0.00015544891,
              0.059906006,
              -0.0006942749,
              -0.00023949146,
              0.025482178,
              -0.0024681091,
              -0.017456055,
              -0.019363403,
              0.0015935898,
              -0.046539307,
              0.0037822723,
              0.039642334,
              0.025909424,
              0.01802063,
              -0.01625061,
              -0.024658203,
              0.008079529,
              0.050079346,
              0.0038013458,
              0.0021247864,
              -0.064697266,
              -0.061462402,
              0.002664566,
              0.0016975403,
              -0.048828125,
              0.028366089,
              0.01576233,
              -0.03062439,
              -0.0335083,
              -0.019485474,
              -0.012466431,
              0.0007381439,
              0.039093018,
              -0.021362305,
              0.030548096,
              -0.023468018,
              -0.054534912,
              -0.031311035,
              0.04812622,
              0.008911133,
              0.0072250366,
              -0.004638672,
              -0.015129089,
              0.021835327,
              -0.006580353,
              0.03540039,
              0.0113220215,
              0.0055351257,
              -0.016937256,
              0.046905518,
              -0.0107040405,
              -0.014793396,
              0.017578125,
              -0.05731201,
              -0.023635864,
              -0.019851685,
              0.006576538,
              -0.018661499,
              -0.00762558,
              -0.053466797,
              0.03878784,
              -0.014801025,
              0.06311035,
              -0.023086548,
              0.013343811,
              0.00050354004,
              -0.006462097,
              -0.009277344,
              -0.0033035278,
              -0.030883789,
              -0.04034424,
              0.009346008,
              0.022521973,
              0.021255493,
              0.017364502,
              0.009559631,
              -0.012535095,
              -0.016525269,
              0.01727295,
              0.005268097,
              0.026535034,
              0.0017051697,
              -0.0038051605,
              0.033477783,
              -0.039642334,
              -0.031555176,
              -0.021713257,
              0.025253296,
              0.038024902,
              -0.06707764,
              -0.00409317,
              -0.025726318,
              -0.013442993,
              0.0023975372,
              -0.04748535,
              -0.03451538,
              -0.010398865,
              -0.015174866,
              -0.023025513,
              -0.03555298,
              -0.00340271,
              0.014541626,
              -0.0115356445,
              -0.04159546,
              -0.027023315,
              0.037841797,
              0.007007599,
              0.026382446,
              0.0051345825,
              -0.027923584,
              0.033203125,
              -0.022003174,
              -0.0061531067,
              -0.0058403015,
              -0.047424316,
              0.007949829,
              0.015899658,
              0.027053833,
              -0.028213501,
              0.015586853,
              -0.052825928,
              0.011604309,
              0.009819031,
              0.0501709,
              -0.019989014,
              -0.06304932,
              0.012336731,
              0.048828125,
              0.013168335,
              0.016677856,
              -0.015403748,
              0.0032958984,
              0.056396484,
              0.053710938,
              0.014831543,
              0.020996094,
              -0.000007748604,
              0.0014209747,
              -0.020599365,
              0.017059326,
              0.016921997,
              0.009483337,
              0.047210693,
              0.0057868958,
              -0.014305115,
              -0.0259552,
              0.011421204,
              -0.031677246,
              -0.000011622906,
              0.052642822,
              -0.048187256,
              0.02015686,
              -0.02545166,
              -0.03125,
              -0.008148193,
              -0.007980347,
              -0.057647705,
              -0.0039901733,
              -0.032806396,
              -0.006965637,
              0.03353882,
              -0.025131226,
              -0.033569336,
              -0.029769897,
              0.06137085,
              -0.017166138,
              -0.006713867,
              0.0034675598,
              -0.00078582764,
              -0.0519104,
              0.025527954,
              -0.011108398,
              -0.044952393,
              0.01398468,
              -0.0011730194,
              0.008926392,
              0.041778564,
              0.02029419,
              -0.014602661,
              0.01210022,
              0.0044555664,
              -0.028549194,
              -0.012794495,
              0.0066108704,
              0.005542755,
              -0.009063721,
              -0.03781128,
              -0.03111267,
              -0.016204834,
              -0.023498535,
              0.046966553,
              -0.021194458,
              -0.06329346,
              0.035461426,
              0.033111572,
              0.00881958,
              -0.005455017,
              0.02166748,
              0.00076007843,
              -0.011276245,
              -0.0020046234,
              -0.020629883,
              0.022979736,
              -0.03289795,
              -0.025527954,
              -0.0017795563,
              -0.048950195,
              0.016326904,
              0.027954102,
              0.031188965,
              -0.006088257,
              0.027297974,
              0.020187378,
              0.018035889,
              0.009666443,
              0.03100586,
              0.025863647,
              -0.022964478,
              -0.01979065,
              0.021392822,
              -0.0012340546,
              -0.0287323,
              -0.0060424805,
              0.0025138855,
              0.008674622,
              -0.020507812,
              -0.054016113,
              -0.03677368,
              -0.06329346,
              0.018493652,
              0.02003479,
              0.015792847,
              -0.025436401,
              0.0011854172,
              -0.0049591064,
              -0.022567749,
              0.070373535,
              0.025787354,
              0.017501831,
              -0.048614502,
              -0.0067214966,
              0.015991211,
              -0.021209717,
              -0.020095825,
              -0.036071777,
              0.013885498,
              0.026855469,
              0.02696228,
              -0.031021118,
              0.010093689,
              -0.02053833,
              -0.04547119,
              0.047576904,
              -0.0025749207,
              -0.00365448,
              0.0037612915,
              -0.0040664673,
              0.04083252,
              0.053833008,
              -0.0003323555,
              0.03475952,
              0.0006070137,
              0.0017004013,
              -0.00043416023,
              0.063964844,
              -0.0051193237,
              0.029510498,
              0.018295288,
              0.032562256,
              -0.0027103424,
              -0.02017212,
              -0.03643799,
              -0.0028629303,
              0.08905029,
              0.031219482,
              -0.024307251,
              0.022781372,
              -0.021697998,
              -0.084350586,
              -0.012359619,
              -0.04333496,
              0.051483154,
              0.012268066,
              0.0028877258,
              0.023620605,
              -0.017913818,
              -0.048339844,
              0.03375244,
              0.024398804,
              -0.018798828,
              -0.03451538,
              0.027542114,
              -0.005054474,
              0.010307312,
              0.011711121,
              -0.015670776,
              0.034576416,
              -0.021865845,
              0.007381439,
              -0.023223877,
              0.04876709,
              0.06964111,
              -0.00090026855,
              -0.055419922,
              -0.014701843,
              0.031555176,
              -0.018539429,
              -0.022827148,
              0.03643799,
              0.016159058,
              -0.088134766,
              0.020568848,
              0.025283813,
              -0.012786865,
              -0.0053596497,
              -0.0026779175,
              0.015594482,
              -0.031341553,
              -0.034454346,
              -0.06463623,
              0.04446411,
              0.03451538,
              -0.0051727295,
              -0.0368042,
              0.0009646416,
              0.008010864,
              0.019699097,
              0.02961731,
              0.03540039,
              0.008865356,
              0.041992188,
              -0.025726318,
              -0.023468018,
              0.01146698,
              -0.0073509216,
              -0.0042266846,
              0.02279663,
              -0.03302002,
              0.06011963,
              -0.001868248,
              -0.048431396,
              0.066589355,
              -0.001830101,
              -0.07543945,
              0.0063056946,
              -0.018173218,
              0.017471313,
              -0.019134521,
              0.031036377,
              0.022918701,
              -0.061309814,
              -0.050354004,
              -0.043762207,
              0.032318115,
              0.03817749,
              -0.031982422,
              0.06878662,
              -0.05783081,
              -0.007499695,
              0.03652954,
              -0.042816162,
              0.026382446,
              -0.03213501,
              0.04736328,
              0.015525818,
              -0.02279663,
              0.038879395,
              -0.019134521,
              -0.013641357,
              0.020111084,
              0.06604004,
              -0.05291748,
              -0.007331848,
              -0.023208618,
              -0.0129776,
              -0.011184692,
              0.0592041,
              0.015304565,
              -0.013450623,
              -0.027832031,
              -0.02633667,
              -0.055725098,
              -0.03717041,
              -0.008865356,
              -0.017822266,
              -0.039520264,
              -0.020233154,
              -0.008560181,
              -0.010475159,
              -0.026290894,
              -0.019210815,
              0.001411438,
              -0.0013046265,
              -0.078186035,
              -0.00012731552,
              -0.017532349,
              -0.003982544,
              -0.026016235,
              -0.008331299,
              -0.02015686,
              0.02885437,
              -0.026306152,
              -0.014762878,
              -0.013549805,
              -0.016967773,
              -0.02583313,
              0.009918213,
              -0.037628174,
              0.0044555664,
              0.039245605,
              -0.031982422,
              0.037261963,
              0.006214142,
              -0.028808594,
              -0.016464233,
              -0.008544922,
              0.033721924,
              -0.030349731,
              0.008270264,
              -0.0112838745,
              0.05303955,
              0.025726318,
              -0.08355713,
              -0.016540527,
              -0.012191772,
              0.0118637085,
              0.006793976,
              0.034210205,
              0.012535095,
              0.021438599,
              -0.031143188,
              0.03048706,
              -0.020446777,
              -0.045043945,
              0.012016296,
              -0.051239014,
              0.014801025,
              -0.0128479,
              -0.01448822,
              -0.0418396,
              0.017959595,
              0.0034885406,
              -0.012397766,
              0.01864624,
              -0.010353088,
              0.015563965,
              -0.0021591187,
              0.024780273,
              -0.03338623,
              0.030975342,
              0.0076675415,
              0.017028809,
              -0.032806396,
              0.018188477,
              -0.022705078,
              -0.013343811,
              -0.014221191,
              0.017501831,
              -0.022842407,
              -0.07104492,
              0.034088135,
              0.033996582,
              0.016448975,
              0.02468872,
              -0.027008057,
              -0.025817871,
              -0.008384705,
              -0.022537231,
              0.0155181885,
              -0.0015172958,
              0.0007390976,
              -0.06567383,
              -0.03829956,
              0.024963379,
              -0.08282471,
              -0.044830322,
              -0.08630371,
              0.058532715,
              -0.055419922,
              0.0115356445,
              -0.0046806335,
              -0.04144287,
              -0.015510559,
              -0.033599854,
              0.0033473969,
              -0.030014038,
              -0.04232788,
              -0.03677368,
              -0.015617371,
              0.018539429
            ]
          ],
          "meta": {
            "api_version": {
              "version": "1"
            },
            "billed_units": {
              "input_tokens": 1
            }
          },
          "response_type": "embeddings_floats"
        }
      }
    ]
  },
  "versionId": "9df5be48-3371-45b4-a0d3-1e9450ad8584",
  "triggerCount": 0,
  "tags": []
}